<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,690},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,768},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{773,773},{139,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,833},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,911},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,846},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{773,914},{139,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,989},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,924},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,1002},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{773,1055},{139,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,1067},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,1080},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,1158},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{1,1125},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{142,1125},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{283,1125},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{424,1125},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{565,1145},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{706,1196},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,209},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{773,209},{139,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{847,1236},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{1,1203},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{142,1203},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{283,1203},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{424,1203},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{565,1223},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{706,1274},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{847,1314},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{1,1281},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{142,1281},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{283,1281},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{424,1281},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,287},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,222},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,300},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{773,350},{139,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,365},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,443},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,378},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,456},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{773,491},{139,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,521},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,599},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,534},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{851,612},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{773,632},{139,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,677},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{632,755},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bochon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,68}</string>
                <key>spriteSourceSize</key>
                <string>{219,68}</string>
                <key>textureRect</key>
                <string>{{632,1},{219,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dongchan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,68}</string>
                <key>spriteSourceSize</key>
                <string>{219,68}</string>
                <key>textureRect</key>
                <string>{{853,1},{219,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_dongle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,68}</string>
                <key>spriteSourceSize</key>
                <string>{219,68}</string>
                <key>textureRect</key>
                <string>{{923,1},{219,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tatca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,68}</string>
                <key>spriteSourceSize</key>
                <string>{219,68}</string>
                <key>textureRect</key>
                <string>{{632,71},{219,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{565,1301},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1122,629}</string>
                <key>spriteSourceSize</key>
                <string>{1122,629}</string>
                <key>textureRect</key>
                <string>{{1,1},{1122,629}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_chon_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{632,141},{192,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>selectLines.png</string>
            <key>size</key>
            <string>{992,1391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43381b072496fcf3d8d000e17742709c:09d277b51ba41a35e140b6fb3502c68a:e403bc30b0349bac204358262ecaeefe$</string>
            <key>textureFileName</key>
            <string>selectLines.png</string>
        </dict>
    </dict>
</plist>
