<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgTimer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,180}</string>
                <key>spriteSourceSize</key>
                <string>{167,180}</string>
                <key>textureRect</key>
                <string>{{233,1},{167,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>finishedNotification.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,465}</string>
                <key>spriteSourceSize</key>
                <string>{750,465}</string>
                <key>textureRect</key>
                <string>{{1,174},{750,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,230}</string>
                <key>spriteSourceSize</key>
                <string>{148,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>totalMoneyBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,171}</string>
                <key>spriteSourceSize</key>
                <string>{364,171}</string>
                <key>textureRect</key>
                <string>{{415,1},{364,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigCityBoyBonus.png</string>
            <key>size</key>
            <string>{780,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa7f1f090d823356e0c4c86c1385c4c1:a830f1a6f02dffae40f0c54bafc0cacc:832bc63e89bdea4dbf34b82c4e59a59b$</string>
            <key>textureFileName</key>
            <string>BigCityBoyBonus.png</string>
        </dict>
    </dict>
</plist>
