<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,184}</string>
                <key>spriteSourceSize</key>
                <string>{830,184}</string>
                <key>textureRect</key>
                <string>{{1,217},{830,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,157}</string>
                <key>spriteSourceSize</key>
                <string>{830,157}</string>
                <key>textureRect</key>
                <string>{{1,58},{830,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,55}</string>
                <key>spriteSourceSize</key>
                <string>{151,55}</string>
                <key>textureRect</key>
                <string>{{252,1},{151,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,55}</string>
                <key>spriteSourceSize</key>
                <string>{151,55}</string>
                <key>textureRect</key>
                <string>{{405,1},{151,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,46}</string>
                <key>textureRect</key>
                <string>{{139,1},{54,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{25,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{49,1},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{95,1},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{195,1},{55,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soicau_2.png</string>
            <key>size</key>
            <string>{832,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dbea2e5e9f11ec3a9d270a62b619148:deb9f1b0c905b74edad257ee8f478729:719e42caeb480379bc591e6860787c4b$</string>
            <key>textureFileName</key>
            <string>soicau_2.png</string>
        </dict>
    </dict>
</plist>
