<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{152,60}</string>
                <key>textureRect</key>
                <string>{{982,307},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{1332,272},{95,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,79}</string>
                <key>spriteSourceSize</key>
                <string>{131,79}</string>
                <key>textureRect</key>
                <string>{{947,369},{131,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnGuide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{1229,369},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,79}</string>
                <key>spriteSourceSize</key>
                <string>{224,79}</string>
                <key>textureRect</key>
                <string>{{721,369},{224,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{1326,369},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choiThat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,85}</string>
                <key>spriteSourceSize</key>
                <string>{127,85}</string>
                <key>textureRect</key>
                <string>{{1317,1},{127,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choiThu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,85}</string>
                <key>spriteSourceSize</key>
                <string>{127,85}</string>
                <key>textureRect</key>
                <string>{{1203,272},{127,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{66,72}</string>
                <key>textureRect</key>
                <string>{{982,101},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fastActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{66,72}</string>
                <key>textureRect</key>
                <string>{{1080,369},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freeSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{1317,130},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freespinbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,83}</string>
                <key>spriteSourceSize</key>
                <string>{219,83}</string>
                <key>textureRect</key>
                <string>{{982,222},{219,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungChinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,350}</string>
                <key>spriteSourceSize</key>
                <string>{718,350}</string>
                <key>textureRect</key>
                <string>{{1,101},{718,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>labelChoiThu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,48}</string>
                <key>spriteSourceSize</key>
                <string>{189,48}</string>
                <key>textureRect</key>
                <string>{{1203,222},{189,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftNumber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,419}</string>
                <key>spriteSourceSize</key>
                <string>{16,419}</string>
                <key>textureRect</key>
                <string>{{982,204},{16,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,11}</string>
                <key>spriteSourceSize</key>
                <string>{506,11}</string>
                <key>textureRect</key>
                <string>{{721,450},{506,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightNumber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,390}</string>
                <key>spriteSourceSize</key>
                <string>{19,390}</string>
                <key>textureRect</key>
                <string>{{982,183},{19,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>to01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,261}</string>
                <key>spriteSourceSize</key>
                <string>{180,261}</string>
                <key>textureRect</key>
                <string>{{1054,1},{180,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>to02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,266}</string>
                <key>spriteSourceSize</key>
                <string>{259,266}</string>
                <key>textureRect</key>
                <string>{{721,101},{259,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uiBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1051,98}</string>
                <key>spriteSourceSize</key>
                <string>{1051,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{1051,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{1404,1},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HalloweenMain.png</string>
            <key>size</key>
            <string>{1425,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4729fa14784d84b98038dc7daf3153c:3fb459dc1fed59e9f8683c46588e8c1d:551d13ebd1aafa12e3c45d52ac948fc5$</string>
            <key>textureFileName</key>
            <string>HalloweenMain.png</string>
        </dict>
    </dict>
</plist>
