<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tag_ck_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_ck_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{202,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_code_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{403,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_code_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{604,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_thecao_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{805,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_thecao_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{1006,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_tienao_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{1207,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_tienao_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{1408,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_vi_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{1609,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_vi_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{1810,1},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopTitle.png</string>
            <key>size</key>
            <string>{2010,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1861389b47dfb17245a85ebcd32ab8ef:b4f63a2d27e474d02473c61aaca13368:1b5ba257dd7dd8b5a4c5d35ccad3dd02$</string>
            <key>textureFileName</key>
            <string>shopTitle.png</string>
        </dict>
    </dict>
</plist>
