<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnPrev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,111}</string>
                <key>textureRect</key>
                <string>{{1,115},{85,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigCityBoyPopUp.png</string>
            <key>size</key>
            <string>{87,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:132b6ab9ed71d5da7da432b8f67f173c:c0aad723197def96a11159ff6f3f5023:a3e3b9b1420046ef54f96e4c6d8a7be8$</string>
            <key>textureFileName</key>
            <string>BigCityBoyPopUp.png</string>
        </dict>
    </dict>
</plist>
