<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lb_bg_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,56}</string>
                <key>spriteSourceSize</key>
                <string>{106,56}</string>
                <key>textureRect</key>
                <string>{{337,1},{106,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lb_bg_text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{185,1},{150,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lb_bg_text_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,37}</string>
                <key>spriteSourceSize</key>
                <string>{145,37}</string>
                <key>textureRect</key>
                <string>{{38,1},{145,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lb_bg_text_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,56}</string>
                <key>spriteSourceSize</key>
                <string>{107,56}</string>
                <key>textureRect</key>
                <string>{{445,1},{107,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lb_bg_thong_bao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,50}</string>
                <key>spriteSourceSize</key>
                <string>{834,50}</string>
                <key>textureRect</key>
                <string>{{1,73},{834,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lb_dollar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,86}</string>
                <key>textureRect</key>
                <string>{{554,1},{70,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lb_icon_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lb_khung_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{837,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_web.png</string>
            <key>size</key>
            <string>{988,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e0fad44934c62720bc9e5218d782568:ef90e3be3f59d00982f1ea27a7fe725b:4784e3e6aa62eee8cff7d518f2fd9c98$</string>
            <key>textureFileName</key>
            <string>lobby_web.png</string>
        </dict>
    </dict>
</plist>
