<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ic_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{93,96}</string>
                <key>textureRect</key>
                <string>{{282,1},{93,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{199,1},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{93,96}</string>
                <key>textureRect</key>
                <string>{{380,1},{93,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1122,629}</string>
                <key>spriteSourceSize</key>
                <string>{1122,629}</string>
                <key>textureRect</key>
                <string>{{1,96},{1122,629}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_HD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,68}</string>
                <key>spriteSourceSize</key>
                <string>{196,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sexyDanceGuide.png</string>
            <key>size</key>
            <string>{631,1219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88245cd49abbbc92ffff32bd44fadf63:1a5cc606a8f1dbf305a4ab1208e9a108:711fc77c8bb1127a67d542ecac0bff91$</string>
            <key>textureFileName</key>
            <string>sexyDanceGuide.png</string>
        </dict>
    </dict>
</plist>
