<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,165}</string>
                <key>spriteSourceSize</key>
                <string>{153,165}</string>
                <key>textureRect</key>
                <string>{{333,510},{153,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,158}</string>
                <key>spriteSourceSize</key>
                <string>{186,158}</string>
                <key>textureRect</key>
                <string>{{1,802},{186,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,150}</string>
                <key>spriteSourceSize</key>
                <string>{155,150}</string>
                <key>textureRect</key>
                <string>{{324,665},{155,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{788,374},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{324,817},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{788,526},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,178}</string>
                <key>spriteSourceSize</key>
                <string>{185,178}</string>
                <key>textureRect</key>
                <string>{{1,413},{185,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{481,671},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,146}</string>
                <key>spriteSourceSize</key>
                <string>{177,146}</string>
                <key>textureRect</key>
                <string>{{791,1},{177,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{478,823},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{633,671},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{630,823},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,144}</string>
                <key>spriteSourceSize</key>
                <string>{159,144}</string>
                <key>textureRect</key>
                <string>{{500,510},{159,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,176}</string>
                <key>spriteSourceSize</key>
                <string>{161,176}</string>
                <key>textureRect</key>
                <string>{{161,802},{161,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,98}</string>
                <key>spriteSourceSize</key>
                <string>{166,98}</string>
                <key>textureRect</key>
                <string>{{178,219},{166,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,212}</string>
                <key>spriteSourceSize</key>
                <string>{153,212}</string>
                <key>textureRect</key>
                <string>{{375,1},{153,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,207}</string>
                <key>spriteSourceSize</key>
                <string>{186,207}</string>
                <key>textureRect</key>
                <string>{{187,1},{186,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,200}</string>
                <key>spriteSourceSize</key>
                <string>{153,200}</string>
                <key>textureRect</key>
                <string>{{589,1},{153,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,200}</string>
                <key>spriteSourceSize</key>
                <string>{138,200}</string>
                <key>textureRect</key>
                <string>{{333,308},{138,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,200}</string>
                <key>spriteSourceSize</key>
                <string>{152,200}</string>
                <key>textureRect</key>
                <string>{{1,600},{152,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,200}</string>
                <key>spriteSourceSize</key>
                <string>{136,200}</string>
                <key>textureRect</key>
                <string>{{473,308},{136,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,216}</string>
                <key>spriteSourceSize</key>
                <string>{184,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{375,156},{150,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,192}</string>
                <key>spriteSourceSize</key>
                <string>{175,192}</string>
                <key>textureRect</key>
                <string>{{1,219},{175,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{577,156},{150,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{155,600},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{181,387},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,192}</string>
                <key>spriteSourceSize</key>
                <string>{158,192}</string>
                <key>textureRect</key>
                <string>{{779,180},{158,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,140}</string>
                <key>spriteSourceSize</key>
                <string>{161,140}</string>
                <key>textureRect</key>
                <string>{{646,440},{161,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,130}</string>
                <key>spriteSourceSize</key>
                <string>{166,130}</string>
                <key>textureRect</key>
                <string>{{611,308},{166,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbols.png</string>
            <key>size</key>
            <string>{938,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa0584003b3ff8c11e68bc87c917ec70:3126c64c5c8755dcddcb727904eb57d2:2bcb29b8f134a5266afa2a321dc3b770$</string>
            <key>textureFileName</key>
            <string>symbols.png</string>
        </dict>
    </dict>
</plist>
