<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,183}</string>
                <key>spriteSourceSize</key>
                <string>{187,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>congdong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,28}</string>
                <key>spriteSourceSize</key>
                <string>{130,28}</string>
                <key>textureRect</key>
                <string>{{38,189},{130,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanpage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,16}</string>
                <key>spriteSourceSize</key>
                <string>{87,16}</string>
                <key>textureRect</key>
                <string>{{110,230},{87,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_fanpgae.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{170,193},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_group.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{38,219},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_livechat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{1,193},{40,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_tele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{74,219},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,1}</string>
                <key>spriteSourceSize</key>
                <string>{184,1}</string>
                <key>textureRect</key>
                <string>{{1,186},{184,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>livechat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,16}</string>
                <key>spriteSourceSize</key>
                <string>{90,16}</string>
                <key>textureRect</key>
                <string>{{190,101},{90,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,16}</string>
                <key>spriteSourceSize</key>
                <string>{98,16}</string>
                <key>textureRect</key>
                <string>{{190,1},{98,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>supports.png</string>
            <key>size</key>
            <string>{207,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0805ff329ededdae8c805526a90742e2:d9eb5dcd6e311b06ba8a000627b3fb54:487125e84612c94401bd862452586a97$</string>
            <key>textureFileName</key>
            <string>supports.png</string>
        </dict>
    </dict>
</plist>
