<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bang-soi-cau@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,144}</string>
                <key>spriteSourceSize</key>
                <string>{334,144}</string>
                <key>textureRect</key>
                <string>{{1,127},{334,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,20}</string>
                <key>spriteSourceSize</key>
                <string>{47,20}</string>
                <key>textureRect</key>
                <string>{{147,451},{47,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{147,309},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>le@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{196,451},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mui-ten@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,124}</string>
                <key>spriteSourceSize</key>
                <string>{226,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sangVang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{147,127},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sangXanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{147,218},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{147,380},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soiCau.png</string>
            <key>size</key>
            <string>{237,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b9186d0e3f90d3ee840191783d70a4b:cb2179ab9d02aaf96c929b6c523a49b1:cd1fdd0a6bf4bb069a4a4e54948e740f$</string>
            <key>textureFileName</key>
            <string>soiCau.png</string>
        </dict>
    </dict>
</plist>
