<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1144,429}</string>
                <key>spriteSourceSize</key>
                <string>{1144,429}</string>
                <key>textureRect</key>
                <string>{{1,1},{1144,429}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1050,401}</string>
                <key>spriteSourceSize</key>
                <string>{1050,401}</string>
                <key>textureRect</key>
                <string>{{478,1},{1050,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{967,364}</string>
                <key>spriteSourceSize</key>
                <string>{967,364}</string>
                <key>textureRect</key>
                <string>{{652,404},{967,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{924,410}</string>
                <key>spriteSourceSize</key>
                <string>{924,410}</string>
                <key>textureRect</key>
                <string>{{652,770},{924,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 35 copy 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{741,218}</string>
                <key>spriteSourceSize</key>
                <string>{741,218}</string>
                <key>textureRect</key>
                <string>{{432,404},{741,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bang_thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,47}</string>
                <key>spriteSourceSize</key>
                <string>{348,47}</string>
                <key>textureRect</key>
                <string>{{1530,1},{348,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,34}</string>
                <key>spriteSourceSize</key>
                <string>{314,34}</string>
                <key>textureRect</key>
                <string>{{38,1196},{314,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,1196},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huong_dan_chung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,47}</string>
                <key>spriteSourceSize</key>
                <string>{475,47}</string>
                <key>textureRect</key>
                <string>{{1,1147},{475,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,103}</string>
                <key>spriteSourceSize</key>
                <string>{47,103}</string>
                <key>textureRect</key>
                <string>{{478,1182},{47,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{1620,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f73eeed1a21677fb83657e19881afbb:a52ed065ce7f3eaa331b8a12358d7718:6f6c407afce584d64ce65df7e3a7492e$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
