<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,70}</string>
                <key>spriteSourceSize</key>
                <string>{134,70}</string>
                <key>textureRect</key>
                <string>{{414,1167},{134,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,109}</string>
                <key>spriteSourceSize</key>
                <string>{97,109}</string>
                <key>textureRect</key>
                <string>{{802,1191},{97,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,109}</string>
                <key>spriteSourceSize</key>
                <string>{97,109}</string>
                <key>textureRect</key>
                <string>{{802,1191},{97,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{790,208},{137,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{474,901},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,116}</string>
                <key>spriteSourceSize</key>
                <string>{77,116}</string>
                <key>textureRect</key>
                <string>{{356,940},{77,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,43}</string>
                <key>spriteSourceSize</key>
                <string>{122,43}</string>
                <key>textureRect</key>
                <string>{{659,789},{122,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,113}</string>
                <key>spriteSourceSize</key>
                <string>{124,113}</string>
                <key>textureRect</key>
                <string>{{786,578},{124,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,89}</string>
                <key>spriteSourceSize</key>
                <string>{122,89}</string>
                <key>textureRect</key>
                <string>{{784,767},{122,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{767,1079},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,70}</string>
                <key>spriteSourceSize</key>
                <string>{134,70}</string>
                <key>textureRect</key>
                <string>{{414,1167},{134,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,128}</string>
                <key>spriteSourceSize</key>
                <string>{125,128}</string>
                <key>textureRect</key>
                <string>{{659,541},{125,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{414,1019},{146,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{85,77}</string>
                <key>textureRect</key>
                <string>{{699,834},{85,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{790,208},{137,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,193}</string>
                <key>spriteSourceSize</key>
                <string>{199,193}</string>
                <key>textureRect</key>
                <string>{{340,1},{199,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{690,1230},{116,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,73}</string>
                <key>spriteSourceSize</key>
                <string>{95,73}</string>
                <key>textureRect</key>
                <string>{{558,813},{95,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,73}</string>
                <key>textureRect</key>
                <string>{{550,1155},{103,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,87}</string>
                <key>spriteSourceSize</key>
                <string>{89,87}</string>
                <key>textureRect</key>
                <string>{{808,1302},{89,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{808,1391},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,70}</string>
                <key>spriteSourceSize</key>
                <string>{119,70}</string>
                <key>textureRect</key>
                <string>{{587,692},{119,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,128}</string>
                <key>spriteSourceSize</key>
                <string>{125,128}</string>
                <key>textureRect</key>
                <string>{{659,541},{125,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{414,1019},{146,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{106,118}</string>
                <key>textureRect</key>
                <string>{{591,888},{106,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{790,208},{137,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,193}</string>
                <key>spriteSourceSize</key>
                <string>{199,193}</string>
                <key>textureRect</key>
                <string>{{340,1},{199,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{691,1348},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,112}</string>
                <key>textureRect</key>
                <string>{{652,1008},{117,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{101,110}</string>
                <key>textureRect</key>
                <string>{{655,1127},{101,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,83}</string>
                <key>spriteSourceSize</key>
                <string>{115,83}</string>
                <key>textureRect</key>
                <string>{{469,1379},{115,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{802,858},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{586,1360},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,128}</string>
                <key>spriteSourceSize</key>
                <string>{125,128}</string>
                <key>textureRect</key>
                <string>{{659,541},{125,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{414,1019},{146,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,183}</string>
                <key>spriteSourceSize</key>
                <string>{198,183}</string>
                <key>textureRect</key>
                <string>{{541,1},{198,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{790,208},{137,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,193}</string>
                <key>spriteSourceSize</key>
                <string>{199,193}</string>
                <key>textureRect</key>
                <string>{{340,1},{199,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,111}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{766,966},{116,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,116}</string>
                <key>spriteSourceSize</key>
                <string>{123,116}</string>
                <key>textureRect</key>
                <string>{{659,671},{123,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,72}</string>
                <key>spriteSourceSize</key>
                <string>{126,72}</string>
                <key>textureRect</key>
                <string>{{784,693},{126,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,103}</string>
                <key>spriteSourceSize</key>
                <string>{134,103}</string>
                <key>textureRect</key>
                <string>{{547,1019},{134,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,113}</string>
                <key>spriteSourceSize</key>
                <string>{128,113}</string>
                <key>textureRect</key>
                <string>{{575,1230},{128,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,104}</string>
                <key>textureRect</key>
                <string>{{469,1239},{138,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,183}</string>
                <key>spriteSourceSize</key>
                <string>{134,183}</string>
                <key>textureRect</key>
                <string>{{1,1280},{134,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,222}</string>
                <key>spriteSourceSize</key>
                <string>{97,222}</string>
                <key>textureRect</key>
                <string>{{340,196},{97,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,222}</string>
                <key>spriteSourceSize</key>
                <string>{97,222}</string>
                <key>textureRect</key>
                <string>{{340,196},{97,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,256}</string>
                <key>spriteSourceSize</key>
                <string>{141,256}</string>
                <key>textureRect</key>
                <string>{{197,1},{141,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,229}</string>
                <key>spriteSourceSize</key>
                <string>{115,229}</string>
                <key>textureRect</key>
                <string>{{673,310},{115,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,229}</string>
                <key>spriteSourceSize</key>
                <string>{77,229}</string>
                <key>textureRect</key>
                <string>{{118,1041},{77,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,156}</string>
                <key>spriteSourceSize</key>
                <string>{122,156}</string>
                <key>textureRect</key>
                <string>{{564,186},{122,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,226}</string>
                <key>spriteSourceSize</key>
                <string>{124,226}</string>
                <key>textureRect</key>
                <string>{{411,295},{124,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,202}</string>
                <key>spriteSourceSize</key>
                <string>{122,202}</string>
                <key>textureRect</key>
                <string>{{228,1261},{122,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{270,535},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,183}</string>
                <key>spriteSourceSize</key>
                <string>{134,183}</string>
                <key>textureRect</key>
                <string>{{1,1280},{134,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,244}</string>
                <key>spriteSourceSize</key>
                <string>{118,244}</string>
                <key>textureRect</key>
                <string>{{1,795},{118,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,243}</string>
                <key>spriteSourceSize</key>
                <string>{144,243}</string>
                <key>textureRect</key>
                <string>{{1,550},{144,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,182}</string>
                <key>spriteSourceSize</key>
                <string>{85,182}</string>
                <key>textureRect</key>
                <string>{{500,523},{85,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,256}</string>
                <key>spriteSourceSize</key>
                <string>{141,256}</string>
                <key>textureRect</key>
                <string>{{197,1},{141,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,299}</string>
                <key>spriteSourceSize</key>
                <string>{194,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,232}</string>
                <key>spriteSourceSize</key>
                <string>{116,232}</string>
                <key>textureRect</key>
                <string>{{238,786},{116,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,178}</string>
                <key>spriteSourceSize</key>
                <string>{95,178}</string>
                <key>textureRect</key>
                <string>{{356,760},{95,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,178}</string>
                <key>spriteSourceSize</key>
                <string>{103,178}</string>
                <key>textureRect</key>
                <string>{{453,721},{103,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,192}</string>
                <key>spriteSourceSize</key>
                <string>{89,192}</string>
                <key>textureRect</key>
                <string>{{137,1272},{89,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,179}</string>
                <key>spriteSourceSize</key>
                <string>{70,179}</string>
                <key>textureRect</key>
                <string>{{587,511},{70,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,88}</string>
                <key>spriteSourceSize</key>
                <string>{60,88}</string>
                <key>textureRect</key>
                <string>{{722,208},{60,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,244}</string>
                <key>spriteSourceSize</key>
                <string>{118,244}</string>
                <key>textureRect</key>
                <string>{{1,795},{118,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,243}</string>
                <key>spriteSourceSize</key>
                <string>{144,243}</string>
                <key>textureRect</key>
                <string>{{1,550},{144,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,229}</string>
                <key>spriteSourceSize</key>
                <string>{105,229}</string>
                <key>textureRect</key>
                <string>{{197,1030},{105,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,256}</string>
                <key>spriteSourceSize</key>
                <string>{141,256}</string>
                <key>textureRect</key>
                <string>{{197,1},{141,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,299}</string>
                <key>spriteSourceSize</key>
                <string>{194,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,237}</string>
                <key>spriteSourceSize</key>
                <string>{115,237}</string>
                <key>textureRect</key>
                <string>{{1,1041},{115,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,229}</string>
                <key>spriteSourceSize</key>
                <string>{116,229}</string>
                <key>textureRect</key>
                <string>{{790,347},{116,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,231}</string>
                <key>spriteSourceSize</key>
                <string>{101,231}</string>
                <key>textureRect</key>
                <string>{{179,302},{101,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,202}</string>
                <key>spriteSourceSize</key>
                <string>{115,202}</string>
                <key>textureRect</key>
                <string>{{352,1249},{115,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,227}</string>
                <key>spriteSourceSize</key>
                <string>{108,227}</string>
                <key>textureRect</key>
                <string>{{304,1020},{108,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,202}</string>
                <key>spriteSourceSize</key>
                <string>{115,202}</string>
                <key>textureRect</key>
                <string>{{352,1249},{115,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,244}</string>
                <key>spriteSourceSize</key>
                <string>{118,244}</string>
                <key>textureRect</key>
                <string>{{1,795},{118,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,243}</string>
                <key>spriteSourceSize</key>
                <string>{144,243}</string>
                <key>textureRect</key>
                <string>{{1,550},{144,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,246}</string>
                <key>spriteSourceSize</key>
                <string>{176,246}</string>
                <key>textureRect</key>
                <string>{{1,302},{176,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,256}</string>
                <key>spriteSourceSize</key>
                <string>{141,256}</string>
                <key>textureRect</key>
                <string>{{197,1},{141,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,299}</string>
                <key>spriteSourceSize</key>
                <string>{194,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,233}</string>
                <key>spriteSourceSize</key>
                <string>{115,233}</string>
                <key>textureRect</key>
                <string>{{121,795},{115,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,234}</string>
                <key>spriteSourceSize</key>
                <string>{121,234}</string>
                <key>textureRect</key>
                <string>{{147,550},{121,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,195}</string>
                <key>spriteSourceSize</key>
                <string>{126,195}</string>
                <key>textureRect</key>
                <string>{{372,524},{126,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,199}</string>
                <key>spriteSourceSize</key>
                <string>{134,199}</string>
                <key>textureRect</key>
                <string>{{537,310},{134,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,227}</string>
                <key>spriteSourceSize</key>
                <string>{127,227}</string>
                <key>textureRect</key>
                <string>{{282,295},{127,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,205}</string>
                <key>spriteSourceSize</key>
                <string>{137,205}</string>
                <key>textureRect</key>
                <string>{{741,1},{137,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FAFIcon.png</string>
            <key>size</key>
            <string>{911,1466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87c62e7f47c7131d212989ccf8c98dc1:d9b11d952456ce88cb96b34f15b85f3c:04593874ed8c8043e5a31f88a9690425$</string>
            <key>textureFileName</key>
            <string>FAFIcon.png</string>
        </dict>
    </dict>
</plist>
