<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HIỆU ỨNG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,34}</string>
                <key>textureRect</key>
                <string>{{570,132},{165,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,53}</string>
                <key>spriteSourceSize</key>
                <string>{167,53}</string>
                <key>textureRect</key>
                <string>{{740,93},{167,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LỊCH SỬ HŨ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,44}</string>
                <key>spriteSourceSize</key>
                <string>{447,44}</string>
                <key>textureRect</key>
                <string>{{570,1},{447,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LỊCH SỬ ĐẶT CƯỢC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,44}</string>
                <key>spriteSourceSize</key>
                <string>{447,44}</string>
                <key>textureRect</key>
                <string>{{570,47},{447,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NHẠC NỀN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,37}</string>
                <key>spriteSourceSize</key>
                <string>{168,37}</string>
                <key>textureRect</key>
                <string>{{570,93},{168,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{909,93},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{737,148},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PANEL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,247}</string>
                <key>spriteSourceSize</key>
                <string>{567,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{567,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{814,148},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settings.png</string>
            <key>size</key>
            <string>{1018,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b64528075784348ce4050fa9c630327:f6e2e0f45917b20a738685f689bb80e5:b272f908d41fd8e3cdf1bdfb80736dbb$</string>
            <key>textureFileName</key>
            <string>settings.png</string>
        </dict>
    </dict>
</plist>
