<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>-e-chuoidm5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,44}</string>
                <key>spriteSourceSize</key>
                <string>{98,44}</string>
                <key>textureRect</key>
                <string>{{1578,1862},{98,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-16-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,209}</string>
                <key>spriteSourceSize</key>
                <string>{240,209}</string>
                <key>textureRect</key>
                <string>{{1563,246},{240,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-16@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,191}</string>
                <key>spriteSourceSize</key>
                <string>{222,191}</string>
                <key>textureRect</key>
                <string>{{1563,1100},{222,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-4-@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,191}</string>
                <key>spriteSourceSize</key>
                <string>{222,191}</string>
                <key>textureRect</key>
                <string>{{1563,907},{222,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-4-sang-@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,209}</string>
                <key>spriteSourceSize</key>
                <string>{240,209}</string>
                <key>textureRect</key>
                <string>{{1563,35},{240,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-4-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,209}</string>
                <key>spriteSourceSize</key>
                <string>{214,209}</string>
                <key>textureRect</key>
                <string>{{1,1826},{214,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,191}</string>
                <key>spriteSourceSize</key>
                <string>{196,191}</string>
                <key>textureRect</key>
                <string>{{741,1826},{196,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1-6-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,209}</string>
                <key>spriteSourceSize</key>
                <string>{214,209}</string>
                <key>textureRect</key>
                <string>{{217,1826},{214,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-6@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,191}</string>
                <key>spriteSourceSize</key>
                <string>{196,191}</string>
                <key>textureRect</key>
                <string>{{934,1826},{196,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BG_xocdia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,1170}</string>
                <key>spriteSourceSize</key>
                <string>{1560,1170}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,1170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>as-user-chinh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{1417,1871},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{1690,1629},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{1686,1750},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back-button@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{1478,1820},{41,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c-hat-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{1727,1293},{70,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ch-t-c-c@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,18}</string>
                <key>spriteSourceSize</key>
                <string>{111,18}</string>
                <key>textureRect</key>
                <string>{{1792,869},{111,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan-1-2-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,173}</string>
                <key>spriteSourceSize</key>
                <string>{250,173}</string>
                <key>textureRect</key>
                <string>{{1212,1293},{250,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan-1-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,153}</string>
                <key>spriteSourceSize</key>
                <string>{230,153}</string>
                <key>textureRect</key>
                <string>{{1563,559},{230,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,36}</string>
                <key>spriteSourceSize</key>
                <string>{227,36}</string>
                <key>textureRect</key>
                <string>{{1563,869},{227,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chen@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,179}</string>
                <key>spriteSourceSize</key>
                <string>{199,179}</string>
                <key>textureRect</key>
                <string>{{560,1826},{199,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cong-dong@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1308,1545},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>copy-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,45}</string>
                <key>spriteSourceSize</key>
                <string>{71,45}</string>
                <key>textureRect</key>
                <string>{{1717,1521},{71,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>copy-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,65}</string>
                <key>spriteSourceSize</key>
                <string>{92,65}</string>
                <key>textureRect</key>
                <string>{{1717,1365},{92,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuoc-lai-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,124}</string>
                <key>textureRect</key>
                <string>{{1560,1742},{118,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cuocLaiOn@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{1578,1908},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>de@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,125}</string>
                <key>spriteSourceSize</key>
                <string>{203,125}</string>
                <key>textureRect</key>
                <string>{{433,1826},{203,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dia@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,210}</string>
                <key>spriteSourceSize</key>
                <string>{298,210}</string>
                <key>textureRect</key>
                <string>{{1417,1337},{298,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghe@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,288}</string>
                <key>spriteSourceSize</key>
                <string>{195,288}</string>
                <key>textureRect</key>
                <string>{{1127,1826},{195,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ketQuaDo@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,46}</string>
                <key>spriteSourceSize</key>
                <string>{59,46}</string>
                <key>textureRect</key>
                <string>{{1417,1820},{59,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ketQuaTrang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{1713,1568},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ketqua@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,44}</string>
                <key>spriteSourceSize</key>
                <string>{98,44}</string>
                <key>textureRect</key>
                <string>{{1699,1871},{98,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-chuoidm-5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,42}</string>
                <key>spriteSourceSize</key>
                <string>{308,42}</string>
                <key>textureRect</key>
                <string>{{1417,1293},{308,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-user-chinh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1560,1612},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungSoLuong@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,45}</string>
                <key>spriteSourceSize</key>
                <string>{64,45}</string>
                <key>textureRect</key>
                <string>{{1476,1568},{64,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>le-1-2-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,173}</string>
                <key>spriteSourceSize</key>
                <string>{250,173}</string>
                <key>textureRect</key>
                <string>{{1308,1645},{250,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>le-1-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,153}</string>
                <key>spriteSourceSize</key>
                <string>{230,153}</string>
                <key>textureRect</key>
                <string>{{1563,714},{230,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,94}</string>
                <key>spriteSourceSize</key>
                <string>{271,94}</string>
                <key>textureRect</key>
                <string>{{1212,1549},{271,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moi-button@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1717,1432},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mui-ten-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{1774,1568},{36,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mui-ten-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{1699,1917},{36,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mui-ten@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{1408,1568},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next-button@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{1760,1917},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tableXocDia@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1209,531}</string>
                <key>spriteSourceSize</key>
                <string>{1209,531}</string>
                <key>textureRect</key>
                <string>{{1,1293},{1209,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh-cho-dat-cuoc-2-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,32}</string>
                <key>spriteSourceSize</key>
                <string>{245,32}</string>
                <key>textureRect</key>
                <string>{{1563,1},{245,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1559,118}</string>
                <key>spriteSourceSize</key>
                <string>{1559,118}</string>
                <key>textureRect</key>
                <string>{{1,1173},{1559,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vector-smart-object-copy1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,49}</string>
                <key>spriteSourceSize</key>
                <string>{232,49}</string>
                <key>textureRect</key>
                <string>{{1563,457},{232,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vector-smart-object-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,49}</string>
                <key>spriteSourceSize</key>
                <string>{232,49}</string>
                <key>textureRect</key>
                <string>{{1563,508},{232,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vector-smart-object1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,61}</string>
                <key>spriteSourceSize</key>
                <string>{188,61}</string>
                <key>textureRect</key>
                <string>{{1523,1549},{188,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XDMain.png</string>
            <key>size</key>
            <string>{1811,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:456f6fa030c52785f6d5dca0e65a9df5:e7f12c2df89abde1fecf87291574e094:4fd6927c0f1ec71e5d144572908dfee5$</string>
            <key>textureFileName</key>
            <string>XDMain.png</string>
        </dict>
    </dict>
</plist>
