<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CardID_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{331,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{441,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{331,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{441,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{551,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{441,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{551,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{661,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{551,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{661,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{111,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{771,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{661,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{771,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{881,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{771,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{881,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{991,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{881,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{991,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1101,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{991,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1101,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1211,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1101,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1211,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1321,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1211,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1321,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1431,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1321,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{111,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1431,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1541,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1431,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1541,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1651,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1541,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1651,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1761,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1651,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1761,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{221,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1871,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{1761,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{111,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{221,147},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{331,1},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardID_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{108,144}</string>
                <key>textureRect</key>
                <string>{{221,293},{108,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mnpk_card.png</string>
            <key>size</key>
            <string>{1980,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041461702443b1b436b85e7ba4bc7999:d026c372806cdff972b6c029d5b2a0d0:47813a372ff02ce43ecd694afcd9bfe7$</string>
            <key>textureFileName</key>
            <string>mnpk_card.png</string>
        </dict>
    </dict>
</plist>
