<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{705,491}</string>
                <key>spriteSourceSize</key>
                <string>{705,491}</string>
                <key>textureRect</key>
                <string>{{1,1},{705,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,51}</string>
                <key>textureRect</key>
                <string>{{708,449},{96,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,59}</string>
                <key>spriteSourceSize</key>
                <string>{350,59}</string>
                <key>textureRect</key>
                <string>{{708,1},{350,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>livechat_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{708,353},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>livechat_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{769,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sms_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{769,97},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sms_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{769,193},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{804,289},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{806,385},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>forgetPassword.png</string>
            <key>size</key>
            <string>{901,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2c89939b849eeb458dc12edc62f4bc:a3a5a03757c92c1650925a2de0f50bbc:7861de65611191728a6496fdbaec7db1$</string>
            <key>textureFileName</key>
            <string>forgetPassword.png</string>
        </dict>
    </dict>
</plist>
