<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiDat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,55}</string>
                <key>spriteSourceSize</key>
                <string>{158,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{215,1},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{161,1},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,44}</string>
                <key>spriteSourceSize</key>
                <string>{198,44}</string>
                <key>textureRect</key>
                <string>{{1079,1},{198,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,45}</string>
                <key>spriteSourceSize</key>
                <string>{300,45}</string>
                <key>textureRect</key>
                <string>{{475,1},{300,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lsh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,45}</string>
                <key>spriteSourceSize</key>
                <string>{300,45}</string>
                <key>textureRect</key>
                <string>{{777,1},{300,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhacnen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,46}</string>
                <key>spriteSourceSize</key>
                <string>{205,46}</string>
                <key>textureRect</key>
                <string>{{268,1},{205,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{1278,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:047cc19cfae39e10493867ca1b8a6e3c:6166c8e7330c916dcb19a8ec498bc32d:b9c870dc099f34bca3e3b2447514f602$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
