<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tygia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,290}</string>
                <key>spriteSourceSize</key>
                <string>{417,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{417,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{341,379},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_mobifone_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{341,1},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_mobifone_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{341,64},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_viettel_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{341,127},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_viettel_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{341,190},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_vinaphone_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{341,253},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_vinaphone_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{341,316},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_tygia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,278}</string>
                <key>spriteSourceSize</key>
                <string>{1,278}</string>
                <key>textureRect</key>
                <string>{{460,1},{1,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_tygia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,46}</string>
                <key>spriteSourceSize</key>
                <string>{415,46}</string>
                <key>textureRect</key>
                <string>{{293,1},{415,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{462,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e16d2fd135d9fc47547e65026957e16:dff2223e4cc18e269a8b709b94b32944:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
