<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{779,570}</string>
                <key>spriteSourceSize</key>
                <string>{779,570}</string>
                <key>textureRect</key>
                <string>{{1,1},{779,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,219}</string>
                <key>spriteSourceSize</key>
                <string>{717,219}</string>
                <key>textureRect</key>
                <string>{{1203,173},{717,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,170}</string>
                <key>spriteSourceSize</key>
                <string>{695,170}</string>
                <key>textureRect</key>
                <string>{{782,1},{695,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,419}</string>
                <key>spriteSourceSize</key>
                <string>{336,419}</string>
                <key>textureRect</key>
                <string>{{782,173},{336,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,417}</string>
                <key>spriteSourceSize</key>
                <string>{336,417}</string>
                <key>textureRect</key>
                <string>{{782,511},{336,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,27}</string>
                <key>spriteSourceSize</key>
                <string>{492,27}</string>
                <key>textureRect</key>
                <string>{{669,849},{492,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,334}</string>
                <key>spriteSourceSize</key>
                <string>{666,334}</string>
                <key>textureRect</key>
                <string>{{1,573},{666,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,46}</string>
                <key>spriteSourceSize</key>
                <string>{285,46}</string>
                <key>textureRect</key>
                <string>{{669,878},{285,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,48}</string>
                <key>spriteSourceSize</key>
                <string>{483,48}</string>
                <key>textureRect</key>
                <string>{{1424,173},{483,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,55}</string>
                <key>spriteSourceSize</key>
                <string>{129,55}</string>
                <key>textureRect</key>
                <string>{{669,573},{129,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{1478,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:589871031c9fe016fcb2be9dfe553689:de8015b1fd3119ba44bd00df3ade97ec:6f6c407afce584d64ce65df7e3a7492e$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
