<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangChucMung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,330}</string>
                <key>spriteSourceSize</key>
                <string>{511,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{511,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_huvanmay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,74}</string>
                <key>spriteSourceSize</key>
                <string>{404,74}</string>
                <key>textureRect</key>
                <string>{{333,1},{404,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,101}</string>
                <key>spriteSourceSize</key>
                <string>{560,101}</string>
                <key>textureRect</key>
                <string>{{379,407},{560,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_tudong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,76}</string>
                <key>spriteSourceSize</key>
                <string>{381,76}</string>
                <key>textureRect</key>
                <string>{{409,1},{381,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toaSang50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,400}</string>
                <key>spriteSourceSize</key>
                <string>{376,400}</string>
                <key>textureRect</key>
                <string>{{1,514},{376,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,100}</string>
                <key>spriteSourceSize</key>
                <string>{107,100}</string>
                <key>textureRect</key>
                <string>{{270,1020},{107,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,101}</string>
                <key>spriteSourceSize</key>
                <string>{158,101}</string>
                <key>textureRect</key>
                <string>{{1,916},{158,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,101}</string>
                <key>spriteSourceSize</key>
                <string>{127,101}</string>
                <key>textureRect</key>
                <string>{{267,1129},{127,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,102}</string>
                <key>spriteSourceSize</key>
                <string>{131,102}</string>
                <key>textureRect</key>
                <string>{{161,916},{131,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,100}</string>
                <key>spriteSourceSize</key>
                <string>{127,100}</string>
                <key>textureRect</key>
                <string>{{396,1101},{127,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{132,102}</string>
                <key>textureRect</key>
                <string>{{1,1124},{132,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,100}</string>
                <key>spriteSourceSize</key>
                <string>{130,100}</string>
                <key>textureRect</key>
                <string>{{372,969},{130,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,103}</string>
                <key>spriteSourceSize</key>
                <string>{131,103}</string>
                <key>textureRect</key>
                <string>{{137,1020},{131,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,103}</string>
                <key>spriteSourceSize</key>
                <string>{134,103}</string>
                <key>textureRect</key>
                <string>{{1,1019},{134,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,102}</string>
                <key>textureRect</key>
                <string>{{135,1125},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HalloweenBonus.png</string>
            <key>size</key>
            <string>{497,1231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ada3a5cc975a6fbbd266df94ede834:dff37f54ce6d8473af83d54434c08844:3a447335b159d53e1864c776aa1af050$</string>
            <key>textureFileName</key>
            <string>HalloweenBonus.png</string>
        </dict>
    </dict>
</plist>
