<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,94}</string>
                <key>spriteSourceSize</key>
                <string>{252,94}</string>
                <key>textureRect</key>
                <string>{{1677,1},{252,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,94}</string>
                <key>spriteSourceSize</key>
                <string>{252,94}</string>
                <key>textureRect</key>
                <string>{{1163,573},{252,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,668}</string>
                <key>spriteSourceSize</key>
                <string>{1160,668}</string>
                <key>textureRect</key>
                <string>{{1,1},{1160,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2_internal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1070,486}</string>
                <key>spriteSourceSize</key>
                <string>{1070,486}</string>
                <key>textureRect</key>
                <string>{{1,671},{1070,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,94}</string>
                <key>spriteSourceSize</key>
                <string>{252,94}</string>
                <key>textureRect</key>
                <string>{{1677,255},{252,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,94}</string>
                <key>spriteSourceSize</key>
                <string>{252,94}</string>
                <key>textureRect</key>
                <string>{{1773,1},{252,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{1587,950},{148,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgEditBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,56}</string>
                <key>spriteSourceSize</key>
                <string>{297,56}</string>
                <key>textureRect</key>
                <string>{{1163,515},{297,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgSelection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,280}</string>
                <key>spriteSourceSize</key>
                <string>{297,280}</string>
                <key>textureRect</key>
                <string>{{1587,569},{297,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,52}</string>
                <key>spriteSourceSize</key>
                <string>{201,52}</string>
                <key>textureRect</key>
                <string>{{1462,515},{201,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,52}</string>
                <key>spriteSourceSize</key>
                <string>{201,52}</string>
                <key>textureRect</key>
                <string>{{1665,515},{201,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1073,671},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,26}</string>
                <key>spriteSourceSize</key>
                <string>{86,26}</string>
                <key>textureRect</key>
                <string>{{1417,573},{86,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dangky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{1628,1008},{160,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dangnhap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,39}</string>
                <key>spriteSourceSize</key>
                <string>{206,39}</string>
                <key>textureRect</key>
                <string>{{1587,868},{206,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dangxuat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,39}</string>
                <key>spriteSourceSize</key>
                <string>{205,39}</string>
                <key>textureRect</key>
                <string>{{1773,255},{205,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guiket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,35}</string>
                <key>spriteSourceSize</key>
                <string>{131,35}</string>
                <key>textureRect</key>
                <string>{{1799,868},{131,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layotp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,28}</string>
                <key>spriteSourceSize</key>
                <string>{105,28}</string>
                <key>textureRect</key>
                <string>{{1462,569},{105,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>naptien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,43}</string>
                <key>spriteSourceSize</key>
                <string>{158,43}</string>
                <key>textureRect</key>
                <string>{{1814,255},{158,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>otpsms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,28}</string>
                <key>spriteSourceSize</key>
                <string>{150,28}</string>
                <key>textureRect</key>
                <string>{{1733,1008},{150,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>otptele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,28}</string>
                <key>spriteSourceSize</key>
                <string>{157,28}</string>
                <key>textureRect</key>
                <string>{{1703,1008},{157,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>remove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1163,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rutket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,34}</string>
                <key>spriteSourceSize</key>
                <string>{145,34}</string>
                <key>textureRect</key>
                <string>{{1763,950},{145,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruttien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,38}</string>
                <key>spriteSourceSize</key>
                <string>{153,38}</string>
                <key>textureRect</key>
                <string>{{1663,1008},{153,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thaydoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,39}</string>
                <key>spriteSourceSize</key>
                <string>{161,39}</string>
                <key>textureRect</key>
                <string>{{1587,1008},{161,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,38}</string>
                <key>spriteSourceSize</key>
                <string>{133,38}</string>
                <key>textureRect</key>
                <string>{{1445,599},{133,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xacnhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,39}</string>
                <key>spriteSourceSize</key>
                <string>{182,39}</string>
                <key>textureRect</key>
                <string>{{1587,909},{182,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popupNew.png</string>
            <key>size</key>
            <string>{1868,1184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c920000bffb09b0d11e0c68cbc50e31:965fc852fdb331cdcf62a1fc53f512d2:82097727f587f6126110806a1dca1612$</string>
            <key>textureFileName</key>
            <string>popupNew.png</string>
        </dict>
    </dict>
</plist>
