<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,46}</string>
                <key>spriteSourceSize</key>
                <string>{85,46}</string>
                <key>textureRect</key>
                <string>{{883,1},{85,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,46}</string>
                <key>spriteSourceSize</key>
                <string>{85,46}</string>
                <key>textureRect</key>
                <string>{{970,1},{85,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,51}</string>
                <key>spriteSourceSize</key>
                <string>{152,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,49}</string>
                <key>spriteSourceSize</key>
                <string>{416,49}</string>
                <key>textureRect</key>
                <string>{{155,1},{416,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,49}</string>
                <key>spriteSourceSize</key>
                <string>{308,49}</string>
                <key>textureRect</key>
                <string>{{573,1},{308,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MaCaoSettings.png</string>
            <key>size</key>
            <string>{1056,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec094ed3b16e2a0536975dd82227822:0d2de1354d753efca3e792bbd131466e:507d85baa233aeb665bf980da235b82a$</string>
            <key>textureFileName</key>
            <string>MaCaoSettings.png</string>
        </dict>
    </dict>
</plist>
