<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bonus.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,43}</string>
                <key>spriteSourceSize</key>
                <string>{167,43}</string>
                <key>textureRect</key>
                <string>{{1172,974},{167,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,148}</string>
                <key>spriteSourceSize</key>
                <string>{145,148}</string>
                <key>textureRect</key>
                <string>{{1283,628},{145,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,156}</string>
                <key>spriteSourceSize</key>
                <string>{122,156}</string>
                <key>textureRect</key>
                <string>{{996,723},{122,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,139}</string>
                <key>spriteSourceSize</key>
                <string>{156,139}</string>
                <key>textureRect</key>
                <string>{{871,862},{156,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,105}</string>
                <key>spriteSourceSize</key>
                <string>{145,105}</string>
                <key>textureRect</key>
                <string>{{1172,827},{145,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,140}</string>
                <key>spriteSourceSize</key>
                <string>{156,140}</string>
                <key>textureRect</key>
                <string>{{729,862},{156,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,188}</string>
                <key>spriteSourceSize</key>
                <string>{147,188}</string>
                <key>textureRect</key>
                <string>{{1283,438},{147,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,158}</string>
                <key>spriteSourceSize</key>
                <string>{159,158}</string>
                <key>textureRect</key>
                <string>{{1012,847},{159,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,111}</string>
                <key>spriteSourceSize</key>
                <string>{211,111}</string>
                <key>textureRect</key>
                <string>{{413,723},{211,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,152}</string>
                <key>spriteSourceSize</key>
                <string>{108,152}</string>
                <key>textureRect</key>
                <string>{{1283,328},{108,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,145}</string>
                <key>spriteSourceSize</key>
                <string>{140,145}</string>
                <key>textureRect</key>
                <string>{{1279,775},{140,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_thua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1154,723},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,109}</string>
                <key>spriteSourceSize</key>
                <string>{325,109}</string>
                <key>textureRect</key>
                <string>{{1283,1},{325,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,67}</string>
                <key>spriteSourceSize</key>
                <string>{188,67}</string>
                <key>textureRect</key>
                <string>{{626,723},{188,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,113}</string>
                <key>spriteSourceSize</key>
                <string>{410,113}</string>
                <key>textureRect</key>
                <string>{{1,723},{410,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,178}</string>
                <key>spriteSourceSize</key>
                <string>{137,178}</string>
                <key>textureRect</key>
                <string>{{816,723},{137,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,182}</string>
                <key>spriteSourceSize</key>
                <string>{157,182}</string>
                <key>textureRect</key>
                <string>{{413,836},{157,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,182}</string>
                <key>spriteSourceSize</key>
                <string>{155,182}</string>
                <key>textureRect</key>
                <string>{{572,836},{155,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,182}</string>
                <key>spriteSourceSize</key>
                <string>{168,182}</string>
                <key>textureRect</key>
                <string>{{1,838},{168,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{160,182}</string>
                <key>textureRect</key>
                <string>{{185,838},{160,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus.png</string>
            <key>size</key>
            <string>{1436,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01512d1a71a2d595110cb0d1655279d2:108d5490eb789403b7cf07c82d0984c0:3b08c443b96b58bab97de9c99f8829ea$</string>
            <key>textureFileName</key>
            <string>bonus.png</string>
        </dict>
    </dict>
</plist>
