<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{1,214},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1b@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{103,151},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1blur@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{1,151},{32,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{35,214},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2b@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{103,189},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2blur@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{176,1},{32,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{69,214},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3b@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{145,151},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3blur@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{35,151},{32,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{210,64},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4b@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{145,193},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4blur@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{176,64},{32,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{210,95},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5b@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{183,127},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5blur@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{210,1},{32,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{187,211},{32,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6b@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{187,169},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6blur@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{69,151},{32,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>may_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,148}</string>
                <key>spriteSourceSize</key>
                <string>{173,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slotMachine.png</string>
            <key>size</key>
            <string>{243,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5f687dad81e87ade94c34581d005706:9f9c15ce330b693fe7d5e966cb4b9df6:a7ddbf8523d2728928932090a438dc00$</string>
            <key>textureFileName</key>
            <string>slotMachine.png</string>
        </dict>
    </dict>
</plist>
