<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,28}</string>
                <key>spriteSourceSize</key>
                <string>{222,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{222,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,34}</string>
                <key>spriteSourceSize</key>
                <string>{141,34}</string>
                <key>textureRect</key>
                <string>{{225,1},{141,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,396}</string>
                <key>spriteSourceSize</key>
                <string>{677,396}</string>
                <key>textureRect</key>
                <string>{{1,51},{677,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggle_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{424,1},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggle_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{368,1},{47,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settings.png</string>
            <key>size</key>
            <string>{679,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f67757dcae0979aa3ceb4bd25d1c5d8a:ea66ba6ae6b4212de766571672b8c3f3:b272f908d41fd8e3cdf1bdfb80736dbb$</string>
            <key>textureFileName</key>
            <string>settings.png</string>
        </dict>
    </dict>
</plist>
