<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,281}</string>
                <key>spriteSourceSize</key>
                <string>{175,281}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_hieuung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,56}</string>
                <key>textureRect</key>
                <string>{{1,178},{162,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hieuung2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,56}</string>
                <key>textureRect</key>
                <string>{{165,178},{162,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,56}</string>
                <key>textureRect</key>
                <string>{{284,1},{162,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_lichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,56}</string>
                <key>textureRect</key>
                <string>{{342,1},{162,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nhacnen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,56}</string>
                <key>textureRect</key>
                <string>{{342,59},{162,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nhacnen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,56}</string>
                <key>textureRect</key>
                <string>{{342,117},{162,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_vinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,56}</string>
                <key>textureRect</key>
                <string>{{329,175},{162,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BLCSettings.png</string>
            <key>size</key>
            <string>{505,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d7e9ece50d753e483d9a7e0891c2537:d76688e57f3c9b53e650c9de75f35c3c:6bab3f2a0144bdd1472e2b7825ad90b1$</string>
            <key>textureFileName</key>
            <string>BLCSettings.png</string>
        </dict>
    </dict>
</plist>
