<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,300}</string>
                <key>spriteSourceSize</key>
                <string>{619,300}</string>
                <key>textureRect</key>
                <string>{{1,303},{619,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,300}</string>
                <key>spriteSourceSize</key>
                <string>{720,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{643,300}</string>
                <key>spriteSourceSize</key>
                <string>{643,300}</string>
                <key>textureRect</key>
                <string>{{723,1},{643,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,300}</string>
                <key>spriteSourceSize</key>
                <string>{581,300}</string>
                <key>textureRect</key>
                <string>{{1,605},{581,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,245}</string>
                <key>spriteSourceSize</key>
                <string>{550,245}</string>
                <key>textureRect</key>
                <string>{{584,646},{550,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bangThuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,51}</string>
                <key>spriteSourceSize</key>
                <string>{305,51}</string>
                <key>textureRect</key>
                <string>{{1025,1},{305,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,98}</string>
                <key>spriteSourceSize</key>
                <string>{65,98}</string>
                <key>textureRect</key>
                <string>{{1025,501},{65,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,39}</string>
                <key>spriteSourceSize</key>
                <string>{191,39}</string>
                <key>textureRect</key>
                <string>{{1025,308},{191,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,65}</string>
                <key>spriteSourceSize</key>
                <string>{154,65}</string>
                <key>textureRect</key>
                <string>{{1066,308},{154,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quayMienPhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,61}</string>
                <key>spriteSourceSize</key>
                <string>{307,61}</string>
                <key>textureRect</key>
                <string>{{622,303},{307,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{1135,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:739a119a33c49782cb043e04966768f8:72554679112f17197f0de474e3c10453:6f6c407afce584d64ce65df7e3a7492e$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
