<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bn_dom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,239}</string>
                <key>spriteSourceSize</key>
                <string>{158,239}</string>
                <key>textureRect</key>
                <string>{{811,253},{158,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bn_khungThoai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,115}</string>
                <key>spriteSourceSize</key>
                <string>{48,115}</string>
                <key>textureRect</key>
                <string>{{679,403},{48,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnChontiep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,89}</string>
                <key>spriteSourceSize</key>
                <string>{292,89}</string>
                <key>textureRect</key>
                <string>{{1,403},{292,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnDungChon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,77}</string>
                <key>spriteSourceSize</key>
                <string>{280,77}</string>
                <key>textureRect</key>
                <string>{{295,403},{280,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,166}</string>
                <key>spriteSourceSize</key>
                <string>{250,166}</string>
                <key>textureRect</key>
                <string>{{811,1},{250,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{577,403},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,400}</string>
                <key>spriteSourceSize</key>
                <string>{808,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{808,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>x2.png</string>
            <key>size</key>
            <string>{978,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a324990729aacaefca1d0192d99f36:59269c4a45d88b24cf3b25d09b64cfef:96a30692f12d9fbda15622bf2d05bbc7$</string>
            <key>textureFileName</key>
            <string>x2.png</string>
        </dict>
    </dict>
</plist>
