<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{1073,1737},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{1143,1376},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1070,441}</string>
                <key>spriteSourceSize</key>
                <string>{1070,441}</string>
                <key>textureRect</key>
                <string>{{1,1376},{1070,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{705,536}</string>
                <key>spriteSourceSize</key>
                <string>{705,536}</string>
                <key>textureRect</key>
                <string>{{1475,1},{705,536}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1472,703}</string>
                <key>spriteSourceSize</key>
                <string>{1472,703}</string>
                <key>textureRect</key>
                <string>{{1,1},{1472,703}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,668}</string>
                <key>spriteSourceSize</key>
                <string>{1160,668}</string>
                <key>textureRect</key>
                <string>{{1,706},{1160,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lsgd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1070,508}</string>
                <key>spriteSourceSize</key>
                <string>{1070,508}</string>
                <key>textureRect</key>
                <string>{{1163,708},{1070,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,62}</string>
                <key>spriteSourceSize</key>
                <string>{708,62}</string>
                <key>textureRect</key>
                <string>{{1721,708},{708,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,43}</string>
                <key>spriteSourceSize</key>
                <string>{145,43}</string>
                <key>textureRect</key>
                <string>{{1870,942},{145,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1785,1173},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tuchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,80}</string>
                <key>spriteSourceSize</key>
                <string>{227,80}</string>
                <key>textureRect</key>
                <string>{{1788,708},{227,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_xacnhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,80}</string>
                <key>spriteSourceSize</key>
                <string>{227,80}</string>
                <key>textureRect</key>
                <string>{{1788,937},{227,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,51}</string>
                <key>textureRect</key>
                <string>{{1921,708},{96,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,59}</string>
                <key>spriteSourceSize</key>
                <string>{350,59}</string>
                <key>textureRect</key>
                <string>{{1721,1418},{350,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,463}</string>
                <key>spriteSourceSize</key>
                <string>{1,463}</string>
                <key>textureRect</key>
                <string>{{1785,708},{1,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{1921,806},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{1143,1390},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,46}</string>
                <key>spriteSourceSize</key>
                <string>{1068,46}</string>
                <key>textureRect</key>
                <string>{{1673,708},{1068,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,68}</string>
                <key>spriteSourceSize</key>
                <string>{359,68}</string>
                <key>textureRect</key>
                <string>{{1073,1376},{359,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,49}</string>
                <key>spriteSourceSize</key>
                <string>{232,49}</string>
                <key>textureRect</key>
                <string>{{1870,708},{232,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{2012,1818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e600ebfe3f7afd17963c9bc5798d5138:5bbe4c929ae0c05ad758abd0952981a2:a90c11ab0396de5086de12c3ccb699d4$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
