<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_khungspin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,188}</string>
                <key>spriteSourceSize</key>
                <string>{382,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{382,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,66}</string>
                <key>spriteSourceSize</key>
                <string>{450,66}</string>
                <key>textureRect</key>
                <string>{{161,191},{450,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnGamex2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{83,93}</string>
                <key>textureRect</key>
                <string>{{263,870},{83,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_Vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{477,527},{42,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,57}</string>
                <key>spriteSourceSize</key>
                <string>{124,57}</string>
                <key>textureRect</key>
                <string>{{1,918},{124,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_choithu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,50}</string>
                <key>spriteSourceSize</key>
                <string>{129,50}</string>
                <key>textureRect</key>
                <string>{{229,588},{129,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_choithu_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,50}</string>
                <key>spriteSourceSize</key>
                <string>{129,50}</string>
                <key>textureRect</key>
                <string>{{132,858},{129,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,61}</string>
                <key>spriteSourceSize</key>
                <string>{141,61}</string>
                <key>textureRect</key>
                <string>{{301,640},{141,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,47}</string>
                <key>spriteSourceSize</key>
                <string>{128,47}</string>
                <key>textureRect</key>
                <string>{{364,770},{128,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,121}</string>
                <key>spriteSourceSize</key>
                <string>{157,121}</string>
                <key>textureRect</key>
                <string>{{385,1},{157,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_quaylai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,50}</string>
                <key>spriteSourceSize</key>
                <string>{126,50}</string>
                <key>textureRect</key>
                <string>{{127,910},{126,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_sieutoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{348,912},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_sieutoc_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{425,912},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttondung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,121}</string>
                <key>spriteSourceSize</key>
                <string>{91,121}</string>
                <key>textureRect</key>
                <string>{{364,677},{91,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chiacot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,277}</string>
                <key>spriteSourceSize</key>
                <string>{17,277}</string>
                <key>textureRect</key>
                <string>{{113,587},{17,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cocchidan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,198}</string>
                <key>spriteSourceSize</key>
                <string>{27,198}</string>
                <key>textureRect</key>
                <string>{{132,587},{27,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_tongcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,84}</string>
                <key>spriteSourceSize</key>
                <string>{250,84}</string>
                <key>textureRect</key>
                <string>{{391,425},{250,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>giatreo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,41}</string>
                <key>spriteSourceSize</key>
                <string>{85,41}</string>
                <key>textureRect</key>
                <string>{{309,783},{85,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,25}</string>
                <key>spriteSourceSize</key>
                <string>{81,25}</string>
                <key>textureRect</key>
                <string>{{364,588},{81,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,394}</string>
                <key>spriteSourceSize</key>
                <string>{158,394}</string>
                <key>textureRect</key>
                <string>{{1,191},{158,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,91}</string>
                <key>spriteSourceSize</key>
                <string>{113,91}</string>
                <key>textureRect</key>
                <string>{{352,819},{113,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungtienjackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,109}</string>
                <key>spriteSourceSize</key>
                <string>{263,109}</string>
                <key>textureRect</key>
                <string>{{392,160},{263,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungtienthang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,110}</string>
                <key>spriteSourceSize</key>
                <string>{329,110}</string>
                <key>textureRect</key>
                <string>{{1,587},{329,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moneybox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{477,425},{100,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>odan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{160,164}</string>
                <key>textureRect</key>
                <string>{{229,422},{160,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,63}</string>
                <key>spriteSourceSize</key>
                <string>{175,63}</string>
                <key>textureRect</key>
                <string>{{132,793},{175,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soluotquaymienphi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,229}</string>
                <key>spriteSourceSize</key>
                <string>{161,229}</string>
                <key>textureRect</key>
                <string>{{229,191},{161,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viendan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,148}</string>
                <key>spriteSourceSize</key>
                <string>{138,148}</string>
                <key>textureRect</key>
                <string>{{161,643},{138,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winline-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,7}</string>
                <key>spriteSourceSize</key>
                <string>{58,7}</string>
                <key>textureRect</key>
                <string>{{127,962},{58,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainCB.png</string>
            <key>size</key>
            <string>{507,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc326182a7daedb64863d4834f1ced9:66d41f9b096be3c026fe4fee4b9d3370:f430364d34e0a681867ab9b10713041c$</string>
            <key>textureFileName</key>
            <string>mainCB.png</string>
        </dict>
    </dict>
</plist>
