<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{707,362}</string>
                <key>spriteSourceSize</key>
                <string>{707,362}</string>
                <key>textureRect</key>
                <string>{{1,1},{707,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_cuocvang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,49}</string>
                <key>spriteSourceSize</key>
                <string>{178,49}</string>
                <key>textureRect</key>
                <string>{{1462,98},{178,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1430,369},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,62}</string>
                <key>spriteSourceSize</key>
                <string>{708,62}</string>
                <key>textureRect</key>
                <string>{{710,1},{708,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,50}</string>
                <key>spriteSourceSize</key>
                <string>{79,50}</string>
                <key>textureRect</key>
                <string>{{822,391},{79,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,39}</string>
                <key>spriteSourceSize</key>
                <string>{148,39}</string>
                <key>textureRect</key>
                <string>{{1513,98},{148,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,42}</string>
                <key>spriteSourceSize</key>
                <string>{497,42}</string>
                <key>textureRect</key>
                <string>{{1,429},{497,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,49}</string>
                <key>spriteSourceSize</key>
                <string>{178,49}</string>
                <key>textureRect</key>
                <string>{{500,429},{178,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,53}</string>
                <key>spriteSourceSize</key>
                <string>{192,53}</string>
                <key>textureRect</key>
                <string>{{1236,369},{192,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,62}</string>
                <key>spriteSourceSize</key>
                <string>{259,62}</string>
                <key>textureRect</key>
                <string>{{975,383},{259,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,52}</string>
                <key>spriteSourceSize</key>
                <string>{185,52}</string>
                <key>textureRect</key>
                <string>{{1236,424},{185,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,238}</string>
                <key>spriteSourceSize</key>
                <string>{237,238}</string>
                <key>textureRect</key>
                <string>{{1223,129},{237,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{907,434},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_chitietphien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{963,447},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{1486,428},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,46}</string>
                <key>spriteSourceSize</key>
                <string>{85,46}</string>
                <key>textureRect</key>
                <string>{{1462,278},{85,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1019,447},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_lichsucuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1075,447},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{1349,65},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_nan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{1423,426},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_thongke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{1487,365},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1131,447},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_chuoimd5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,62}</string>
                <key>spriteSourceSize</key>
                <string>{637,62}</string>
                <key>textureRect</key>
                <string>{{1,365},{637,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,62}</string>
                <key>spriteSourceSize</key>
                <string>{637,62}</string>
                <key>textureRect</key>
                <string>{{710,65},{637,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ketqua_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{640,365},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,260}</string>
                <key>spriteSourceSize</key>
                <string>{263,260}</string>
                <key>textureRect</key>
                <string>{{710,129},{263,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nap_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,252}</string>
                <key>spriteSourceSize</key>
                <string>{246,252}</string>
                <key>textureRect</key>
                <string>{{975,129},{246,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,95}</string>
                <key>spriteSourceSize</key>
                <string>{128,95}</string>
                <key>textureRect</key>
                <string>{{1420,1},{128,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{822,443},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1510,278},{83,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vi_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{903,391},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1187,447},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,99}</string>
                <key>spriteSourceSize</key>
                <string>{140,99}</string>
                <key>textureRect</key>
                <string>{{680,391},{140,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taixiuMD5.png</string>
            <key>size</key>
            <string>{1553,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e19cba3ee79510543010b6e913081851:78057b035ac65cea49fdeeb66ed7a398:7df2cff9f3317cceed386dcc97aa99ad$</string>
            <key>textureFileName</key>
            <string>taixiuMD5.png</string>
        </dict>
    </dict>
</plist>
