<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{1,779},{146,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{151,854},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{340,1125},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,103}</string>
                <key>spriteSourceSize</key>
                <string>{126,103}</string>
                <key>textureRect</key>
                <string>{{299,905},{126,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{112,118}</string>
                <key>textureRect</key>
                <string>{{226,1123},{112,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,104}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{1,1172},{95,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,154}</string>
                <key>spriteSourceSize</key>
                <string>{148,154}</string>
                <key>textureRect</key>
                <string>{{161,704},{148,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,927},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{146,150}</string>
                <key>textureRect</key>
                <string>{{326,643},{146,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,129}</string>
                <key>spriteSourceSize</key>
                <string>{204,129}</string>
                <key>textureRect</key>
                <string>{{207,1},{204,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,104}</string>
                <key>spriteSourceSize</key>
                <string>{81,104}</string>
                <key>textureRect</key>
                <string>{{276,1010},{81,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,105}</string>
                <key>spriteSourceSize</key>
                <string>{161,105}</string>
                <key>textureRect</key>
                <string>{{1,439},{161,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,98}</string>
                <key>spriteSourceSize</key>
                <string>{154,98}</string>
                <key>textureRect</key>
                <string>{{379,132},{154,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,105}</string>
                <key>spriteSourceSize</key>
                <string>{161,105}</string>
                <key>textureRect</key>
                <string>{{1,546},{161,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,94}</string>
                <key>spriteSourceSize</key>
                <string>{117,94}</string>
                <key>textureRect</key>
                <string>{{107,1172},{117,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,167}</string>
                <key>spriteSourceSize</key>
                <string>{146,167}</string>
                <key>textureRect</key>
                <string>{{172,282},{146,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,165}</string>
                <key>spriteSourceSize</key>
                <string>{146,165}</string>
                <key>textureRect</key>
                <string>{{1,291},{146,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,142}</string>
                <key>spriteSourceSize</key>
                <string>{114,142}</string>
                <key>textureRect</key>
                <string>{{335,527},{114,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{149,1002},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,147}</string>
                <key>spriteSourceSize</key>
                <string>{112,147}</string>
                <key>textureRect</key>
                <string>{{317,791},{112,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,123}</string>
                <key>spriteSourceSize</key>
                <string>{95,123}</string>
                <key>textureRect</key>
                <string>{{1,1075},{95,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,170}</string>
                <key>spriteSourceSize</key>
                <string>{148,170}</string>
                <key>textureRect</key>
                <string>{{207,132},{148,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,165}</string>
                <key>spriteSourceSize</key>
                <string>{146,165}</string>
                <key>textureRect</key>
                <string>{{168,430},{146,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,169}</string>
                <key>spriteSourceSize</key>
                <string>{146,169}</string>
                <key>textureRect</key>
                <string>{{1,143},{146,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,140}</string>
                <key>spriteSourceSize</key>
                <string>{204,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,133}</string>
                <key>spriteSourceSize</key>
                <string>{81,133}</string>
                <key>textureRect</key>
                <string>{{341,288},{81,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,124}</string>
                <key>spriteSourceSize</key>
                <string>{160,124}</string>
                <key>textureRect</key>
                <string>{{164,578},{160,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,127}</string>
                <key>spriteSourceSize</key>
                <string>{154,127}</string>
                <key>textureRect</key>
                <string>{{341,371},{154,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,124}</string>
                <key>spriteSourceSize</key>
                <string>{158,124}</string>
                <key>textureRect</key>
                <string>{{1,653},{158,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,113}</string>
                <key>spriteSourceSize</key>
                <string>{117,113}</string>
                <key>textureRect</key>
                <string>{{359,1010},{117,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MaCaoSymBols.png</string>
            <key>size</key>
            <string>{478,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da2c445fe2e52dd599dccb9c1da2d13a:8724bd5b706b49e28f79abe319ef503a:95c443aae8c91de1641ba3de8c36c517$</string>
            <key>textureFileName</key>
            <string>MaCaoSymBols.png</string>
        </dict>
    </dict>
</plist>
