<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{69,141},{44,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ranking_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,70}</string>
                <key>spriteSourceSize</key>
                <string>{111,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranking_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{94,66}</string>
                <key>textureRect</key>
                <string>{{1,73},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranking_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{87,66}</string>
                <key>textureRect</key>
                <string>{{1,141},{87,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranking.png</string>
            <key>size</key>
            <string>{113,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaae3c058319547a3a965bf78e46192d:f989a6c274f44a5579db121ea6c5a178:efeae703b36921f8f986227307e33e39$</string>
            <key>textureFileName</key>
            <string>ranking.png</string>
        </dict>
    </dict>
</plist>
