<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnClose@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{1719,435},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>group24@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,613}</string>
                <key>spriteSourceSize</key>
                <string>{1281,613}</string>
                <key>textureRect</key>
                <string>{{1,1},{1281,613}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>group7@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,85}</string>
                <key>spriteSourceSize</key>
                <string>{56,85}</string>
                <key>textureRect</key>
                <string>{{1719,377},{56,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rectangle1Copy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,430}</string>
                <key>spriteSourceSize</key>
                <string>{491,430}</string>
                <key>textureRect</key>
                <string>{{1287,51},{491,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rectangle5Sample@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{1719,146},{80,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shape1Copy@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,521}</string>
                <key>spriteSourceSize</key>
                <string>{1,521}</string>
                <key>textureRect</key>
                <string>{{1284,51},{1,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tabToggleHighLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,62}</string>
                <key>spriteSourceSize</key>
                <string>{258,62}</string>
                <key>textureRect</key>
                <string>{{1287,544},{258,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tabToggleNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,62}</string>
                <key>spriteSourceSize</key>
                <string>{256,62}</string>
                <key>textureRect</key>
                <string>{{1547,544},{256,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,95}</string>
                <key>spriteSourceSize</key>
                <string>{147,95}</string>
                <key>textureRect</key>
                <string>{{1719,228},{147,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{1719,51},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,48}</string>
                <key>spriteSourceSize</key>
                <string>{521,48}</string>
                <key>textureRect</key>
                <string>{{1284,1},{521,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{1859,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:969e63cf5923c5f6ee7fafbe175655df:cb1edf210e13ecab6a2d2cfb15e90379:a90c11ab0396de5086de12c3ccb699d4$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
