<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,297}</string>
                <key>spriteSourceSize</key>
                <string>{283,297}</string>
                <key>textureRect</key>
                <string>{{1,1},{283,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,297}</string>
                <key>spriteSourceSize</key>
                <string>{283,297}</string>
                <key>textureRect</key>
                <string>{{286,1},{283,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,80}</string>
                <key>spriteSourceSize</key>
                <string>{227,80}</string>
                <key>textureRect</key>
                <string>{{286,300},{227,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_QR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{455,382},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,22}</string>
                <key>spriteSourceSize</key>
                <string>{31,22}</string>
                <key>textureRect</key>
                <string>{{413,424},{31,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,47}</string>
                <key>spriteSourceSize</key>
                <string>{96,47}</string>
                <key>textureRect</key>
                <string>{{515,300},{96,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{289,382},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{351,382},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{485,382},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_xoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{413,382},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,45}</string>
                <key>spriteSourceSize</key>
                <string>{283,45}</string>
                <key>textureRect</key>
                <string>{{1,300},{283,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,364}</string>
                <key>spriteSourceSize</key>
                <string>{5,364}</string>
                <key>textureRect</key>
                <string>{{571,1},{5,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,1}</string>
                <key>spriteSourceSize</key>
                <string>{284,1}</string>
                <key>textureRect</key>
                <string>{{1,393},{284,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,1}</string>
                <key>spriteSourceSize</key>
                <string>{284,1}</string>
                <key>textureRect</key>
                <string>{{1,399},{284,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,1}</string>
                <key>spriteSourceSize</key>
                <string>{284,1}</string>
                <key>textureRect</key>
                <string>{{1,396},{284,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag2_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,44}</string>
                <key>spriteSourceSize</key>
                <string>{269,44}</string>
                <key>textureRect</key>
                <string>{{1,347},{269,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,47}</string>
                <key>spriteSourceSize</key>
                <string>{142,47}</string>
                <key>textureRect</key>
                <string>{{1,402},{142,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,47}</string>
                <key>spriteSourceSize</key>
                <string>{142,47}</string>
                <key>textureRect</key>
                <string>{{145,402},{142,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopCharge.png</string>
            <key>size</key>
            <string>{577,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e74b9ee7124dd6832c46d6bef4af97f6:24f10cbcd1733d12867558d3612d70a5:0853c9741fd264f98563b6a5745f01aa$</string>
            <key>textureFileName</key>
            <string>shopCharge.png</string>
        </dict>
    </dict>
</plist>
