<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>All-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{195,1},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoChon-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{389,1},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoChon-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{583,1},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DongChan-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{777,1},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DongChan-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{971,1},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DongLe-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{1165,1},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DongLe-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{1359,1},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chondong_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,41}</string>
                <key>spriteSourceSize</key>
                <string>{208,41}</string>
                <key>textureRect</key>
                <string>{{1553,1},{208,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainSelectLines.png</string>
            <key>size</key>
            <string>{1762,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22b4f2807dc366b6b599eae7b9bfbb88:0d6cc1ef9a8d46b372c7ee4399c2d6ce:c3a43fe55090ddc3ad72f44731254593$</string>
            <key>textureFileName</key>
            <string>mainSelectLines.png</string>
        </dict>
    </dict>
</plist>
