<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{723,1},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic1_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{829,1},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{377,1},{100,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic2_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{479,1},{100,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,121}</string>
                <key>spriteSourceSize</key>
                <string>{82,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic3_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,121}</string>
                <key>spriteSourceSize</key>
                <string>{82,121}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,119}</string>
                <key>spriteSourceSize</key>
                <string>{102,119}</string>
                <key>textureRect</key>
                <string>{{169,1},{102,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic4_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,119}</string>
                <key>spriteSourceSize</key>
                <string>{102,119}</string>
                <key>textureRect</key>
                <string>{{273,1},{102,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{92,110}</string>
                <key>textureRect</key>
                <string>{{935,1},{92,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic5_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{92,110}</string>
                <key>textureRect</key>
                <string>{{1029,1},{92,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{1123,1},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wild_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,116}</string>
                <key>textureRect</key>
                <string>{{581,1},{140,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{1264,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5e78313932d6c7799c61f8a86072ad8:6a3a2aca652c46dce5f5a9accc5367cd:a73c72aca107c42120aa7eba166486e5$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
