<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,34}</string>
                <key>spriteSourceSize</key>
                <string>{87,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,34}</string>
                <key>spriteSourceSize</key>
                <string>{87,34}</string>
                <key>textureRect</key>
                <string>{{90,1},{87,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggleContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,44}</string>
                <key>spriteSourceSize</key>
                <string>{161,44}</string>
                <key>textureRect</key>
                <string>{{1,37},{161,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settings.png</string>
            <key>size</key>
            <string>{178,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:584330ce8398966846659b24e8c8c0e2:4cf097c032116f83577b69ad953da96f:b272f908d41fd8e3cdf1bdfb80736dbb$</string>
            <key>textureFileName</key>
            <string>settings.png</string>
        </dict>
    </dict>
</plist>
