<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,166}</string>
                <key>spriteSourceSize</key>
                <string>{934,166}</string>
                <key>textureRect</key>
                <string>{{1,2086},{934,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,180}</string>
                <key>spriteSourceSize</key>
                <string>{934,180}</string>
                <key>textureRect</key>
                <string>{{1,1542},{934,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,211}</string>
                <key>spriteSourceSize</key>
                <string>{934,211}</string>
                <key>textureRect</key>
                <string>{{1,905},{934,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,211}</string>
                <key>spriteSourceSize</key>
                <string>{934,211}</string>
                <key>textureRect</key>
                <string>{{937,1036},{934,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,180}</string>
                <key>spriteSourceSize</key>
                <string>{934,180}</string>
                <key>textureRect</key>
                <string>{{937,1673},{934,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,210}</string>
                <key>spriteSourceSize</key>
                <string>{934,210}</string>
                <key>textureRect</key>
                <string>{{1,1330},{934,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,179}</string>
                <key>spriteSourceSize</key>
                <string>{934,179}</string>
                <key>textureRect</key>
                <string>{{1,1905},{934,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,343}</string>
                <key>spriteSourceSize</key>
                <string>{934,343}</string>
                <key>textureRect</key>
                <string>{{1,347},{934,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,343}</string>
                <key>spriteSourceSize</key>
                <string>{934,343}</string>
                <key>textureRect</key>
                <string>{{937,691},{934,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,179}</string>
                <key>spriteSourceSize</key>
                <string>{934,179}</string>
                <key>textureRect</key>
                <string>{{937,2036},{934,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,210}</string>
                <key>spriteSourceSize</key>
                <string>{934,210}</string>
                <key>textureRect</key>
                <string>{{937,1461},{934,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,46}</string>
                <key>spriteSourceSize</key>
                <string>{934,46}</string>
                <key>textureRect</key>
                <string>{{937,2217},{934,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,344}</string>
                <key>spriteSourceSize</key>
                <string>{934,344}</string>
                <key>textureRect</key>
                <string>{{1,1},{934,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,211}</string>
                <key>spriteSourceSize</key>
                <string>{934,211}</string>
                <key>textureRect</key>
                <string>{{1,692},{934,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,343}</string>
                <key>spriteSourceSize</key>
                <string>{934,343}</string>
                <key>textureRect</key>
                <string>{{937,1},{934,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,343}</string>
                <key>spriteSourceSize</key>
                <string>{934,343}</string>
                <key>textureRect</key>
                <string>{{937,346},{934,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,179}</string>
                <key>spriteSourceSize</key>
                <string>{934,179}</string>
                <key>textureRect</key>
                <string>{{1,1724},{934,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,210}</string>
                <key>spriteSourceSize</key>
                <string>{934,210}</string>
                <key>textureRect</key>
                <string>{{1,1118},{934,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,179}</string>
                <key>spriteSourceSize</key>
                <string>{934,179}</string>
                <key>textureRect</key>
                <string>{{937,1855},{934,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,210}</string>
                <key>spriteSourceSize</key>
                <string>{934,210}</string>
                <key>textureRect</key>
                <string>{{937,1249},{934,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MaCaoLines.png</string>
            <key>size</key>
            <string>{1872,2264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6354412b6dc8716eca7eb961dc836eae:69167ff15ceaf05efd316695421bc0d5:295bbc2e87b51f842b303942d1725f04$</string>
            <key>textureFileName</key>
            <string>MaCaoLines.png</string>
        </dict>
    </dict>
</plist>
