<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{365,224},{137,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,193}</string>
                <key>spriteSourceSize</key>
                <string>{199,193}</string>
                <key>textureRect</key>
                <string>{{1,1083},{199,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{367,346},{146,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,111}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{1,75},{116,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,116}</string>
                <key>spriteSourceSize</key>
                <string>{123,116}</string>
                <key>textureRect</key>
                <string>{{1,188},{123,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,72}</string>
                <key>spriteSourceSize</key>
                <string>{126,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,103}</string>
                <key>spriteSourceSize</key>
                <string>{134,103}</string>
                <key>textureRect</key>
                <string>{{129,1},{134,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,113}</string>
                <key>spriteSourceSize</key>
                <string>{128,113}</string>
                <key>textureRect</key>
                <string>{{119,106},{128,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,104}</string>
                <key>textureRect</key>
                <string>{{265,1},{138,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,183}</string>
                <key>spriteSourceSize</key>
                <string>{198,183}</string>
                <key>textureRect</key>
                <string>{{249,908},{198,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,128}</string>
                <key>spriteSourceSize</key>
                <string>{125,128}</string>
                <key>textureRect</key>
                <string>{{237,346},{125,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,256}</string>
                <key>spriteSourceSize</key>
                <string>{141,256}</string>
                <key>textureRect</key>
                <string>{{1,762},{141,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,299}</string>
                <key>spriteSourceSize</key>
                <string>{194,299}</string>
                <key>textureRect</key>
                <string>{{202,1093},{194,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,243}</string>
                <key>spriteSourceSize</key>
                <string>{144,243}</string>
                <key>textureRect</key>
                <string>{{259,762},{144,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,233}</string>
                <key>spriteSourceSize</key>
                <string>{115,233}</string>
                <key>textureRect</key>
                <string>{{249,107},{115,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,234}</string>
                <key>spriteSourceSize</key>
                <string>{121,234}</string>
                <key>textureRect</key>
                <string>{{1,344},{121,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,195}</string>
                <key>spriteSourceSize</key>
                <string>{126,195}</string>
                <key>textureRect</key>
                <string>{{1,467},{126,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,199}</string>
                <key>spriteSourceSize</key>
                <string>{134,199}</string>
                <key>textureRect</key>
                <string>{{1,623},{134,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,227}</string>
                <key>spriteSourceSize</key>
                <string>{127,227}</string>
                <key>textureRect</key>
                <string>{{198,494},{127,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,205}</string>
                <key>spriteSourceSize</key>
                <string>{137,205}</string>
                <key>textureRect</key>
                <string>{{202,623},{137,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,246}</string>
                <key>spriteSourceSize</key>
                <string>{176,246}</string>
                <key>textureRect</key>
                <string>{{1,905},{176,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,244}</string>
                <key>spriteSourceSize</key>
                <string>{118,244}</string>
                <key>textureRect</key>
                <string>{{119,224},{118,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_room_100k.png</string>
            <key>size</key>
            <string>{503,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc365c0b1ce2360165ebf2647e4ea38:cc79c0316d2ad16357b8471f3b7a8e30:dc133af525e7da0a62a1e04261d18110$</string>
            <key>textureFileName</key>
            <string>icon_room_100k.png</string>
        </dict>
    </dict>
</plist>
