<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,90}</string>
                <key>spriteSourceSize</key>
                <string>{188,90}</string>
                <key>textureRect</key>
                <string>{{252,1},{188,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{393,267},{43,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,46}</string>
                <key>spriteSourceSize</key>
                <string>{193,46}</string>
                <key>textureRect</key>
                <string>{{252,191},{193,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jackpotHistory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,44}</string>
                <key>spriteSourceSize</key>
                <string>{183,44}</string>
                <key>textureRect</key>
                <string>{{252,386},{183,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,42}</string>
                <key>spriteSourceSize</key>
                <string>{186,42}</string>
                <key>textureRect</key>
                <string>{{300,191},{186,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,249}</string>
                <key>spriteSourceSize</key>
                <string>{397,249}</string>
                <key>textureRect</key>
                <string>{{1,1},{397,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sessionHistory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,47}</string>
                <key>spriteSourceSize</key>
                <string>{309,47}</string>
                <key>textureRect</key>
                <string>{{344,1},{309,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toggle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,36}</string>
                <key>spriteSourceSize</key>
                <string>{264,36}</string>
                <key>textureRect</key>
                <string>{{393,1},{264,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{436,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94bf503b0cba2e8101116bc288db6366:a59f002e3230eb8bb12009eb1738e166:b9c870dc099f34bca3e3b2447514f602$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
