<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_100K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{1,280},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_10K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,187},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_1K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_1M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{95,1},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_500K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{95,280},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_50K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{94,187},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_5K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,94},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_5M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{94,94},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,134}</string>
                <key>spriteSourceSize</key>
                <string>{147,134}</string>
                <key>textureRect</key>
                <string>{{1,373},{147,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chip.png</string>
            <key>size</key>
            <string>{188,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4854233875cc6954d05507432e3c20:0ef128815ca2acf5f89adc4ae2b27958:25c6ce4daab62c6d89be3953d1bb4cd1$</string>
            <key>textureFileName</key>
            <string>chip.png</string>
        </dict>
    </dict>
</plist>
