<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{942,542}</string>
                <key>spriteSourceSize</key>
                <string>{942,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{942,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{893,424}</string>
                <key>spriteSourceSize</key>
                <string>{893,424}</string>
                <key>textureRect</key>
                <string>{{1,545},{893,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,51}</string>
                <key>textureRect</key>
                <string>{{896,894},{96,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,385}</string>
                <key>spriteSourceSize</key>
                <string>{1,385}</string>
                <key>textureRect</key>
                <string>{{985,1},{1,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,38}</string>
                <key>spriteSourceSize</key>
                <string>{891,38}</string>
                <key>textureRect</key>
                <string>{{945,1},{891,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caoThapPopup.png</string>
            <key>size</key>
            <string>{993,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa7d3867af10c3d5ee75c9d8765006f:cdc63366b6d38ca10fa6a32ddead53a1:34afa13b7f4d22f53426a2f7897f94f9$</string>
            <key>textureFileName</key>
            <string>caoThapPopup.png</string>
        </dict>
    </dict>
</plist>
