<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,291}</string>
                <key>spriteSourceSize</key>
                <string>{180,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamebai_iat copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,42}</string>
                <key>spriteSourceSize</key>
                <string>{174,42}</string>
                <key>textureRect</key>
                <string>{{1,340},{174,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamebai_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,32}</string>
                <key>spriteSourceSize</key>
                <string>{147,32}</string>
                <key>textureRect</key>
                <string>{{182,307},{147,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamelive_iat copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,42}</string>
                <key>spriteSourceSize</key>
                <string>{174,42}</string>
                <key>textureRect</key>
                <string>{{1,384},{174,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamelive_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,24}</string>
                <key>spriteSourceSize</key>
                <string>{151,24}</string>
                <key>textureRect</key>
                <string>{{1,595},{151,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameslot_iat copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,42}</string>
                <key>spriteSourceSize</key>
                <string>{174,42}</string>
                <key>textureRect</key>
                <string>{{1,428},{174,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameslot_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,34}</string>
                <key>spriteSourceSize</key>
                <string>{163,34}</string>
                <key>textureRect</key>
                <string>{{183,1},{163,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,3}</string>
                <key>spriteSourceSize</key>
                <string>{181,3}</string>
                <key>textureRect</key>
                <string>{{177,294},{181,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minigame_iat copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,42}</string>
                <key>spriteSourceSize</key>
                <string>{174,42}</string>
                <key>textureRect</key>
                <string>{{1,472},{174,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minigame_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,33}</string>
                <key>spriteSourceSize</key>
                <string>{156,33}</string>
                <key>textureRect</key>
                <string>{{1,560},{156,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quayso_iat copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,42}</string>
                <key>spriteSourceSize</key>
                <string>{174,42}</string>
                <key>textureRect</key>
                <string>{{1,516},{174,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quayso_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,33}</string>
                <key>spriteSourceSize</key>
                <string>{139,33}</string>
                <key>textureRect</key>
                <string>{{183,166},{139,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag_all_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,44}</string>
                <key>spriteSourceSize</key>
                <string>{174,44}</string>
                <key>textureRect</key>
                <string>{{1,294},{174,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_all_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,36}</string>
                <key>spriteSourceSize</key>
                <string>{120,36}</string>
                <key>textureRect</key>
                <string>{{177,477},{120,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tagGame.png</string>
            <key>size</key>
            <string>{218,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ebaaf5ec70119679c8efc82a68756f4:b400a0d0efe47053b84a6b54bab1dee4:d75b45a421ddabea958721ff3536d228$</string>
            <key>textureFileName</key>
            <string>tagGame.png</string>
        </dict>
    </dict>
</plist>
