<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{847,493},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{847,575},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{847,329},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10k_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{847,411},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{847,1},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1k_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{847,83},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{847,165},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5k_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{847,247},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,361}</string>
                <key>spriteSourceSize</key>
                <string>{743,361}</string>
                <key>textureRect</key>
                <string>{{484,1},{743,361}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,165}</string>
                <key>spriteSourceSize</key>
                <string>{574,165}</string>
                <key>textureRect</key>
                <string>{{242,746},{574,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,481}</string>
                <key>spriteSourceSize</key>
                <string>{386,481}</string>
                <key>textureRect</key>
                <string>{{1,1},{386,481}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,105}</string>
                <key>spriteSourceSize</key>
                <string>{357,105}</string>
                <key>textureRect</key>
                <string>{{135,389},{357,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,101}</string>
                <key>spriteSourceSize</key>
                <string>{353,101}</string>
                <key>textureRect</key>
                <string>{{242,389},{353,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,132}</string>
                <key>spriteSourceSize</key>
                <string>{429,132}</string>
                <key>textureRect</key>
                <string>{{1,389},{429,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ketqua2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,71}</string>
                <key>spriteSourceSize</key>
                <string>{230,71}</string>
                <key>textureRect</key>
                <string>{{1,820},{230,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sieutoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,60}</string>
                <key>spriteSourceSize</key>
                <string>{164,60}</string>
                <key>textureRect</key>
                <string>{{818,746},{164,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sieutoc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,60}</string>
                <key>spriteSourceSize</key>
                <string>{164,60}</string>
                <key>textureRect</key>
                <string>{{345,389},{164,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tuquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,60}</string>
                <key>spriteSourceSize</key>
                <string>{164,60}</string>
                <key>textureRect</key>
                <string>{{345,555},{164,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tuquay2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,60}</string>
                <key>spriteSourceSize</key>
                <string>{164,60}</string>
                <key>textureRect</key>
                <string>{{407,389},{164,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{407,555},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{407,620},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_lichsucuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{847,657},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{135,748},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minipoker.png</string>
            <key>size</key>
            <string>{926,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a16dd184cdc2805651f57b58a936645c:c2cef8f81d797301850bc097486b9de1:294c490b642e2461edb2d1636beaa17e$</string>
            <key>textureFileName</key>
            <string>minipoker.png</string>
        </dict>
    </dict>
</plist>
