<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bau-xanh-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{638,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{638,265},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ca-xanh-copy-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{726,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ca@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{714,265},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cua-xanh-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{638,89},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cua@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{638,341},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ga-xanh-copy-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{726,89},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ga@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{714,341},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-lich-su-cau@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,635}</string>
                <key>spriteSourceSize</key>
                <string>{473,635}</string>
                <key>textureRect</key>
                <string>{{1,1},{473,635}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nai-xanh-copy-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{638,177},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nai@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{638,417},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,144}</string>
                <key>spriteSourceSize</key>
                <string>{9,144}</string>
                <key>textureRect</key>
                <string>{{435,476},{9,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scroll-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,432}</string>
                <key>spriteSourceSize</key>
                <string>{11,432}</string>
                <key>textureRect</key>
                <string>{{1,476},{11,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tom-xanh-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{726,177},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tom@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{714,417},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xem-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{790,265},{92,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xem-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{790,359},{92,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cauHistory.png</string>
            <key>size</key>
            <string>{837,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa4105f593d429355090784788dd380:f435fbdf09f3272e7cfcfb637efd241f:d76c63975a3ee18e802d8a32e33ab875$</string>
            <key>textureFileName</key>
            <string>cauHistory.png</string>
        </dict>
    </dict>
</plist>
