<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,145}</string>
                <key>textureRect</key>
                <string>{{123,236},{158,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,103}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{603,117},{120,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,120}</string>
                <key>spriteSourceSize</key>
                <string>{113,120}</string>
                <key>textureRect</key>
                <string>{{596,239},{113,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,114}</string>
                <key>spriteSourceSize</key>
                <string>{111,114}</string>
                <key>textureRect</key>
                <string>{{325,123},{111,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,90}</string>
                <key>textureRect</key>
                <string>{{602,361},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,109}</string>
                <key>spriteSourceSize</key>
                <string>{128,109}</string>
                <key>textureRect</key>
                <string>{{1018,116},{128,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,109}</string>
                <key>spriteSourceSize</key>
                <string>{96,109}</string>
                <key>textureRect</key>
                <string>{{498,230},{96,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,145}</string>
                <key>textureRect</key>
                <string>{{123,236},{158,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,103}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{603,117},{120,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,120}</string>
                <key>spriteSourceSize</key>
                <string>{113,120}</string>
                <key>textureRect</key>
                <string>{{596,239},{113,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,153}</string>
                <key>spriteSourceSize</key>
                <string>{120,153}</string>
                <key>textureRect</key>
                <string>{{708,115},{120,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{114,120}</string>
                <key>textureRect</key>
                <string>{{1005,246},{114,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{111,110}</string>
                <key>textureRect</key>
                <string>{{489,390},{111,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,138}</string>
                <key>spriteSourceSize</key>
                <string>{129,138}</string>
                <key>textureRect</key>
                <string>{{711,237},{129,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,145}</string>
                <key>textureRect</key>
                <string>{{123,236},{158,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,103}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{603,117},{120,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,120}</string>
                <key>spriteSourceSize</key>
                <string>{113,120}</string>
                <key>textureRect</key>
                <string>{{596,239},{113,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,152}</string>
                <key>spriteSourceSize</key>
                <string>{120,152}</string>
                <key>textureRect</key>
                <string>{{376,236},{120,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{114,120}</string>
                <key>textureRect</key>
                <string>{{696,368},{114,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{818,368},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,134}</string>
                <key>spriteSourceSize</key>
                <string>{133,134}</string>
                <key>textureRect</key>
                <string>{{930,362},{133,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,194}</string>
                <key>spriteSourceSize</key>
                <string>{157,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,153}</string>
                <key>spriteSourceSize</key>
                <string>{120,153}</string>
                <key>textureRect</key>
                <string>{{863,116},{120,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,164}</string>
                <key>spriteSourceSize</key>
                <string>{113,164}</string>
                <key>textureRect</key>
                <string>{{879,1},{113,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,163}</string>
                <key>spriteSourceSize</key>
                <string>{111,163}</string>
                <key>textureRect</key>
                <string>{{160,123},{111,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,139}</string>
                <key>spriteSourceSize</key>
                <string>{91,139}</string>
                <key>textureRect</key>
                <string>{{283,236},{91,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,152}</string>
                <key>spriteSourceSize</key>
                <string>{119,152}</string>
                <key>textureRect</key>
                <string>{{851,238},{119,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,158}</string>
                <key>spriteSourceSize</key>
                <string>{96,158}</string>
                <key>textureRect</key>
                <string>{{1,402},{96,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,194}</string>
                <key>spriteSourceSize</key>
                <string>{157,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,153}</string>
                <key>spriteSourceSize</key>
                <string>{120,153}</string>
                <key>textureRect</key>
                <string>{{863,116},{120,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,164}</string>
                <key>spriteSourceSize</key>
                <string>{113,164}</string>
                <key>textureRect</key>
                <string>{{879,1},{113,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,203}</string>
                <key>spriteSourceSize</key>
                <string>{120,203}</string>
                <key>textureRect</key>
                <string>{{1,197},{120,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,170}</string>
                <key>spriteSourceSize</key>
                <string>{114,170}</string>
                <key>textureRect</key>
                <string>{{364,1},{114,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,160}</string>
                <key>spriteSourceSize</key>
                <string>{111,160}</string>
                <key>textureRect</key>
                <string>{{441,117},{111,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,169}</string>
                <key>spriteSourceSize</key>
                <string>{112,169}</string>
                <key>textureRect</key>
                <string>{{708,1},{112,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,194}</string>
                <key>spriteSourceSize</key>
                <string>{157,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,153}</string>
                <key>spriteSourceSize</key>
                <string>{120,153}</string>
                <key>textureRect</key>
                <string>{{863,116},{120,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,164}</string>
                <key>spriteSourceSize</key>
                <string>{113,164}</string>
                <key>textureRect</key>
                <string>{{879,1},{113,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,202}</string>
                <key>spriteSourceSize</key>
                <string>{120,202}</string>
                <key>textureRect</key>
                <string>{{160,1},{120,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,170}</string>
                <key>spriteSourceSize</key>
                <string>{114,170}</string>
                <key>textureRect</key>
                <string>{{536,1},{114,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,161}</string>
                <key>spriteSourceSize</key>
                <string>{110,161}</string>
                <key>textureRect</key>
                <string>{{326,390},{110,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,163}</string>
                <key>spriteSourceSize</key>
                <string>{116,163}</string>
                <key>textureRect</key>
                <string>{{161,383},{116,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{1128,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:671f02941ee153563fc5f03db5e610a2:e8c7b5a21ca43888075b97e66e9c4287:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
