<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{152,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnX2@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{267,1},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungInfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,409}</string>
                <key>spriteSourceSize</key>
                <string>{680,409}</string>
                <key>textureRect</key>
                <string>{{1,95},{680,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muiTenPhai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,74}</string>
                <key>spriteSourceSize</key>
                <string>{110,74}</string>
                <key>textureRect</key>
                <string>{{155,1},{110,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HalloweenPopup.png</string>
            <key>size</key>
            <string>{411,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00594912c91963e6cd4a49b3ea8f5e2c:471069f6b2dfa885a11c17dfc7c876c0:a34d8fb7877d5f3ec357a54e39bc637c$</string>
            <key>textureFileName</key>
            <string>HalloweenPopup.png</string>
        </dict>
    </dict>
</plist>
