<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{1652,1},{137,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,193}</string>
                <key>spriteSourceSize</key>
                <string>{199,193}</string>
                <key>textureRect</key>
                <string>{{385,1},{199,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{1261,1},{146,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{1405,144},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,73}</string>
                <key>spriteSourceSize</key>
                <string>{95,73}</string>
                <key>textureRect</key>
                <string>{{1330,149},{95,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,73}</string>
                <key>textureRect</key>
                <string>{{1225,181},{103,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,87}</string>
                <key>spriteSourceSize</key>
                <string>{89,87}</string>
                <key>textureRect</key>
                <string>{{1523,144},{89,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{1153,181},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,70}</string>
                <key>spriteSourceSize</key>
                <string>{119,70}</string>
                <key>textureRect</key>
                <string>{{1691,140},{119,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{85,77}</string>
                <key>textureRect</key>
                <string>{{1612,144},{85,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,128}</string>
                <key>spriteSourceSize</key>
                <string>{125,128}</string>
                <key>textureRect</key>
                <string>{{1774,1},{125,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,256}</string>
                <key>spriteSourceSize</key>
                <string>{141,256}</string>
                <key>textureRect</key>
                <string>{{1394,1},{141,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,299}</string>
                <key>spriteSourceSize</key>
                <string>{194,299}</string>
                <key>textureRect</key>
                <string>{{580,1},{194,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,243}</string>
                <key>spriteSourceSize</key>
                <string>{144,243}</string>
                <key>textureRect</key>
                <string>{{121,1},{144,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,232}</string>
                <key>spriteSourceSize</key>
                <string>{116,232}</string>
                <key>textureRect</key>
                <string>{{267,1},{116,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,178}</string>
                <key>spriteSourceSize</key>
                <string>{95,178}</string>
                <key>textureRect</key>
                <string>{{1164,1},{95,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,178}</string>
                <key>spriteSourceSize</key>
                <string>{103,178}</string>
                <key>textureRect</key>
                <string>{{1059,1},{103,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,192}</string>
                <key>spriteSourceSize</key>
                <string>{89,192}</string>
                <key>textureRect</key>
                <string>{{881,1},{89,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,179}</string>
                <key>spriteSourceSize</key>
                <string>{70,179}</string>
                <key>textureRect</key>
                <string>{{972,185},{70,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,88}</string>
                <key>spriteSourceSize</key>
                <string>{60,88}</string>
                <key>textureRect</key>
                <string>{{881,195},{60,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,182}</string>
                <key>spriteSourceSize</key>
                <string>{85,182}</string>
                <key>textureRect</key>
                <string>{{972,1},{85,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,244}</string>
                <key>spriteSourceSize</key>
                <string>{118,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_room_1k.png</string>
            <key>size</key>
            <string>{1900,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:134ed02f350517ff6ac13ca1fd960654:9c53824b70ee420bb71e6acfacba4386:ff426662bf4e1a697610ce00241cf396$</string>
            <key>textureFileName</key>
            <string>icon_room_1k.png</string>
        </dict>
    </dict>
</plist>
