<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{103,849},{137,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,70}</string>
                <key>spriteSourceSize</key>
                <string>{134,70}</string>
                <key>textureRect</key>
                <string>{{100,1292},{134,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,109}</string>
                <key>spriteSourceSize</key>
                <string>{97,109}</string>
                <key>textureRect</key>
                <string>{{1,1285},{97,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,109}</string>
                <key>spriteSourceSize</key>
                <string>{97,109}</string>
                <key>textureRect</key>
                <string>{{1,1285},{97,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{1,1167},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,116}</string>
                <key>spriteSourceSize</key>
                <string>{77,116}</string>
                <key>textureRect</key>
                <string>{{100,1364},{77,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,43}</string>
                <key>spriteSourceSize</key>
                <string>{122,43}</string>
                <key>textureRect</key>
                <string>{{118,1247},{122,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,113}</string>
                <key>spriteSourceSize</key>
                <string>{124,113}</string>
                <key>textureRect</key>
                <string>{{127,259},{124,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,89}</string>
                <key>spriteSourceSize</key>
                <string>{122,89}</string>
                <key>textureRect</key>
                <string>{{118,1156},{122,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{127,385},{100,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,70}</string>
                <key>spriteSourceSize</key>
                <string>{134,70}</string>
                <key>textureRect</key>
                <string>{{100,1292},{134,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,256}</string>
                <key>spriteSourceSize</key>
                <string>{141,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,183}</string>
                <key>spriteSourceSize</key>
                <string>{134,183}</string>
                <key>textureRect</key>
                <string>{{100,971},{134,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,222}</string>
                <key>spriteSourceSize</key>
                <string>{97,222}</string>
                <key>textureRect</key>
                <string>{{1,943},{97,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,222}</string>
                <key>spriteSourceSize</key>
                <string>{97,222}</string>
                <key>textureRect</key>
                <string>{{1,943},{97,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,229}</string>
                <key>spriteSourceSize</key>
                <string>{115,229}</string>
                <key>textureRect</key>
                <string>{{1,487},{115,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,229}</string>
                <key>spriteSourceSize</key>
                <string>{77,229}</string>
                <key>textureRect</key>
                <string>{{144,1},{77,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,156}</string>
                <key>spriteSourceSize</key>
                <string>{122,156}</string>
                <key>textureRect</key>
                <string>{{118,691},{122,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,226}</string>
                <key>spriteSourceSize</key>
                <string>{124,226}</string>
                <key>textureRect</key>
                <string>{{1,259},{124,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,202}</string>
                <key>spriteSourceSize</key>
                <string>{122,202}</string>
                <key>textureRect</key>
                <string>{{118,487},{122,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{1,718},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,183}</string>
                <key>spriteSourceSize</key>
                <string>{134,183}</string>
                <key>textureRect</key>
                <string>{{100,971},{134,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>freespin.png</string>
            <key>size</key>
            <string>{241,1442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7e3d1da3055ae01813bb76a9e11a9de:83264badbeeb5633ebfc08dcd9d8d77d:ce0994550d1337a0e04e889863207811$</string>
            <key>textureFileName</key>
            <string>freespin.png</string>
        </dict>
    </dict>
</plist>
