<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,66}</string>
                <key>spriteSourceSize</key>
                <string>{455,66}</string>
                <key>textureRect</key>
                <string>{{1,1005},{455,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,134}</string>
                <key>spriteSourceSize</key>
                <string>{454,134}</string>
                <key>textureRect</key>
                <string>{{457,1320},{454,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,117}</string>
                <key>spriteSourceSize</key>
                <string>{456,117}</string>
                <key>textureRect</key>
                <string>{{1,559},{456,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,115}</string>
                <key>spriteSourceSize</key>
                <string>{457,115}</string>
                <key>textureRect</key>
                <string>{{1,163},{457,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,115}</string>
                <key>spriteSourceSize</key>
                <string>{457,115}</string>
                <key>textureRect</key>
                <string>{{1,280},{457,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,115}</string>
                <key>spriteSourceSize</key>
                <string>{455,115}</string>
                <key>textureRect</key>
                <string>{{1,888},{455,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,160}</string>
                <key>spriteSourceSize</key>
                <string>{456,160}</string>
                <key>textureRect</key>
                <string>{{1,397},{456,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,114}</string>
                <key>spriteSourceSize</key>
                <string>{455,114}</string>
                <key>textureRect</key>
                <string>{{458,940},{455,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,160}</string>
                <key>spriteSourceSize</key>
                <string>{459,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{459,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,161}</string>
                <key>spriteSourceSize</key>
                <string>{454,161}</string>
                <key>textureRect</key>
                <string>{{1,1111},{454,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,156}</string>
                <key>spriteSourceSize</key>
                <string>{454,156}</string>
                <key>textureRect</key>
                <string>{{1,1274},{454,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,39}</string>
                <key>spriteSourceSize</key>
                <string>{455,39}</string>
                <key>textureRect</key>
                <string>{{458,1056},{455,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,207}</string>
                <key>spriteSourceSize</key>
                <string>{456,207}</string>
                <key>textureRect</key>
                <string>{{460,254},{456,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,36}</string>
                <key>spriteSourceSize</key>
                <string>{455,36}</string>
                <key>textureRect</key>
                <string>{{1,1073},{455,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,251}</string>
                <key>spriteSourceSize</key>
                <string>{454,251}</string>
                <key>textureRect</key>
                <string>{{462,1},{454,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,221}</string>
                <key>spriteSourceSize</key>
                <string>{454,221}</string>
                <key>textureRect</key>
                <string>{{458,1097},{454,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,131}</string>
                <key>spriteSourceSize</key>
                <string>{455,131}</string>
                <key>textureRect</key>
                <string>{{458,807},{455,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,208}</string>
                <key>spriteSourceSize</key>
                <string>{455,208}</string>
                <key>textureRect</key>
                <string>{{1,678},{455,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,222}</string>
                <key>spriteSourceSize</key>
                <string>{455,222}</string>
                <key>textureRect</key>
                <string>{{459,583},{455,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,118}</string>
                <key>spriteSourceSize</key>
                <string>{456,118}</string>
                <key>textureRect</key>
                <string>{{459,463},{456,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lines.png</string>
            <key>size</key>
            <string>{917,1455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b5eb275a66410ad0c8253cb4edebdd0:c8daa21362bd34c970bac8ccca6d11c8:dab9dd9b7ff6fbdc187dc2f6ebe58f05$</string>
            <key>textureFileName</key>
            <string>lines.png</string>
        </dict>
    </dict>
</plist>
