<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>khung-chi-tiet-no-hu@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,575}</string>
                <key>spriteSourceSize</key>
                <string>{497,575}</string>
                <key>textureRect</key>
                <string>{{1,612},{497,575}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungLSHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{910,609}</string>
                <key>spriteSourceSize</key>
                <string>{910,609}</string>
                <key>textureRect</key>
                <string>{{1,1},{910,609}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,430}</string>
                <key>spriteSourceSize</key>
                <string>{9,430}</string>
                <key>textureRect</key>
                <string>{{591,612},{9,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,144}</string>
                <key>spriteSourceSize</key>
                <string>{9,144}</string>
                <key>textureRect</key>
                <string>{{578,1046},{9,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scroll-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,432}</string>
                <key>spriteSourceSize</key>
                <string>{11,432}</string>
                <key>textureRect</key>
                <string>{{578,612},{11,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soc_doc_chitietnohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,368}</string>
                <key>spriteSourceSize</key>
                <string>{3,368}</string>
                <key>textureRect</key>
                <string>{{602,612},{3,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lichsunohu.png</string>
            <key>size</key>
            <string>{912,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e12f19f844ca769b8c516878b6a9c4a:6a893fb20e2bfa450c9dbc53f1eb02bd:12dac3ca83614616b2a9a3865f1d14be$</string>
            <key>textureFileName</key>
            <string>lichsunohu.png</string>
        </dict>
    </dict>
</plist>
