<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,120}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{323,326},{137,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,193}</string>
                <key>spriteSourceSize</key>
                <string>{199,193}</string>
                <key>textureRect</key>
                <string>{{1,829},{199,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{377,566},{146,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{1,319},{115,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,112}</string>
                <key>textureRect</key>
                <string>{{350,212},{117,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{101,110}</string>
                <key>textureRect</key>
                <string>{{118,1},{101,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,83}</string>
                <key>spriteSourceSize</key>
                <string>{115,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{337,104},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1,86},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{106,118}</string>
                <key>textureRect</key>
                <string>{{1,211},{106,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,128}</string>
                <key>spriteSourceSize</key>
                <string>{125,128}</string>
                <key>textureRect</key>
                <string>{{1,556},{125,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,256}</string>
                <key>spriteSourceSize</key>
                <string>{141,256}</string>
                <key>textureRect</key>
                <string>{{1,686},{141,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,299}</string>
                <key>spriteSourceSize</key>
                <string>{194,299}</string>
                <key>textureRect</key>
                <string>{{202,860},{194,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,243}</string>
                <key>spriteSourceSize</key>
                <string>{144,243}</string>
                <key>textureRect</key>
                <string>{{259,714},{144,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,237}</string>
                <key>spriteSourceSize</key>
                <string>{115,237}</string>
                <key>textureRect</key>
                <string>{{1,439},{115,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,229}</string>
                <key>spriteSourceSize</key>
                <string>{116,229}</string>
                <key>textureRect</key>
                <string>{{240,448},{116,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,231}</string>
                <key>spriteSourceSize</key>
                <string>{101,231}</string>
                <key>textureRect</key>
                <string>{{230,1},{101,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,202}</string>
                <key>spriteSourceSize</key>
                <string>{115,202}</string>
                <key>textureRect</key>
                <string>{{119,322},{115,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,227}</string>
                <key>spriteSourceSize</key>
                <string>{108,227}</string>
                <key>textureRect</key>
                <string>{{121,212},{108,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,202}</string>
                <key>spriteSourceSize</key>
                <string>{115,202}</string>
                <key>textureRect</key>
                <string>{{119,322},{115,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,229}</string>
                <key>spriteSourceSize</key>
                <string>{105,229}</string>
                <key>textureRect</key>
                <string>{{106,104},{105,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,244}</string>
                <key>spriteSourceSize</key>
                <string>{118,244}</string>
                <key>textureRect</key>
                <string>{{131,566},{118,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_room_10k.png</string>
            <key>size</key>
            <string>{509,1055}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a98dd6b0d5f597286ff24988d4f2892:a6468ed8e79d6e91fe26f31147af1892:ad4a6809422acccf9670dbd28a46d906$</string>
            <key>textureFileName</key>
            <string>icon_room_10k.png</string>
        </dict>
    </dict>
</plist>
