<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{91,970},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{166,984},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,88}</string>
                <key>spriteSourceSize</key>
                <string>{151,88}</string>
                <key>textureRect</key>
                <string>{{1,984},{151,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnDong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,67}</string>
                <key>spriteSourceSize</key>
                <string>{220,67}</string>
                <key>textureRect</key>
                <string>{{1,327},{220,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnGameX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,47}</string>
                <key>spriteSourceSize</key>
                <string>{204,47}</string>
                <key>textureRect</key>
                <string>{{1,485},{204,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{91,1042},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSieutocOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,87}</string>
                <key>spriteSourceSize</key>
                <string>{223,87}</string>
                <key>textureRect</key>
                <string>{{1,238},{223,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSieutocOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,70}</string>
                <key>spriteSourceSize</key>
                <string>{178,70}</string>
                <key>textureRect</key>
                <string>{{1,534},{178,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{98,94}</string>
                <key>textureRect</key>
                <string>{{83,870},{98,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,244}</string>
                <key>spriteSourceSize</key>
                <string>{138,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungDuoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,80}</string>
                <key>spriteSourceSize</key>
                <string>{357,80}</string>
                <key>textureRect</key>
                <string>{{1,606},{357,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,243}</string>
                <key>spriteSourceSize</key>
                <string>{95,243}</string>
                <key>textureRect</key>
                <string>{{1,141},{95,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungTienThang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,88}</string>
                <key>spriteSourceSize</key>
                <string>{262,88}</string>
                <key>textureRect</key>
                <string>{{91,606},{262,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,14}</string>
                <key>spriteSourceSize</key>
                <string>{503,14}</string>
                <key>textureRect</key>
                <string>{{226,238},{503,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linedoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,448}</string>
                <key>spriteSourceSize</key>
                <string>{21,448}</string>
                <key>textureRect</key>
                <string>{{181,534},{21,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luotQuayFree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,212}</string>
                <key>spriteSourceSize</key>
                <string>{87,212}</string>
                <key>textureRect</key>
                <string>{{1,396},{87,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{246,1136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e79cf83ef7e6a74ee3e94e6f3524f90c:e2f3d370e1cbb3734d0883244cb52d39:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
