<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,109}</string>
                <key>spriteSourceSize</key>
                <string>{169,109}</string>
                <key>textureRect</key>
                <string>{{189,1324},{169,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_quaylai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,84}</string>
                <key>spriteSourceSize</key>
                <string>{186,84}</string>
                <key>textureRect</key>
                <string>{{1,1324},{186,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,303}</string>
                <key>spriteSourceSize</key>
                <string>{500,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,246}</string>
                <key>spriteSourceSize</key>
                <string>{500,246}</string>
                <key>textureRect</key>
                <string>{{1,845},{500,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,229}</string>
                <key>spriteSourceSize</key>
                <string>{500,229}</string>
                <key>textureRect</key>
                <string>{{1,1093},{500,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,258}</string>
                <key>spriteSourceSize</key>
                <string>{500,258}</string>
                <key>textureRect</key>
                <string>{{1,585},{500,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,277}</string>
                <key>spriteSourceSize</key>
                <string>{500,277}</string>
                <key>textureRect</key>
                <string>{{1,306},{500,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guideCB.png</string>
            <key>size</key>
            <string>{502,1434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b8fc9a4f63d2c2ae0866a205db09c3d:bf30ffe099127ea1554302c1038e56b3:19d6a38dbb5f2718770b9f912d9c3ea6$</string>
            <key>textureFileName</key>
            <string>guideCB.png</string>
        </dict>
    </dict>
</plist>
