<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,218}</string>
                <key>spriteSourceSize</key>
                <string>{1280,218}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,379}</string>
                <key>spriteSourceSize</key>
                <string>{152,379}</string>
                <key>textureRect</key>
                <string>{{1283,90},{152,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_min_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,59}</string>
                <key>spriteSourceSize</key>
                <string>{324,59}</string>
                <key>textureRect</key>
                <string>{{710,221},{324,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_muccuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,65}</string>
                <key>spriteSourceSize</key>
                <string>{302,65}</string>
                <key>textureRect</key>
                <string>{{1664,100},{302,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{707,64}</string>
                <key>spriteSourceSize</key>
                <string>{707,64}</string>
                <key>textureRect</key>
                <string>{{1,221},{707,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_songuoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,65}</string>
                <key>spriteSourceSize</key>
                <string>{302,65}</string>
                <key>textureRect</key>
                <string>{{1664,167},{302,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,35}</string>
                <key>spriteSourceSize</key>
                <string>{148,35}</string>
                <key>textureRect</key>
                <string>{{1695,63},{148,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_user2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,33}</string>
                <key>spriteSourceSize</key>
                <string>{146,33}</string>
                <key>textureRect</key>
                <string>{{1757,1},{146,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{1898,234},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_chitiet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,71}</string>
                <key>textureRect</key>
                <string>{{1905,1},{54,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_choinhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{90,46}</string>
                <key>textureRect</key>
                <string>{{1664,234},{90,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{1845,36},{62,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{1848,234},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_taoban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{90,46}</string>
                <key>textureRect</key>
                <string>{{1756,234},{90,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{1695,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_sanhbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,87}</string>
                <key>spriteSourceSize</key>
                <string>{410,87}</string>
                <key>textureRect</key>
                <string>{{1283,1},{410,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{1757,36},{22,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardLobby.png</string>
            <key>size</key>
            <string>{1967,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af7e225bbb8f974e7f5c4eaa8da4e023:92d11e456f3a61f0eb9efab5ad9d354e:2abc1f3a780a6ac628b152c1cb52eeff$</string>
            <key>textureFileName</key>
            <string>cardLobby.png</string>
        </dict>
    </dict>
</plist>
