<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{602,394},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,43}</string>
                <key>spriteSourceSize</key>
                <string>{116,43}</string>
                <key>textureRect</key>
                <string>{{693,299},{116,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,43}</string>
                <key>spriteSourceSize</key>
                <string>{112,43}</string>
                <key>textureRect</key>
                <string>{{422,410},{112,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,43}</string>
                <key>spriteSourceSize</key>
                <string>{112,43}</string>
                <key>textureRect</key>
                <string>{{693,389},{112,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,43}</string>
                <key>spriteSourceSize</key>
                <string>{116,43}</string>
                <key>textureRect</key>
                <string>{{693,344},{116,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c-hat-copy-9@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{89,93}</string>
                <key>textureRect</key>
                <string>{{602,299},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{536,410},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-chat@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,599}</string>
                <key>spriteSourceSize</key>
                <string>{407,599}</string>
                <key>textureRect</key>
                <string>{{1,1},{407,599}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung-emoji@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,210}</string>
                <key>spriteSourceSize</key>
                <string>{296,210}</string>
                <key>textureRect</key>
                <string>{{602,1},{296,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>soc_ngang_chitietnohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,14}</string>
                <key>spriteSourceSize</key>
                <string>{419,14}</string>
                <key>textureRect</key>
                <string>{{1,410},{419,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XDChat.png</string>
            <key>size</key>
            <string>{813,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36fe2aa78b2ee8b508d9fccf9b2c2d91:3539186f5b1e208bf673e7f06c1194ae:9b78000985d89effb740ea8c256e5808$</string>
            <key>textureFileName</key>
            <string>XDChat.png</string>
        </dict>
    </dict>
</plist>
