<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1318,129}</string>
                <key>spriteSourceSize</key>
                <string>{1318,129}</string>
                <key>textureRect</key>
                <string>{{102,581},{1318,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dongcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,99}</string>
                <key>spriteSourceSize</key>
                <string>{135,99}</string>
                <key>textureRect</key>
                <string>{{1,581},{135,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,106}</string>
                <key>spriteSourceSize</key>
                <string>{74,106}</string>
                <key>textureRect</key>
                <string>{{1599,168},{74,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,88}</string>
                <key>spriteSourceSize</key>
                <string>{394,88}</string>
                <key>textureRect</key>
                <string>{{1079,1},{394,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_muc_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,102}</string>
                <key>spriteSourceSize</key>
                <string>{191,102}</string>
                <key>textureRect</key>
                <string>{{1199,377},{191,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_sodu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,52}</string>
                <key>spriteSourceSize</key>
                <string>{244,52}</string>
                <key>textureRect</key>
                <string>{{1303,332},{244,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tongcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,97}</string>
                <key>spriteSourceSize</key>
                <string>{190,97}</string>
                <key>textureRect</key>
                <string>{{1567,526},{190,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tongthang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,97}</string>
                <key>spriteSourceSize</key>
                <string>{228,97}</string>
                <key>textureRect</key>
                <string>{{1357,332},{228,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{965,447},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_auto2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1473,168},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,68}</string>
                <key>spriteSourceSize</key>
                <string>{176,68}</string>
                <key>textureRect</key>
                <string>{{1129,397},{176,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_choithu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,68}</string>
                <key>spriteSourceSize</key>
                <string>{176,68}</string>
                <key>textureRect</key>
                <string>{{1666,526},{176,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_choithu_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,100}</string>
                <key>spriteSourceSize</key>
                <string>{329,100}</string>
                <key>textureRect</key>
                <string>{{1289,1},{329,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sieutoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,143}</string>
                <key>spriteSourceSize</key>
                <string>{149,143}</string>
                <key>textureRect</key>
                <string>{{1422,562},{145,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sieutoc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,143}</string>
                <key>spriteSourceSize</key>
                <string>{149,143}</string>
                <key>textureRect</key>
                <string>{{1640,1},{145,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cot_phai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,444}</string>
                <key>spriteSourceSize</key>
                <string>{55,444}</string>
                <key>textureRect</key>
                <string>{{965,1},{55,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cot_trau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,444}</string>
                <key>spriteSourceSize</key>
                <string>{55,444}</string>
                <key>textureRect</key>
                <string>{{1022,1},{55,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>denlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,297}</string>
                <key>spriteSourceSize</key>
                <string>{80,297}</string>
                <key>textureRect</key>
                <string>{{1391,1},{80,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1675,226},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_cong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1079,397},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1675,226},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1675,148},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_tru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1682,350},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ketqua_so.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1682,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{962,578}</string>
                <key>spriteSourceSize</key>
                <string>{962,578}</string>
                <key>textureRect</key>
                <string>{{1,1},{962,578}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1473,1},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{1456,300},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,118}</string>
                <key>spriteSourceSize</key>
                <string>{374,118}</string>
                <key>textureRect</key>
                <string>{{1169,1},{374,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamesBLC.png</string>
            <key>size</key>
            <string>{1784,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb44e8d00a75cd7c96be577ff9aa3a26:e18072635e848c6c88fa05101d4aa5ce:f3e04bc49651c9a17c203d0789ce292e$</string>
            <key>textureFileName</key>
            <string>gamesBLC.png</string>
        </dict>
    </dict>
</plist>
