<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-bxh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{73,75}</string>
                <key>textureRect</key>
                <string>{{362,368},{73,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-lich-su-cuoc@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{131,368},{75,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hi-u-ng@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,21}</string>
                <key>spriteSourceSize</key>
                <string>{94,21}</string>
                <key>textureRect</key>
                <string>{{131,470},{94,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huong-dan@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{208,368},{75,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nh-c-n-n@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,21}</string>
                <key>spriteSourceSize</key>
                <string>{101,21}</string>
                <key>textureRect</key>
                <string>{{131,447},{101,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>off@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,61}</string>
                <key>spriteSourceSize</key>
                <string>{128,61}</string>
                <key>textureRect</key>
                <string>{{1,368},{128,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>on@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,61}</string>
                <key>spriteSourceSize</key>
                <string>{128,61}</string>
                <key>textureRect</key>
                <string>{{1,431},{128,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quay-ve@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{285,368},{75,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vector-smart-object-copy-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,437}</string>
                <key>spriteSourceSize</key>
                <string>{365,437}</string>
                <key>textureRect</key>
                <string>{{1,1},{365,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BCSetting.png</string>
            <key>size</key>
            <string>{439,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:989391aef9f238362c0cff518e06613c:f523a6551b4721fd355e3fd27eeb538f:c8a4b451369476860a7df213cd6e0a32$</string>
            <key>textureFileName</key>
            <string>BCSetting.png</string>
        </dict>
    </dict>
</plist>
