<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,484}</string>
                <key>spriteSourceSize</key>
                <string>{341,484}</string>
                <key>textureRect</key>
                <string>{{1,57},{341,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_noidung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,54}</string>
                <key>spriteSourceSize</key>
                <string>{239,54}</string>
                <key>textureRect</key>
                <string>{{147,1},{239,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,32}</string>
                <key>spriteSourceSize</key>
                <string>{60,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,51}</string>
                <key>spriteSourceSize</key>
                <string>{82,51}</string>
                <key>textureRect</key>
                <string>{{63,1},{82,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{486,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f298920194e93ae55b8dccaa102e73e5:78837933fbf81b32a5d47f79810609d9:560f0423db1a1e46e68995a55a406f35$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
