<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1019,561}</string>
                <key>spriteSourceSize</key>
                <string>{1019,561}</string>
                <key>textureRect</key>
                <string>{{1,1},{1019,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,192}</string>
                <key>spriteSourceSize</key>
                <string>{1280,192}</string>
                <key>textureRect</key>
                <string>{{1,564},{1280,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,81}</string>
                <key>textureRect</key>
                <string>{{1414,558},{132,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,76}</string>
                <key>spriteSourceSize</key>
                <string>{315,76}</string>
                <key>textureRect</key>
                <string>{{1160,139},{315,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_sodu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,60}</string>
                <key>spriteSourceSize</key>
                <string>{315,60}</string>
                <key>textureRect</key>
                <string>{{1160,217},{315,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tienthang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1259,176}</string>
                <key>spriteSourceSize</key>
                <string>{1259,176}</string>
                <key>textureRect</key>
                <string>{{1,758},{1259,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tongcuoc_thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,136}</string>
                <key>spriteSourceSize</key>
                <string>{526,136}</string>
                <key>textureRect</key>
                <string>{{1022,1},{526,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_choithat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,186}</string>
                <key>spriteSourceSize</key>
                <string>{164,186}</string>
                <key>textureRect</key>
                <string>{{1160,279},{164,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,186}</string>
                <key>spriteSourceSize</key>
                <string>{164,186}</string>
                <key>textureRect</key>
                <string>{{1326,279},{164,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_choithu_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,136}</string>
                <key>spriteSourceSize</key>
                <string>{339,136}</string>
                <key>textureRect</key>
                <string>{{1160,1},{339,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,129}</string>
                <key>spriteSourceSize</key>
                <string>{153,129}</string>
                <key>textureRect</key>
                <string>{{1283,558},{153,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,134}</string>
                <key>spriteSourceSize</key>
                <string>{153,134}</string>
                <key>textureRect</key>
                <string>{{1262,758},{153,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sieutoc_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,89}</string>
                <key>spriteSourceSize</key>
                <string>{153,89}</string>
                <key>textureRect</key>
                <string>{{1160,467},{153,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sieutoc_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,89}</string>
                <key>spriteSourceSize</key>
                <string>{153,89}</string>
                <key>textureRect</key>
                <string>{{1315,467},{153,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{84,76}</string>
                <key>textureRect</key>
                <string>{{1414,692},{84,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{84,76}</string>
                <key>textureRect</key>
                <string>{{1398,770},{84,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{84,76}</string>
                <key>textureRect</key>
                <string>{{1398,848},{84,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MaCaoMain.png</string>
            <key>size</key>
            <string>{1513,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36707cf5df765a26e36e2a2d1d798f69:f296774d8922799842061b4688afd748:0ac5662e971ccebb793bc3a3ce993821$</string>
            <key>textureFileName</key>
            <string>MaCaoMain.png</string>
        </dict>
    </dict>
</plist>
