<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,83}</string>
                <key>spriteSourceSize</key>
                <string>{113,83}</string>
                <key>textureRect</key>
                <string>{{342,1661},{113,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,100}</string>
                <key>spriteSourceSize</key>
                <string>{147,100}</string>
                <key>textureRect</key>
                <string>{{157,1347},{147,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,83}</string>
                <key>spriteSourceSize</key>
                <string>{113,83}</string>
                <key>textureRect</key>
                <string>{{342,1661},{113,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,156}</string>
                <key>spriteSourceSize</key>
                <string>{163,156}</string>
                <key>textureRect</key>
                <string>{{168,756},{163,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{386,1461},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,148}</string>
                <key>spriteSourceSize</key>
                <string>{184,148}</string>
                <key>textureRect</key>
                <string>{{187,1},{184,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,113}</string>
                <key>spriteSourceSize</key>
                <string>{151,113}</string>
                <key>textureRect</key>
                <string>{{368,217},{151,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,97}</string>
                <key>spriteSourceSize</key>
                <string>{137,97}</string>
                <key>textureRect</key>
                <string>{{1,1472},{137,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,104}</string>
                <key>spriteSourceSize</key>
                <string>{145,104}</string>
                <key>textureRect</key>
                <string>{{1,1366},{145,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,138}</string>
                <key>textureRect</key>
                <string>{{344,664},{128,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,100}</string>
                <key>spriteSourceSize</key>
                <string>{147,100}</string>
                <key>textureRect</key>
                <string>{{157,1347},{147,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,155}</string>
                <key>spriteSourceSize</key>
                <string>{172,155}</string>
                <key>textureRect</key>
                <string>{{175,458},{172,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,148}</string>
                <key>spriteSourceSize</key>
                <string>{160,148}</string>
                <key>textureRect</key>
                <string>{{1,816},{160,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,105}</string>
                <key>spriteSourceSize</key>
                <string>{97,105}</string>
                <key>textureRect</key>
                <string>{{287,1461},{97,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,156}</string>
                <key>spriteSourceSize</key>
                <string>{151,156}</string>
                <key>textureRect</key>
                <string>{{323,1087},{151,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,156}</string>
                <key>spriteSourceSize</key>
                <string>{163,156}</string>
                <key>textureRect</key>
                <string>{{168,756},{163,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,176}</string>
                <key>spriteSourceSize</key>
                <string>{148,176}</string>
                <key>textureRect</key>
                <string>{{180,308},{148,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,139}</string>
                <key>spriteSourceSize</key>
                <string>{168,139}</string>
                <key>textureRect</key>
                <string>{{174,615},{168,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,141}</string>
                <key>spriteSourceSize</key>
                <string>{160,141}</string>
                <key>textureRect</key>
                <string>{{163,914},{160,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{333,794},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{160,1205},{155,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,99}</string>
                <key>spriteSourceSize</key>
                <string>{150,99}</string>
                <key>textureRect</key>
                <string>{{317,1240},{150,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,80}</string>
                <key>spriteSourceSize</key>
                <string>{127,80}</string>
                <key>textureRect</key>
                <string>{{1,1686},{127,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,109}</string>
                <key>spriteSourceSize</key>
                <string>{112,109}</string>
                <key>textureRect</key>
                <string>{{373,1},{112,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{146,124}</string>
                <key>textureRect</key>
                <string>{{358,370},{146,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{146,124}</string>
                <key>textureRect</key>
                <string>{{358,370},{146,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,179}</string>
                <key>spriteSourceSize</key>
                <string>{155,179}</string>
                <key>textureRect</key>
                <string>{{187,151},{155,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,109}</string>
                <key>spriteSourceSize</key>
                <string>{100,109}</string>
                <key>textureRect</key>
                <string>{{373,115},{100,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,166}</string>
                <key>spriteSourceSize</key>
                <string>{184,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,133}</string>
                <key>spriteSourceSize</key>
                <string>{144,133}</string>
                <key>textureRect</key>
                <string>{{349,518},{144,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,122}</string>
                <key>spriteSourceSize</key>
                <string>{137,122}</string>
                <key>textureRect</key>
                <string>{{148,1449},{137,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,118}</string>
                <key>spriteSourceSize</key>
                <string>{157,118}</string>
                <key>textureRect</key>
                <string>{{1,1117},{157,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,154}</string>
                <key>spriteSourceSize</key>
                <string>{127,154}</string>
                <key>textureRect</key>
                <string>{{1,1237},{127,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{228,1573},{113,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,161}</string>
                <key>spriteSourceSize</key>
                <string>{172,161}</string>
                <key>textureRect</key>
                <string>{{1,325},{172,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,167}</string>
                <key>spriteSourceSize</key>
                <string>{171,167}</string>
                <key>textureRect</key>
                <string>{{1,488},{171,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,124}</string>
                <key>spriteSourceSize</key>
                <string>{96,124}</string>
                <key>textureRect</key>
                <string>{{130,1573},{96,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,165}</string>
                <key>spriteSourceSize</key>
                <string>{157,165}</string>
                <key>textureRect</key>
                <string>{{1,657},{157,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,179}</string>
                <key>spriteSourceSize</key>
                <string>{155,179}</string>
                <key>textureRect</key>
                <string>{{187,151},{155,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,177}</string>
                <key>spriteSourceSize</key>
                <string>{154,177}</string>
                <key>textureRect</key>
                <string>{{1,169},{154,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,159}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{1,966},{149,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,159}</string>
                <key>spriteSourceSize</key>
                <string>{146,159}</string>
                <key>textureRect</key>
                <string>{{162,1057},{146,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,158}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{325,936},{149,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,118}</string>
                <key>spriteSourceSize</key>
                <string>{149,118}</string>
                <key>textureRect</key>
                <string>{{317,1341},{149,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{386,1555},{104,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,127}</string>
                <key>spriteSourceSize</key>
                <string>{113,127}</string>
                <key>textureRect</key>
                <string>{{1,1571},{113,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigCitySymbols.png</string>
            <key>size</key>
            <string>{484,1767}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4124ad997e3602da01e242591a769055:acdf4e755ddcea3c649885894c6922d5:bc55cb703e31a5e6df01fa3924c22dc0$</string>
            <key>textureFileName</key>
            <string>BigCitySymbols.png</string>
        </dict>
    </dict>
</plist>
