<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_guiket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,80}</string>
                <key>spriteSourceSize</key>
                <string>{227,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rutket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,80}</string>
                <key>spriteSourceSize</key>
                <string>{227,80}</string>
                <key>textureRect</key>
                <string>{{1,83},{227,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,36}</string>
                <key>spriteSourceSize</key>
                <string>{18,36}</string>
                <key>textureRect</key>
                <string>{{147,165},{18,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1,165},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{55,165},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ket1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{109,165},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>safe.png</string>
            <key>size</key>
            <string>{229,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30cbaa6cede90e8c31dd9e98968933f8:b30228bfd11601c466267c37c2f69c4a:e44b991d45b0dc58ec890fcdfd709d7a$</string>
            <key>textureFileName</key>
            <string>safe.png</string>
        </dict>
    </dict>
</plist>
