<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1070,441}</string>
                <key>spriteSourceSize</key>
                <string>{1070,441}</string>
                <key>textureRect</key>
                <string>{{1,1},{1070,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,183}</string>
                <key>spriteSourceSize</key>
                <string>{203,183}</string>
                <key>textureRect</key>
                <string>{{1,1073},{203,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dangxuat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,80}</string>
                <key>spriteSourceSize</key>
                <string>{227,80}</string>
                <key>textureRect</key>
                <string>{{206,1073},{227,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,36}</string>
                <key>spriteSourceSize</key>
                <string>{18,36}</string>
                <key>textureRect</key>
                <string>{{488,745},{18,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{444,637},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_baomat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{39,46}</string>
                <key>textureRect</key>
                <string>{{451,286},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,51}</string>
                <key>textureRect</key>
                <string>{{439,1274},{96,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_doivatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{439,1372},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{444,780},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{444,691},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ket1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{439,1430},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{444,745},{42,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,45}</string>
                <key>spriteSourceSize</key>
                <string>{283,45}</string>
                <key>textureRect</key>
                <string>{{451,1},{283,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,45}</string>
                <key>spriteSourceSize</key>
                <string>{268,45}</string>
                <key>textureRect</key>
                <string>{{444,367},{268,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,364}</string>
                <key>spriteSourceSize</key>
                <string>{5,364}</string>
                <key>textureRect</key>
                <string>{{444,1},{5,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_canhan_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{435,1073},{199,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag_canhan_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{1,1274},{199,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag_doimk_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{206,1155},{199,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_doimk_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{74,1274},{199,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag_homthu_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{147,1274},{199,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag_homthu_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{220,1274},{199,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag_lichsuchoi_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{293,1274},{199,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag_lichsuchoi_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,71}</string>
                <key>spriteSourceSize</key>
                <string>{199,71}</string>
                <key>textureRect</key>
                <string>{{366,1274},{199,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>profile.png</string>
            <key>size</key>
            <string>{507,1474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:853b3264e91ceb82a47180e44557cbbe:69cb65dca7672d11f120c7a530906914:1973c35e8ce1d40d6f0340d45efa878f$</string>
            <key>textureFileName</key>
            <string>profile.png</string>
        </dict>
    </dict>
</plist>
