<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{295,33},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{145,380},{142,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{1,446},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{1,516},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{1,586},{142,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{71,586},{142,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{141,586},{142,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{359,327},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{215,383},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{359,397},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{215,453},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{283,103},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{359,467},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{215,523},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{359,537},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{211,593},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{211,663},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{355,607},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{267,173},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{1,236},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{145,236},{142,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{1,306},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{1,376},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{215,243},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{215,313},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boChon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,34}</string>
                <key>spriteSourceSize</key>
                <string>{124,34}</string>
                <key>textureRect</key>
                <string>{{463,1},{124,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,89}</string>
                <key>spriteSourceSize</key>
                <string>{292,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnDisable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,77}</string>
                <key>spriteSourceSize</key>
                <string>{280,77}</string>
                <key>textureRect</key>
                <string>{{1,92},{280,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{98,94}</string>
                <key>textureRect</key>
                <string>{{411,227},{98,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongChan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,30}</string>
                <key>spriteSourceSize</key>
                <string>{166,30}</string>
                <key>textureRect</key>
                <string>{{295,1},{166,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dongLe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,29}</string>
                <key>spriteSourceSize</key>
                <string>{122,29}</string>
                <key>textureRect</key>
                <string>{{427,103},{122,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tatCa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,29}</string>
                <key>spriteSourceSize</key>
                <string>{92,29}</string>
                <key>textureRect</key>
                <string>{{458,127},{92,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,63}</string>
                <key>spriteSourceSize</key>
                <string>{264,63}</string>
                <key>textureRect</key>
                <string>{{1,171},{264,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>selectLines.png</string>
            <key>size</key>
            <string>{506,732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:899c0789cd935782203f003942b6827e:9e83da417f28c329b652772d420535a5:e403bc30b0349bac204358262ecaeefe$</string>
            <key>textureFileName</key>
            <string>selectLines.png</string>
        </dict>
    </dict>
</plist>
