<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,151}</string>
                <key>spriteSourceSize</key>
                <string>{161,151}</string>
                <key>textureRect</key>
                <string>{{169,462},{161,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,139}</string>
                <key>spriteSourceSize</key>
                <string>{164,139}</string>
                <key>textureRect</key>
                <string>{{338,362},{164,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,100}</string>
                <key>spriteSourceSize</key>
                <string>{87,100}</string>
                <key>textureRect</key>
                <string>{{365,838},{87,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{332,528},{152,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,124}</string>
                <key>textureRect</key>
                <string>{{183,1},{180,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,147}</string>
                <key>spriteSourceSize</key>
                <string>{160,147}</string>
                <key>textureRect</key>
                <string>{{1,483},{160,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,93}</string>
                <key>spriteSourceSize</key>
                <string>{150,93}</string>
                <key>textureRect</key>
                <string>{{1,632},{150,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,94}</string>
                <key>spriteSourceSize</key>
                <string>{124,94}</string>
                <key>textureRect</key>
                <string>{{103,741},{124,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,99}</string>
                <key>spriteSourceSize</key>
                <string>{92,99}</string>
                <key>textureRect</key>
                <string>{{132,838},{92,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{1,741},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{354,260},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,169}</string>
                <key>spriteSourceSize</key>
                <string>{166,169}</string>
                <key>textureRect</key>
                <string>{{183,127},{166,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,165}</string>
                <key>spriteSourceSize</key>
                <string>{166,165}</string>
                <key>textureRect</key>
                <string>{{170,295},{166,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,130}</string>
                <key>spriteSourceSize</key>
                <string>{87,130}</string>
                <key>textureRect</key>
                <string>{{233,838},{87,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,167}</string>
                <key>spriteSourceSize</key>
                <string>{152,167}</string>
                <key>textureRect</key>
                <string>{{1,166},{152,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,163}</string>
                <key>spriteSourceSize</key>
                <string>{180,163}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,166}</string>
                <key>spriteSourceSize</key>
                <string>{161,166}</string>
                <key>textureRect</key>
                <string>{{1,320},{161,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{321,682},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,156}</string>
                <key>spriteSourceSize</key>
                <string>{124,156}</string>
                <key>textureRect</key>
                <string>{{163,615},{124,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,129}</string>
                <key>spriteSourceSize</key>
                <string>{92,129}</string>
                <key>textureRect</key>
                <string>{{1,838},{92,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,125}</string>
                <key>spriteSourceSize</key>
                <string>{100,125}</string>
                <key>textureRect</key>
                <string>{{354,133},{100,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,130}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{365,1},{100,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{478,931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5029dd1740912a1528453182599d1a14:9d3939308c66547ebf991a589c3d4220:407fb495ee281d6b1760cd34293a0b79$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
