<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BANNER1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,338}</string>
                <key>spriteSourceSize</key>
                <string>{206,338}</string>
                <key>textureRect</key>
                <string>{{1,347},{206,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANNER2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,338}</string>
                <key>spriteSourceSize</key>
                <string>{206,338}</string>
                <key>textureRect</key>
                <string>{{1,687},{206,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANNER3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,338}</string>
                <key>spriteSourceSize</key>
                <string>{206,338}</string>
                <key>textureRect</key>
                <string>{{1,1027},{206,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANNER4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,338}</string>
                <key>spriteSourceSize</key>
                <string>{206,338}</string>
                <key>textureRect</key>
                <string>{{1,1367},{206,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANNER5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,338}</string>
                <key>spriteSourceSize</key>
                <string>{206,338}</string>
                <key>textureRect</key>
                <string>{{1,1707},{206,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Curves 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{209,347},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ellipse 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{209,389},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,344}</string>
                <key>spriteSourceSize</key>
                <string>{207,344}</string>
                <key>textureRect</key>
                <string>{{1,1},{207,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>banners.png</string>
            <key>size</key>
            <string>{250,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:511a8c78739108c94961bf6ae50daee6:ce0b0b36b2d358c1bb644e0e472720ac:9e2308e3df177ebaff34bb9f48415dcc$</string>
            <key>textureFileName</key>
            <string>banners.png</string>
        </dict>
    </dict>
</plist>
