<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{397,619},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100k2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{397,699},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{397,299},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10k2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{397,379},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{397,139},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1k2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{397,219},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>500k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{248,1030},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>500k2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{135,1052},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{397,459},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50k2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{397,539},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{428,1099},{58,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baiup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,145}</string>
                <key>spriteSourceSize</key>
                <string>{106,145}</string>
                <key>textureRect</key>
                <string>{{135,746},{106,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,394}</string>
                <key>spriteSourceSize</key>
                <string>{743,394}</string>
                <key>textureRect</key>
                <string>{{1,1},{743,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,132}</string>
                <key>spriteSourceSize</key>
                <string>{429,132}</string>
                <key>textureRect</key>
                <string>{{1,746},{429,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,47}</string>
                <key>spriteSourceSize</key>
                <string>{136,47}</string>
                <key>textureRect</key>
                <string>{{397,1},{136,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_luotmoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,100}</string>
                <key>spriteSourceSize</key>
                <string>{111,100}</string>
                <key>textureRect</key>
                <string>{{373,921},{111,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_luotmoi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,100}</string>
                <key>spriteSourceSize</key>
                <string>{111,100}</string>
                <key>textureRect</key>
                <string>{{135,950},{111,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{282,1110},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{330,1034},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_lichsucuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{395,1034},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{347,1099},{76,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{217,1110},{64,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>len.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,94}</string>
                <key>textureRect</key>
                <string>{{282,746},{140,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>len2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,94}</string>
                <key>textureRect</key>
                <string>{{378,779},{140,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,94}</string>
                <key>textureRect</key>
                <string>{{135,854},{140,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,94}</string>
                <key>textureRect</key>
                <string>{{277,888},{140,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>games.png</string>
            <key>size</key>
            <string>{484,1176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a943bbced56b3d8a71497f10edb1cc8:76aaf0eb36b84ec3eb03219b46e056d6:a6644920b54a40764bb2e7a1469de8dd$</string>
            <key>textureFileName</key>
            <string>games.png</string>
        </dict>
    </dict>
</plist>
