<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back-button@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{43,610},{41,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c-hat-copy-9@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{89,93}</string>
                <key>textureRect</key>
                <string>{{43,515},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,35}</string>
                <key>spriteSourceSize</key>
                <string>{820,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{820,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linevang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,381}</string>
                <key>spriteSourceSize</key>
                <string>{3,381}</string>
                <key>textureRect</key>
                <string>{{38,440},{3,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next-button@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{43,653},{41,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tittle@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,73}</string>
                <key>spriteSourceSize</key>
                <string>{332,73}</string>
                <key>textureRect</key>
                <string>{{43,440},{332,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vector-smart-object-copy-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,437}</string>
                <key>spriteSourceSize</key>
                <string>{365,437}</string>
                <key>textureRect</key>
                <string>{{38,1},{365,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{404,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dca7b2d5adbc77c3d5dfe96592ef908:d82cbefdf41ba3031430a5247aa0a6d2:a90c11ab0396de5086de12c3ccb699d4$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
