<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>betContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,92}</string>
                <key>spriteSourceSize</key>
                <string>{218,92}</string>
                <key>textureRect</key>
                <string>{{1535,560},{218,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgFreeSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{986,515}</string>
                <key>spriteSourceSize</key>
                <string>{986,515}</string>
                <key>textureRect</key>
                <string>{{1,1},{986,515}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{968,508}</string>
                <key>spriteSourceSize</key>
                <string>{968,508}</string>
                <key>textureRect</key>
                <string>{{518,1},{968,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgMoneyJackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,327}</string>
                <key>spriteSourceSize</key>
                <string>{880,327}</string>
                <key>textureRect</key>
                <string>{{1028,1},{880,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,160}</string>
                <key>spriteSourceSize</key>
                <string>{212,160}</string>
                <key>textureRect</key>
                <string>{{1566,780},{212,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBackChooseRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,140}</string>
                <key>spriteSourceSize</key>
                <string>{152,140}</string>
                <key>textureRect</key>
                <string>{{1629,638},{152,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFast_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,98}</string>
                <key>spriteSourceSize</key>
                <string>{221,98}</string>
                <key>textureRect</key>
                <string>{{1435,560},{221,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnFast_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,135}</string>
                <key>spriteSourceSize</key>
                <string>{221,135}</string>
                <key>textureRect</key>
                <string>{{1298,560},{221,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnGuide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,139}</string>
                <key>spriteSourceSize</key>
                <string>{185,139}</string>
                <key>textureRect</key>
                <string>{{1728,780},{185,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{1298,330},{228,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>freeSpinCount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,167}</string>
                <key>spriteSourceSize</key>
                <string>{140,167}</string>
                <key>textureRect</key>
                <string>{{1491,418},{140,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,4}</string>
                <key>spriteSourceSize</key>
                <string>{502,4}</string>
                <key>textureRect</key>
                <string>{{1,989},{502,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nodeBalance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,193}</string>
                <key>spriteSourceSize</key>
                <string>{464,193}</string>
                <key>textureRect</key>
                <string>{{1028,800},{464,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nodeJackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,201}</string>
                <key>spriteSourceSize</key>
                <string>{468,201}</string>
                <key>textureRect</key>
                <string>{{1028,330},{468,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nodeLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,70}</string>
                <key>spriteSourceSize</key>
                <string>{204,70}</string>
                <key>textureRect</key>
                <string>{{1494,783},{204,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nodeTotalBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,76}</string>
                <key>spriteSourceSize</key>
                <string>{254,76}</string>
                <key>textureRect</key>
                <string>{{1629,560},{254,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nodeTrial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,158}</string>
                <key>spriteSourceSize</key>
                <string>{131,158}</string>
                <key>textureRect</key>
                <string>{{1728,418},{131,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nodeUnder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,86}</string>
                <key>spriteSourceSize</key>
                <string>{373,86}</string>
                <key>textureRect</key>
                <string>{{1494,330},{373,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,65}</string>
                <key>spriteSourceSize</key>
                <string>{451,65}</string>
                <key>textureRect</key>
                <string>{{1231,330},{451,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigCityMain.png</string>
            <key>size</key>
            <string>{1909,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa21c5c5a28bbedb1244a36a3e8c3339:d6c0357ca315385136fe7c9789bcd24e:a3e029fda3fbfe03b6ef10e32d192d78$</string>
            <key>textureFileName</key>
            <string>BigCityMain.png</string>
        </dict>
    </dict>
</plist>
