<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baotri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,105}</string>
                <key>spriteSourceSize</key>
                <string>{194,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,105}</string>
                <key>spriteSourceSize</key>
                <string>{194,105}</string>
                <key>textureRect</key>
                <string>{{1,108},{194,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,49}</string>
                <key>spriteSourceSize</key>
                <string>{388,49}</string>
                <key>textureRect</key>
                <string>{{197,1},{388,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tien_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,105}</string>
                <key>spriteSourceSize</key>
                <string>{194,105}</string>
                <key>textureRect</key>
                <string>{{1,215},{194,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tien_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,105}</string>
                <key>spriteSourceSize</key>
                <string>{194,105}</string>
                <key>textureRect</key>
                <string>{{1,322},{194,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tien_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,105}</string>
                <key>spriteSourceSize</key>
                <string>{194,105}</string>
                <key>textureRect</key>
                <string>{{1,429},{194,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>coin.png</string>
            <key>size</key>
            <string>{247,535}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c316eb208bf411befc631b7de9afaa6b:627ce59eebc8ffbd4d78a3fc7cb78af3:6059f2e151ca252af15be5b1fdbd8cf4$</string>
            <key>textureFileName</key>
            <string>coin.png</string>
        </dict>
    </dict>
</plist>
