<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGMinigame1 21.47.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1248,325}</string>
                <key>spriteSourceSize</key>
                <string>{1248,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{1248,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,99}</string>
                <key>spriteSourceSize</key>
                <string>{617,99}</string>
                <key>textureRect</key>
                <string>{{1,1251},{617,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,227}</string>
                <key>spriteSourceSize</key>
                <string>{397,227}</string>
                <key>textureRect</key>
                <string>{{102,1251},{397,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>textMinigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,34}</string>
                <key>spriteSourceSize</key>
                <string>{420,34}</string>
                <key>textureRect</key>
                <string>{{328,1},{420,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonusLadyNight.png</string>
            <key>size</key>
            <string>{363,1869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61d6e4b6ebfa13b4ae8ac96a03678bbf:7cdecd14bfad795815183846f79215ea:e5778dfd244d5cda624c01c0634fb13a$</string>
            <key>textureFileName</key>
            <string>bonusLadyNight.png</string>
        </dict>
    </dict>
</plist>
