<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{729,488},{30,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BOTTOM BAR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1248,103}</string>
                <key>spriteSourceSize</key>
                <string>{1248,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{1248,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CƯỢC .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,21}</string>
                <key>spriteSourceSize</key>
                <string>{67,21}</string>
                <key>textureRect</key>
                <string>{{721,538},{67,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,55}</string>
                <key>spriteSourceSize</key>
                <string>{104,55}</string>
                <key>textureRect</key>
                <string>{{732,292},{104,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,54}</string>
                <key>spriteSourceSize</key>
                <string>{106,54}</string>
                <key>textureRect</key>
                <string>{{813,487},{106,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PANEL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{603,515}</string>
                <key>spriteSourceSize</key>
                <string>{603,515}</string>
                <key>textureRect</key>
                <string>{{1,106},{603,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,61}</string>
                <key>spriteSourceSize</key>
                <string>{109,61}</string>
                <key>textureRect</key>
                <string>{{729,377},{109,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choi_thu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,142}</string>
                <key>spriteSourceSize</key>
                <string>{184,142}</string>
                <key>textureRect</key>
                <string>{{732,106},{184,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dây.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,273}</string>
                <key>spriteSourceSize</key>
                <string>{68,273}</string>
                <key>textureRect</key>
                <string>{{622,106},{68,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freespine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,38}</string>
                <key>spriteSourceSize</key>
                <string>{243,38}</string>
                <key>textureRect</key>
                <string>{{692,106},{243,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,61}</string>
                <key>spriteSourceSize</key>
                <string>{109,61}</string>
                <key>textureRect</key>
                <string>{{750,488},{109,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>how.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,61}</string>
                <key>spriteSourceSize</key>
                <string>{108,61}</string>
                <key>textureRect</key>
                <string>{{792,377},{108,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lblFreespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,73}</string>
                <key>spriteSourceSize</key>
                <string>{221,73}</string>
                <key>textureRect</key>
                <string>{{622,381},{221,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,14}</string>
                <key>spriteSourceSize</key>
                <string>{503,14}</string>
                <key>textureRect</key>
                <string>{{606,106},{503,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,61}</string>
                <key>spriteSourceSize</key>
                <string>{108,61}</string>
                <key>textureRect</key>
                <string>{{838,292},{108,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>số dòng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,24}</string>
                <key>spriteSourceSize</key>
                <string>{127,24}</string>
                <key>textureRect</key>
                <string>{{692,351},{127,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tổng cược.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,30}</string>
                <key>spriteSourceSize</key>
                <string>{159,30}</string>
                <key>textureRect</key>
                <string>{{697,377},{159,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ví tiền.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,22}</string>
                <key>spriteSourceSize</key>
                <string>{79,22}</string>
                <key>textureRect</key>
                <string>{{697,538},{79,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1250,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07bd5d2bd54626946e4ee27401033408:6bf01d8c2725aa1c41d71860a8f52319:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
