<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,364}</string>
                <key>spriteSourceSize</key>
                <string>{642,364}</string>
                <key>textureRect</key>
                <string>{{1,1190},{642,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1187,662}</string>
                <key>spriteSourceSize</key>
                <string>{1187,662}</string>
                <key>textureRect</key>
                <string>{{1,1},{1187,662}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,74}</string>
                <key>textureRect</key>
                <string>{{645,1304},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{645,1456},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,74}</string>
                <key>textureRect</key>
                <string>{{645,1380},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,51}</string>
                <key>spriteSourceSize</key>
                <string>{112,51}</string>
                <key>textureRect</key>
                <string>{{645,1190},{112,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,498}</string>
                <key>spriteSourceSize</key>
                <string>{2,498}</string>
                <key>textureRect</key>
                <string>{{1,1556},{2,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>round1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1141,59}</string>
                <key>spriteSourceSize</key>
                <string>{1141,59}</string>
                <key>textureRect</key>
                <string>{{665,1},{1141,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>round2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1141,59}</string>
                <key>spriteSourceSize</key>
                <string>{1141,59}</string>
                <key>textureRect</key>
                <string>{{726,1},{1141,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MaCaoPopup.png</string>
            <key>size</key>
            <string>{786,1559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007f8ca8d462fa175f3ee73ae0f7ac8f:3629a25ef874a5cbb02d97063b722940:d835a350f996b273bb9c2b511a24f452$</string>
            <key>textureFileName</key>
            <string>MaCaoPopup.png</string>
        </dict>
    </dict>
</plist>
