<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{765,660},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{765,750},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10K_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{676,660},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10K_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{676,750},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1K_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{498,698},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1K_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{498,788},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5K_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{587,660},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5K_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{587,750},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_khung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{990,583}</string>
                <key>spriteSourceSize</key>
                <string>{990,583}</string>
                <key>textureRect</key>
                <string>{{1,1},{990,583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,72}</string>
                <key>spriteSourceSize</key>
                <string>{417,72}</string>
                <key>textureRect</key>
                <string>{{581,586},{417,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{359,747},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quay_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,83}</string>
                <key>spriteSourceSize</key>
                <string>{260,83}</string>
                <key>textureRect</key>
                <string>{{1,586},{260,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_quay_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,83}</string>
                <key>spriteSourceSize</key>
                <string>{260,83}</string>
                <key>textureRect</key>
                <string>{{86,586},{260,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sieutoc_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{159,77}</string>
                <key>textureRect</key>
                <string>{{329,586},{159,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sieutoc_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{159,77}</string>
                <key>textureRect</key>
                <string>{{408,586},{159,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tuquay_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,77}</string>
                <key>spriteSourceSize</key>
                <string>{160,77}</string>
                <key>textureRect</key>
                <string>{{171,586},{160,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tuquay_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,77}</string>
                <key>spriteSourceSize</key>
                <string>{160,77}</string>
                <key>textureRect</key>
                <string>{{250,586},{160,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,121}</string>
                <key>spriteSourceSize</key>
                <string>{82,121}</string>
                <key>textureRect</key>
                <string>{{171,748},{82,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,119}</string>
                <key>spriteSourceSize</key>
                <string>{102,119}</string>
                <key>textureRect</key>
                <string>{{255,748},{102,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{92,110}</string>
                <key>textureRect</key>
                <string>{{487,586},{92,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,85}</string>
                <key>spriteSourceSize</key>
                <string>{82,85}</string>
                <key>textureRect</key>
                <string>{{854,660},{82,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{854,744},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{941,660},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{941,733},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_vd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{854,806},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1013,885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ac0637953a45541439b3b96a31926f9:2e8e2f742bc6c1464f774af0267bb252:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
