<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,513}</string>
                <key>spriteSourceSize</key>
                <string>{349,513}</string>
                <key>textureRect</key>
                <string>{{1,54},{349,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_noidung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,46}</string>
                <key>spriteSourceSize</key>
                <string>{251,46}</string>
                <key>textureRect</key>
                <string>{{61,1},{251,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,51}</string>
                <key>spriteSourceSize</key>
                <string>{68,51}</string>
                <key>textureRect</key>
                <string>{{314,1},{68,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{383,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a1b650efb47d4ff7989a6bd30709fd:9fe89479e4b3b0509069b1d1fc8ac5ad:560f0423db1a1e46e68995a55a406f35$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
