<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{1487,1301},{237,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{1009,1395},{237,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{1248,1301},{237,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{657,1562},{237,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,94}</string>
                <key>spriteSourceSize</key>
                <string>{239,94}</string>
                <key>textureRect</key>
                <string>{{723,1321},{239,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{915,1489},{237,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,94}</string>
                <key>spriteSourceSize</key>
                <string>{239,94}</string>
                <key>textureRect</key>
                <string>{{819,1321},{239,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{1248,1395},{237,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{1009,1301},{237,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{915,1233},{237,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,80}</string>
                <key>spriteSourceSize</key>
                <string>{224,80}</string>
                <key>textureRect</key>
                <string>{{1154,1489},{224,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1051,469}</string>
                <key>spriteSourceSize</key>
                <string>{1051,469}</string>
                <key>textureRect</key>
                <string>{{1,762},{1051,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,173}</string>
                <key>spriteSourceSize</key>
                <string>{421,173}</string>
                <key>textureRect</key>
                <string>{{1442,1},{421,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_my_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,92}</string>
                <key>spriteSourceSize</key>
                <string>{293,92}</string>
                <key>textureRect</key>
                <string>{{1617,1},{293,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{526,1560},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1643,400},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{1588,731},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{370,1560},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_graph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{1588,896},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{1588,1061},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{1588,1226},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{1581,1391},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_session.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1462,1556},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,80}</string>
                <key>spriteSourceSize</key>
                <string>{224,80}</string>
                <key>textureRect</key>
                <string>{{896,1583},{224,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,537}</string>
                <key>spriteSourceSize</key>
                <string>{532,537}</string>
                <key>textureRect</key>
                <string>{{1054,762},{532,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,80}</string>
                <key>spriteSourceSize</key>
                <string>{224,80}</string>
                <key>textureRect</key>
                <string>{{1154,1571},{224,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1439,759}</string>
                <key>spriteSourceSize</key>
                <string>{1439,759}</string>
                <key>textureRect</key>
                <string>{{1,1},{1439,759}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{894,86}</string>
                <key>spriteSourceSize</key>
                <string>{894,86}</string>
                <key>textureRect</key>
                <string>{{1,1233},{894,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,51}</string>
                <key>textureRect</key>
                <string>{{1619,1655},{44,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_xoay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,367}</string>
                <key>spriteSourceSize</key>
                <string>{367,367}</string>
                <key>textureRect</key>
                <string>{{1,1321},{367,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nan_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1617,296},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nan_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{1619,1556},{100,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,80}</string>
                <key>spriteSourceSize</key>
                <string>{224,80}</string>
                <key>textureRect</key>
                <string>{{1380,1489},{224,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,199}</string>
                <key>spriteSourceSize</key>
                <string>{305,199}</string>
                <key>textureRect</key>
                <string>{{1442,424},{305,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,237}</string>
                <key>spriteSourceSize</key>
                <string>{351,237}</string>
                <key>textureRect</key>
                <string>{{370,1321},{351,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1643,484},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txmd5.png</string>
            <key>size</key>
            <string>{1752,1715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28bd2928b4a6d8ac9ff2b733e37f6732:3520694363af05da48b28a537a188f7f:e9c909d1a75a5750d91143a62488cac4$</string>
            <key>textureFileName</key>
            <string>txmd5.png</string>
        </dict>
    </dict>
</plist>
