<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{879,277},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,56}</string>
                <key>spriteSourceSize</key>
                <string>{109,56}</string>
                <key>textureRect</key>
                <string>{{660,324},{109,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,52}</string>
                <key>textureRect</key>
                <string>{{771,324},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,52}</string>
                <key>textureRect</key>
                <string>{{771,378},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,56}</string>
                <key>spriteSourceSize</key>
                <string>{109,56}</string>
                <key>textureRect</key>
                <string>{{660,382},{109,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,55}</string>
                <key>spriteSourceSize</key>
                <string>{108,55}</string>
                <key>textureRect</key>
                <string>{{879,220},{108,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{879,331},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{879,385},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{771,432},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{825,432},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{879,439},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{879,493},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,555},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,609},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,663},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,717},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,771},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,825},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,879},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,56}</string>
                <key>spriteSourceSize</key>
                <string>{109,56}</string>
                <key>textureRect</key>
                <string>{{660,440},{109,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,52}</string>
                <key>spriteSourceSize</key>
                <string>{96,52}</string>
                <key>textureRect</key>
                <string>{{658,1102},{96,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,52}</string>
                <key>spriteSourceSize</key>
                <string>{96,52}</string>
                <key>textureRect</key>
                <string>{{770,1036},{96,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,933},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,55}</string>
                <key>textureRect</key>
                <string>{{660,498},{109,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,52}</string>
                <key>spriteSourceSize</key>
                <string>{107,52}</string>
                <key>textureRect</key>
                <string>{{824,816},{107,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,52}</string>
                <key>spriteSourceSize</key>
                <string>{107,52}</string>
                <key>textureRect</key>
                <string>{{824,925},{107,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,987},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{660,1041},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{770,596},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{770,706},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{770,816},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{770,926},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{824,596},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{824,706},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{824,1034},{99,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{878,1087},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{766,1135},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{867,1141},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{712,1095},{100,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{771,542},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,547},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,601},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,655},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,709},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,763},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,817},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,871},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,925},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,979},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{878,1033},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnAll_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,80}</string>
                <key>spriteSourceSize</key>
                <string>{217,80}</string>
                <key>textureRect</key>
                <string>{{1,1102},{217,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnAll_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,79}</string>
                <key>spriteSourceSize</key>
                <string>{217,79}</string>
                <key>textureRect</key>
                <string>{{660,83},{217,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnEven_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,79}</string>
                <key>spriteSourceSize</key>
                <string>{217,79}</string>
                <key>textureRect</key>
                <string>{{439,1102},{217,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnEven_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,79}</string>
                <key>spriteSourceSize</key>
                <string>{217,79}</string>
                <key>textureRect</key>
                <string>{{660,164},{217,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOdd_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,80}</string>
                <key>spriteSourceSize</key>
                <string>{217,80}</string>
                <key>textureRect</key>
                <string>{{660,1},{217,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOdd_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,77}</string>
                <key>spriteSourceSize</key>
                <string>{217,77}</string>
                <key>textureRect</key>
                <string>{{660,245},{217,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSelect_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,80}</string>
                <key>spriteSourceSize</key>
                <string>{217,80}</string>
                <key>textureRect</key>
                <string>{{220,1102},{217,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSelect_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,79}</string>
                <key>spriteSourceSize</key>
                <string>{217,79}</string>
                <key>textureRect</key>
                <string>{{879,1},{217,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popupSelectLines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1099,657}</string>
                <key>spriteSourceSize</key>
                <string>{1099,657}</string>
                <key>textureRect</key>
                <string>{{1,1},{1099,657}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigCitySelectLines.png</string>
            <key>size</key>
            <string>{988,1199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc3cbc3edf7eb41c42653f4288892a9:fc1811a3df08a763ea5035b1d5ea2ea7:c32431213c8b3f5a5184a7c5b6abcd9a$</string>
            <key>textureFileName</key>
            <string>BigCitySelectLines.png</string>
        </dict>
    </dict>
</plist>
