<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AutoText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,23}</string>
                <key>spriteSourceSize</key>
                <string>{133,23}</string>
                <key>textureRect</key>
                <string>{{224,1467},{133,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,84}</string>
                <key>textureRect</key>
                <string>{{174,533},{100,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BottomBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1415,171}</string>
                <key>spriteSourceSize</key>
                <string>{1415,171}</string>
                <key>textureRect</key>
                <string>{{1,533},{1415,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CLOSEINFO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{174,1467},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{174,1517},{46,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>History.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,83}</string>
                <key>spriteSourceSize</key>
                <string>{123,83}</string>
                <key>textureRect</key>
                <string>{{270,1},{123,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HuongDan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{249,1494},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LineColumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,580}</string>
                <key>spriteSourceSize</key>
                <string>{77,580}</string>
                <key>textureRect</key>
                <string>{{174,714},{77,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NOHU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,81}</string>
                <key>textureRect</key>
                <string>{{174,635},{77,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Playtest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,66}</string>
                <key>spriteSourceSize</key>
                <string>{169,66}</string>
                <key>textureRect</key>
                <string>{{174,1296},{169,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,267}</string>
                <key>spriteSourceSize</key>
                <string>{264,267}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,133}</string>
                <key>spriteSourceSize</key>
                <string>{130,133}</string>
                <key>textureRect</key>
                <string>{{210,1632},{130,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SieuToc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{107,109}</string>
                <key>textureRect</key>
                <string>{{270,86},{107,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SieuTocOFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,97}</string>
                <key>spriteSourceSize</key>
                <string>{103,97}</string>
                <key>textureRect</key>
                <string>{{174,1764},{103,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,267}</string>
                <key>spriteSourceSize</key>
                <string>{264,267}</string>
                <key>textureRect</key>
                <string>{{1,267},{264,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TopBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,108}</string>
                <key>spriteSourceSize</key>
                <string>{473,108}</string>
                <key>textureRect</key>
                <string>{{270,195},{473,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chondongBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,137}</string>
                <key>spriteSourceSize</key>
                <string>{792,137}</string>
                <key>textureRect</key>
                <string>{{257,700},{792,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>freespin text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,34}</string>
                <key>spriteSourceSize</key>
                <string>{99,34}</string>
                <key>textureRect</key>
                <string>{{174,1565},{99,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,14}</string>
                <key>spriteSourceSize</key>
                <string>{503,14}</string>
                <key>textureRect</key>
                <string>{{380,195},{503,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{395,1949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37d442cc70fa95d204189592d9df7eb3:438c8940484deabd612e211e50718dd7:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
