<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,138}</string>
                <key>spriteSourceSize</key>
                <string>{136,138}</string>
                <key>textureRect</key>
                <string>{{1261,153},{136,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,141}</string>
                <key>spriteSourceSize</key>
                <string>{105,141}</string>
                <key>textureRect</key>
                <string>{{1548,1},{105,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,141}</string>
                <key>spriteSourceSize</key>
                <string>{105,141}</string>
                <key>textureRect</key>
                <string>{{1548,1},{105,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,169}</string>
                <key>spriteSourceSize</key>
                <string>{152,169}</string>
                <key>textureRect</key>
                <string>{{433,1},{152,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,126}</string>
                <key>spriteSourceSize</key>
                <string>{131,126}</string>
                <key>textureRect</key>
                <string>{{1536,282},{131,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,103}</string>
                <key>spriteSourceSize</key>
                <string>{139,103}</string>
                <key>textureRect</key>
                <string>{{1405,142},{139,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{1261,382},{128,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{867,334},{163,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,126}</string>
                <key>spriteSourceSize</key>
                <string>{148,126}</string>
                <key>textureRect</key>
                <string>{{347,384},{148,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,138}</string>
                <key>spriteSourceSize</key>
                <string>{136,138}</string>
                <key>textureRect</key>
                <string>{{1261,153},{136,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,161}</string>
                <key>spriteSourceSize</key>
                <string>{138,161}</string>
                <key>textureRect</key>
                <string>{{974,166},{138,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,167}</string>
                <key>spriteSourceSize</key>
                <string>{148,167}</string>
                <key>textureRect</key>
                <string>{{634,341},{148,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,121}</string>
                <key>spriteSourceSize</key>
                <string>{136,121}</string>
                <key>textureRect</key>
                <string>{{1546,144},{136,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,161}</string>
                <key>spriteSourceSize</key>
                <string>{136,161}</string>
                <key>textureRect</key>
                <string>{{1001,329},{136,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,167}</string>
                <key>spriteSourceSize</key>
                <string>{150,167}</string>
                <key>textureRect</key>
                <string>{{556,172},{150,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,116}</string>
                <key>spriteSourceSize</key>
                <string>{165,116}</string>
                <key>textureRect</key>
                <string>{{838,1},{165,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,126}</string>
                <key>spriteSourceSize</key>
                <string>{131,126}</string>
                <key>textureRect</key>
                <string>{{1393,382},{131,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,120}</string>
                <key>spriteSourceSize</key>
                <string>{149,120}</string>
                <key>textureRect</key>
                <string>{{1139,323},{149,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,133}</string>
                <key>spriteSourceSize</key>
                <string>{98,133}</string>
                <key>textureRect</key>
                <string>{{1526,410},{98,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{784,337},{165,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1401,247},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,170}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{298,1},{133,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,177}</string>
                <key>spriteSourceSize</key>
                <string>{105,177}</string>
                <key>textureRect</key>
                <string>{{168,404},{105,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,177}</string>
                <key>spriteSourceSize</key>
                <string>{105,177}</string>
                <key>textureRect</key>
                <string>{{168,404},{105,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,205}</string>
                <key>spriteSourceSize</key>
                <string>{142,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,192}</string>
                <key>spriteSourceSize</key>
                <string>{151,192}</string>
                <key>textureRect</key>
                <string>{{145,1},{151,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,164}</string>
                <key>spriteSourceSize</key>
                <string>{131,164}</string>
                <key>textureRect</key>
                <string>{{841,168},{131,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,141}</string>
                <key>spriteSourceSize</key>
                <string>{139,141}</string>
                <key>textureRect</key>
                <string>{{1405,1},{139,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,167}</string>
                <key>spriteSourceSize</key>
                <string>{128,167}</string>
                <key>textureRect</key>
                <string>{{587,1},{128,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,163}</string>
                <key>spriteSourceSize</key>
                <string>{161,163}</string>
                <key>textureRect</key>
                <string>{{956,1},{161,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,155}</string>
                <key>spriteSourceSize</key>
                <string>{145,155}</string>
                <key>textureRect</key>
                <string>{{1114,166},{145,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,170}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{298,1},{133,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,194}</string>
                <key>spriteSourceSize</key>
                <string>{136,194}</string>
                <key>textureRect</key>
                <string>{{144,208},{136,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,187}</string>
                <key>spriteSourceSize</key>
                <string>{137,187}</string>
                <key>textureRect</key>
                <string>{{282,195},{137,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,170}</string>
                <key>spriteSourceSize</key>
                <string>{133,170}</string>
                <key>textureRect</key>
                <string>{{421,173},{133,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,205}</string>
                <key>spriteSourceSize</key>
                <string>{142,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,201}</string>
                <key>spriteSourceSize</key>
                <string>{141,201}</string>
                <key>textureRect</key>
                <string>{{1,208},{141,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,135}</string>
                <key>spriteSourceSize</key>
                <string>{165,135}</string>
                <key>textureRect</key>
                <string>{{497,345},{165,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,165}</string>
                <key>spriteSourceSize</key>
                <string>{131,165}</string>
                <key>textureRect</key>
                <string>{{708,170},{131,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{148,150}</string>
                <key>textureRect</key>
                <string>{{1255,1},{148,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,165}</string>
                <key>spriteSourceSize</key>
                <string>{98,165}</string>
                <key>textureRect</key>
                <string>{{1,411},{98,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,119}</string>
                <key>spriteSourceSize</key>
                <string>{165,119}</string>
                <key>textureRect</key>
                <string>{{717,1},{165,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,155}</string>
                <key>spriteSourceSize</key>
                <string>{134,155}</string>
                <key>textureRect</key>
                <string>{{1119,1},{134,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SexyDanceSymbols.png</string>
            <key>size</key>
            <string>{1668,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2970a6f66e5e88197c802239ec0ab80:ef768dee10dd71ba14fe505026b642bd:0b381a26933d3ad5174253e345fa43bd$</string>
            <key>textureFileName</key>
            <string>SexyDanceSymbols.png</string>
        </dict>
    </dict>
</plist>
