<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tophu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,391}</string>
                <key>spriteSourceSize</key>
                <string>{279,391}</string>
                <key>textureRect</key>
                <string>{{272,1},{279,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,37}</string>
                <key>textureRect</key>
                <string>{{272,394},{80,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnInActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{311,394},{77,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chamthanhcuon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,100}</string>
                <key>spriteSourceSize</key>
                <string>{8,100}</string>
                <key>textureRect</key>
                <string>{{423,465},{8,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_LMHT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{351,394},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_banca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{487,394},{67,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_bigcityboy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{703,261},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_bonglai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,65}</string>
                <key>textureRect</key>
                <string>{{139,416},{58,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_caoboi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{423,394},{69,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_caothap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,58}</string>
                <key>spriteSourceSize</key>
                <string>{69,58}</string>
                <key>textureRect</key>
                <string>{{1,416},{69,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_cuophien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{555,335},{58,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_fash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{555,395},{58,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_halloween.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,59}</string>
                <key>textureRect</key>
                <string>{{555,274},{64,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_minipoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,58}</string>
                <key>spriteSourceSize</key>
                <string>{65,58}</string>
                <key>textureRect</key>
                <string>{{72,416},{65,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_nightclub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{703,384},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ruou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{703,323},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_sexydane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{206,416},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_thanbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{703,201},{58,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,65}</string>
                <key>spriteSourceSize</key>
                <string>{264,65}</string>
                <key>textureRect</key>
                <string>{{636,201},{264,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag_slot_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,48}</string>
                <key>spriteSourceSize</key>
                <string>{130,48}</string>
                <key>textureRect</key>
                <string>{{636,1},{130,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_slot_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,48}</string>
                <key>spriteSourceSize</key>
                <string>{130,48}</string>
                <key>textureRect</key>
                <string>{{636,51},{130,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_tatca_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,48}</string>
                <key>spriteSourceSize</key>
                <string>{130,48}</string>
                <key>textureRect</key>
                <string>{{636,101},{130,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_tatca_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,48}</string>
                <key>spriteSourceSize</key>
                <string>{130,48}</string>
                <key>textureRect</key>
                <string>{{636,151},{130,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thongbaoJackpot0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,413}</string>
                <key>spriteSourceSize</key>
                <string>{269,413}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,81}</string>
                <key>spriteSourceSize</key>
                <string>{271,81}</string>
                <key>textureRect</key>
                <string>{{553,1},{271,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tophu.png</string>
            <key>size</key>
            <string>{767,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fc837f50316091d99a85f8bdfcc2367:ef8829a02bf1dbe4477594b73dad3011:3b1d8f439326e694f3e941621913df27$</string>
            <key>textureFileName</key>
            <string>tophu.png</string>
        </dict>
    </dict>
</plist>
