<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{777,360}</string>
                <key>spriteSourceSize</key>
                <string>{777,360}</string>
                <key>textureRect</key>
                <string>{{49,1},{777,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_cuocvang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,49}</string>
                <key>spriteSourceSize</key>
                <string>{178,49}</string>
                <key>textureRect</key>
                <string>{{1027,275},{178,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{49,363},{141,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,47}</string>
                <key>spriteSourceSize</key>
                <string>{316,47}</string>
                <key>textureRect</key>
                <string>{{828,1},{316,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{595,363},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,62}</string>
                <key>spriteSourceSize</key>
                <string>{708,62}</string>
                <key>textureRect</key>
                <string>{{657,363},{708,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,50}</string>
                <key>spriteSourceSize</key>
                <string>{79,50}</string>
                <key>textureRect</key>
                <string>{{543,363},{79,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,39}</string>
                <key>spriteSourceSize</key>
                <string>{148,39}</string>
                <key>textureRect</key>
                <string>{{877,275},{148,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,46}</string>
                <key>spriteSourceSize</key>
                <string>{502,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{502,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,53}</string>
                <key>spriteSourceSize</key>
                <string>{192,53}</string>
                <key>textureRect</key>
                <string>{{276,452},{192,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,62}</string>
                <key>spriteSourceSize</key>
                <string>{259,62}</string>
                <key>textureRect</key>
                <string>{{1095,427},{259,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,52}</string>
                <key>spriteSourceSize</key>
                <string>{185,52}</string>
                <key>textureRect</key>
                <string>{{470,452},{185,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{184,474},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{657,427},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_chitienphien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{730,427},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{803,427},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{876,427},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_lichsucuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{949,427},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{276,363},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_nan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{365,363},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_thongke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{454,363},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1022,427},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ketqua_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{218,474},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,272}</string>
                <key>spriteSourceSize</key>
                <string>{245,272}</string>
                <key>textureRect</key>
                <string>{{877,1},{245,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nap_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,252}</string>
                <key>spriteSourceSize</key>
                <string>{246,252}</string>
                <key>textureRect</key>
                <string>{{1124,1},{246,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,90}</string>
                <key>spriteSourceSize</key>
                <string>{109,90}</string>
                <key>textureRect</key>
                <string>{{184,363},{109,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{92,475},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{872,319},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{828,319},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{92,363},{110,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taixiuMain.png</string>
            <key>size</key>
            <string>{1377,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:779f4d62dd45e348dc6c7d5c331f9e05:83447413d3acc327481762ffe4e824f4:0507dd67de94231c66f259a5c303712d$</string>
            <key>textureFileName</key>
            <string>taixiuMain.png</string>
        </dict>
    </dict>
</plist>
