<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,74}</string>
                <key>spriteSourceSize</key>
                <string>{224,74}</string>
                <key>textureRect</key>
                <string>{{1764,604},{224,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,376}</string>
                <key>spriteSourceSize</key>
                <string>{674,376}</string>
                <key>textureRect</key>
                <string>{{1337,226},{674,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_thongbao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,223}</string>
                <key>spriteSourceSize</key>
                <string>{676,223}</string>
                <key>textureRect</key>
                <string>{{1337,1},{676,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,116}</string>
                <key>spriteSourceSize</key>
                <string>{145,116}</string>
                <key>textureRect</key>
                <string>{{1764,680},{145,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,149}</string>
                <key>spriteSourceSize</key>
                <string>{151,149}</string>
                <key>textureRect</key>
                <string>{{1613,604},{151,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,221}</string>
                <key>spriteSourceSize</key>
                <string>{274,221}</string>
                <key>textureRect</key>
                <string>{{1337,604},{274,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,52}</string>
                <key>spriteSourceSize</key>
                <string>{247,52}</string>
                <key>textureRect</key>
                <string>{{377,753},{247,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,52}</string>
                <key>spriteSourceSize</key>
                <string>{374,52}</string>
                <key>textureRect</key>
                <string>{{1,753},{374,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BLCBonus.png</string>
            <key>size</key>
            <string>{2014,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a024e4706406d9840c5b1e3a4272a60:769dd58ede5d1ff529a2d715a7023a2e:e219a00b62c2c1365743801fdb43c19e$</string>
            <key>textureFileName</key>
            <string>BLCBonus.png</string>
        </dict>
    </dict>
</plist>
