<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{945,1},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{203,854},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{304,854},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{356,783},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{405,854},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{457,742},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{528,616},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{528,687},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{629,616},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{528,758},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{629,687},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{730,616},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{629,758},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{730,687},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{831,616},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{730,758},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{831,717},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{528,829},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{629,829},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{730,829},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{831,818},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{945,102},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{945,203},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{902,616},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{902,717},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{945,304},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{945,405},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{945,506},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{255,641},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{1,833},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{509,545},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{255,712},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{356,641},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{102,833},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{610,545},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{356,712},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{711,545},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{812,545},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{457,641},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{255,783},{99,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{942,542}</string>
                <key>spriteSourceSize</key>
                <string>{942,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{942,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bochon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,94}</string>
                <key>spriteSourceSize</key>
                <string>{252,94}</string>
                <key>textureRect</key>
                <string>{{1,545},{252,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dongchan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,94}</string>
                <key>spriteSourceSize</key>
                <string>{252,94}</string>
                <key>textureRect</key>
                <string>{{1,641},{252,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dongle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,94}</string>
                <key>spriteSourceSize</key>
                <string>{252,94}</string>
                <key>textureRect</key>
                <string>{{255,545},{252,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tatca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,94}</string>
                <key>spriteSourceSize</key>
                <string>{252,94}</string>
                <key>textureRect</key>
                <string>{{1,737},{252,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,51}</string>
                <key>textureRect</key>
                <string>{{902,818},{96,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>selectLines.png</string>
            <key>size</key>
            <string>{1015,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:921e17a564ab29398dd8263be8b210fa:3c8e09885f59d05f2b8bd216c6dc3f82:e403bc30b0349bac204358262ecaeefe$</string>
            <key>textureFileName</key>
            <string>selectLines.png</string>
        </dict>
    </dict>
</plist>
