<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1078,582}</string>
                <key>spriteSourceSize</key>
                <string>{1078,582}</string>
                <key>textureRect</key>
                <string>{{1,1},{1078,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,138}</string>
                <key>spriteSourceSize</key>
                <string>{1280,138}</string>
                <key>textureRect</key>
                <string>{{1,585},{1280,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,57}</string>
                <key>spriteSourceSize</key>
                <string>{243,57}</string>
                <key>textureRect</key>
                <string>{{1525,1},{243,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_cuoc_thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,158}</string>
                <key>spriteSourceSize</key>
                <string>{413,158}</string>
                <key>textureRect</key>
                <string>{{1299,1},{413,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,101}</string>
                <key>spriteSourceSize</key>
                <string>{93,101}</string>
                <key>textureRect</key>
                <string>{{1165,162},{93,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,64}</string>
                <key>spriteSourceSize</key>
                <string>{250,64}</string>
                <key>textureRect</key>
                <string>{{1459,1},{250,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_choithat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,63}</string>
                <key>spriteSourceSize</key>
                <string>{257,63}</string>
                <key>textureRect</key>
                <string>{{1283,659},{257,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,67}</string>
                <key>spriteSourceSize</key>
                <string>{257,67}</string>
                <key>textureRect</key>
                <string>{{1283,590},{257,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,111}</string>
                <key>spriteSourceSize</key>
                <string>{154,111}</string>
                <key>textureRect</key>
                <string>{{1450,416},{154,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{124,114}</string>
                <key>textureRect</key>
                <string>{{1459,253},{124,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_gamex2_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,79}</string>
                <key>spriteSourceSize</key>
                <string>{159,79}</string>
                <key>textureRect</key>
                <string>{{1081,494},{159,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gamex2_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,79}</string>
                <key>spriteSourceSize</key>
                <string>{159,79}</string>
                <key>textureRect</key>
                <string>{{1165,1},{159,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_st_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,82}</string>
                <key>spriteSourceSize</key>
                <string>{165,82}</string>
                <key>textureRect</key>
                <string>{{1283,506},{165,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_st_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,82}</string>
                <key>spriteSourceSize</key>
                <string>{165,82}</string>
                <key>textureRect</key>
                <string>{{1081,1},{165,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1299,416},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1371,416},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1165,265},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,14}</string>
                <key>spriteSourceSize</key>
                <string>{503,14}</string>
                <key>textureRect</key>
                <string>{{1283,1},{503,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sieutoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,82}</string>
                <key>spriteSourceSize</key>
                <string>{161,82}</string>
                <key>textureRect</key>
                <string>{{1081,168},{161,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sieutoc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,82}</string>
                <key>spriteSourceSize</key>
                <string>{161,82}</string>
                <key>textureRect</key>
                <string>{{1081,331},{161,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>games.png</string>
            <key>size</key>
            <string>{1583,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e9d55d2a8553cbc47d7b7566667cb1:4b4b6711c97bbb581a5858f86b9fefb3:a6644920b54a40764bb2e7a1469de8dd$</string>
            <key>textureFileName</key>
            <string>games.png</string>
        </dict>
    </dict>
</plist>
