<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autoBuyIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,48}</string>
                <key>spriteSourceSize</key>
                <string>{654,48}</string>
                <key>textureRect</key>
                <string>{{187,821},{654,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderDemSo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{120,912},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{837,148}</string>
                <key>spriteSourceSize</key>
                <string>{837,148}</string>
                <key>textureRect</key>
                <string>{{182,671},{837,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnDanhbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,90}</string>
                <key>spriteSourceSize</key>
                <string>{249,90}</string>
                <key>textureRect</key>
                <string>{{1,671},{249,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyInContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,668}</string>
                <key>spriteSourceSize</key>
                <string>{1160,668}</string>
                <key>textureRect</key>
                <string>{{1,1},{1160,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edbContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,139}</string>
                <key>spriteSourceSize</key>
                <string>{544,139}</string>
                <key>textureRect</key>
                <string>{{214,871},{544,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icCheck02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{138,837},{49,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icTopexit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{1,922},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,42}</string>
                <key>spriteSourceSize</key>
                <string>{164,42}</string>
                <key>textureRect</key>
                <string>{{138,671},{164,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,43}</string>
                <key>spriteSourceSize</key>
                <string>{239,43}</string>
                <key>textureRect</key>
                <string>{{93,671},{239,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyin.png</string>
            <key>size</key>
            <string>{1162,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08b88bebae981750b2acb6a987ccfb5d:c3648155d5fcf072bcb2f189513f2077:0c762eaf1afb3beb69ea05038b745125$</string>
            <key>textureFileName</key>
            <string>buyin.png</string>
        </dict>
    </dict>
</plist>
