<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-k-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,168}</string>
                <key>spriteSourceSize</key>
                <string>{162,168}</string>
                <key>textureRect</key>
                <string>{{169,195},{162,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-k@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,136}</string>
                <key>spriteSourceSize</key>
                <string>{122,136}</string>
                <key>textureRect</key>
                <string>{{252,365},{122,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-m-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{351,1},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-m@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,136}</string>
                <key>spriteSourceSize</key>
                <string>{122,136}</string>
                <key>textureRect</key>
                <string>{{661,170},{122,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-k-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,166}</string>
                <key>spriteSourceSize</key>
                <string>{163,166}</string>
                <key>textureRect</key>
                <string>{{376,341},{163,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-k@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,136}</string>
                <key>spriteSourceSize</key>
                <string>{123,136}</string>
                <key>textureRect</key>
                <string>{{127,369},{123,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100-k-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,168}</string>
                <key>spriteSourceSize</key>
                <string>{162,168}</string>
                <key>textureRect</key>
                <string>{{187,1},{162,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100-k@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,134}</string>
                <key>spriteSourceSize</key>
                <string>{122,134}</string>
                <key>textureRect</key>
                <string>{{832,374},{122,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,168}</string>
                <key>spriteSourceSize</key>
                <string>{162,168}</string>
                <key>textureRect</key>
                <string>{{333,171},{162,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,136}</string>
                <key>spriteSourceSize</key>
                <string>{122,136}</string>
                <key>textureRect</key>
                <string>{{708,339},{122,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-k-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{166,172}</string>
                <key>textureRect</key>
                <string>{{1,195},{166,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-k@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,135}</string>
                <key>spriteSourceSize</key>
                <string>{122,135}</string>
                <key>textureRect</key>
                <string>{{832,126},{122,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5-m-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,192}</string>
                <key>spriteSourceSize</key>
                <string>{184,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-m@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,135}</string>
                <key>spriteSourceSize</key>
                <string>{122,135}</string>
                <key>textureRect</key>
                <string>{{832,250},{122,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50-k-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,166}</string>
                <key>spriteSourceSize</key>
                <string>{162,166}</string>
                <key>textureRect</key>
                <string>{{544,339},{162,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50-k@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,136}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1,369},{124,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>500-k-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{497,170},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>500-k@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{832,1},{123,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{515,1},{162,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>500@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,136}</string>
                <key>spriteSourceSize</key>
                <string>{122,136}</string>
                <key>textureRect</key>
                <string>{{679,1},{122,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip-10@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{785,187},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-11@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{785,218},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{661,308},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{692,308},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{723,308},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{754,308},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{679,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-6@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{710,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-7@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{741,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-8@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{772,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip-9@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{785,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chips.png</string>
            <key>size</key>
            <string>{968,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4be6ba605cff95017276b55c8f1397:b1a0840ea7aa2910e9f3ac8d60e13e99:ba04bb3308be7542f78a75d9474d66d8$</string>
            <key>textureFileName</key>
            <string>chips.png</string>
        </dict>
    </dict>
</plist>
