<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{130,1},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{185,59},{48,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{121,85},{65,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{185,109},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>200000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{1,102},{61,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{185,1},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,55}</string>
                <key>spriteSourceSize</key>
                <string>{66,55}</string>
                <key>textureRect</key>
                <string>{{64,85},{66,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>500000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{56,1},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameLiveTips.png</string>
            <key>size</key>
            <string>{244,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29a842d574e12014d8fc3af659c3cc43:b9e68981b18ed0a2bf949bc11e3771f3:41512ab08c5d6279c24e6239059281ea$</string>
            <key>textureFileName</key>
            <string>gameLiveTips.png</string>
        </dict>
    </dict>
</plist>
