<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgGuide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1099,665}</string>
                <key>spriteSourceSize</key>
                <string>{1099,665}</string>
                <key>textureRect</key>
                <string>{{1,1},{1099,665}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,440}</string>
                <key>spriteSourceSize</key>
                <string>{841,440}</string>
                <key>textureRect</key>
                <string>{{935,849},{841,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{661,366}</string>
                <key>spriteSourceSize</key>
                <string>{661,366}</string>
                <key>textureRect</key>
                <string>{{1,1089},{661,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,462}</string>
                <key>spriteSourceSize</key>
                <string>{771,462}</string>
                <key>textureRect</key>
                <string>{{1102,1},{771,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,419}</string>
                <key>spriteSourceSize</key>
                <string>{932,419}</string>
                <key>textureRect</key>
                <string>{{1,668},{932,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,382}</string>
                <key>spriteSourceSize</key>
                <string>{722,382}</string>
                <key>textureRect</key>
                <string>{{1102,465},{722,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigCityGuide.png</string>
            <key>size</key>
            <string>{1874,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c159be3e25ed65c8d12c96694c71d4ae:5f628c7cb0c85abe191421d7b8f5d571:e2b50a57b340467a9fd36083d487cf46$</string>
            <key>textureFileName</key>
            <string>BigCityGuide.png</string>
        </dict>
    </dict>
</plist>
