<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/TaiXiu/dice_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,154}</string>
                <key>spriteSourceSize</key>
                <string>{149,154}</string>
                <key>textureRect</key>
                <string>{{1,525},{149,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,185}</string>
                <key>spriteSourceSize</key>
                <string>{173,185}</string>
                <key>textureRect</key>
                <string>{{1629,202},{173,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,203}</string>
                <key>spriteSourceSize</key>
                <string>{182,203}</string>
                <key>textureRect</key>
                <string>{{708,496},{182,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/TaiXiu/dice_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,202}</string>
                <key>spriteSourceSize</key>
                <string>{197,202}</string>
                <key>textureRect</key>
                <string>{{1096,482},{197,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/TaiXiu/dice_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,229}</string>
                <key>spriteSourceSize</key>
                <string>{204,229}</string>
                <key>textureRect</key>
                <string>{{1423,226},{204,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,237}</string>
                <key>spriteSourceSize</key>
                <string>{210,237}</string>
                <key>textureRect</key>
                <string>{{1300,462},{210,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/TaiXiu/dice_effect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,244}</string>
                <key>spriteSourceSize</key>
                <string>{218,244}</string>
                <key>textureRect</key>
                <string>{{1177,242},{218,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/TaiXiu/dice_effect_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,239}</string>
                <key>spriteSourceSize</key>
                <string>{227,239}</string>
                <key>textureRect</key>
                <string>{{949,1},{227,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,257}</string>
                <key>spriteSourceSize</key>
                <string>{231,257}</string>
                <key>textureRect</key>
                <string>{{242,258},{231,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,249}</string>
                <key>spriteSourceSize</key>
                <string>{230,249}</string>
                <key>textureRect</key>
                <string>{{484,1},{230,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,259}</string>
                <key>spriteSourceSize</key>
                <string>{239,259}</string>
                <key>textureRect</key>
                <string>{{1,264},{239,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,261}</string>
                <key>spriteSourceSize</key>
                <string>{239,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,251}</string>
                <key>spriteSourceSize</key>
                <string>{231,251}</string>
                <key>textureRect</key>
                <string>{{475,258},{231,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,255}</string>
                <key>spriteSourceSize</key>
                <string>{240,255}</string>
                <key>textureRect</key>
                <string>{{242,1},{240,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,242}</string>
                <key>spriteSourceSize</key>
                <string>{235,242}</string>
                <key>textureRect</key>
                <string>{{708,252},{235,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,236}</string>
                <key>spriteSourceSize</key>
                <string>{230,236}</string>
                <key>textureRect</key>
                <string>{{945,244},{230,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,241}</string>
                <key>spriteSourceSize</key>
                <string>{231,241}</string>
                <key>textureRect</key>
                <string>{{716,1},{231,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,229}</string>
                <key>spriteSourceSize</key>
                <string>{221,229}</string>
                <key>textureRect</key>
                <string>{{1178,1},{221,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,223}</string>
                <key>spriteSourceSize</key>
                <string>{219,223}</string>
                <key>textureRect</key>
                <string>{{1401,1},{219,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,211}</string>
                <key>spriteSourceSize</key>
                <string>{204,211}</string>
                <key>textureRect</key>
                <string>{{1539,457},{204,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,191}</string>
                <key>spriteSourceSize</key>
                <string>{199,191}</string>
                <key>textureRect</key>
                <string>{{1622,1},{199,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/TaiXiu/dice_effect_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,181}</string>
                <key>spriteSourceSize</key>
                <string>{182,181}</string>
                <key>textureRect</key>
                <string>{{913,496},{182,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/TaiXiu/dice_effect_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{475,511},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/TaiXiu/dice_effect_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,149}</string>
                <key>spriteSourceSize</key>
                <string>{154,149}</string>
                <key>textureRect</key>
                <string>{{152,525},{154,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dice_effect.png</string>
            <key>size</key>
            <string>{1814,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2562507bdb4b3c8382a1bf942eae4ccb:66f2ee4e3a20933f688d3f0dfa711363:04bcc4baaba972f93a8f4ac2357bce47$</string>
            <key>textureFileName</key>
            <string>dice_effect.png</string>
        </dict>
    </dict>
</plist>
