<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,297}</string>
                <key>spriteSourceSize</key>
                <string>{283,297}</string>
                <key>textureRect</key>
                <string>{{7,1},{283,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,297}</string>
                <key>spriteSourceSize</key>
                <string>{283,297}</string>
                <key>textureRect</key>
                <string>{{306,1},{283,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ruttien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,80}</string>
                <key>spriteSourceSize</key>
                <string>{227,80}</string>
                <key>textureRect</key>
                <string>{{772,1},{227,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{943,224},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,22}</string>
                <key>spriteSourceSize</key>
                <string>{31,22}</string>
                <key>textureRect</key>
                <string>{{960,128},{31,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_dientudong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{960,83},{43,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{819,224},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{881,224},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,45}</string>
                <key>spriteSourceSize</key>
                <string>{283,45}</string>
                <key>textureRect</key>
                <string>{{605,1},{283,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,45}</string>
                <key>spriteSourceSize</key>
                <string>{283,45}</string>
                <key>textureRect</key>
                <string>{{652,1},{283,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lineSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,1}</string>
                <key>spriteSourceSize</key>
                <string>{284,1}</string>
                <key>textureRect</key>
                <string>{{4,1},{284,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,1}</string>
                <key>spriteSourceSize</key>
                <string>{284,1}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>livechat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,45}</string>
                <key>spriteSourceSize</key>
                <string>{199,45}</string>
                <key>textureRect</key>
                <string>{{772,83},{199,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_momo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{819,83},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ribbon_momo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,71}</string>
                <key>spriteSourceSize</key>
                <string>{266,71}</string>
                <key>textureRect</key>
                <string>{{699,1},{266,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopWithdraw.png</string>
            <key>size</key>
            <string>{1002,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b710c4222d6b555839a801c4dedc5e3:e2e289bb174b9414508ce6a6ffa95459:21f941cbc29781cb1b412b2d19386fe8$</string>
            <key>textureFileName</key>
            <string>shopWithdraw.png</string>
        </dict>
    </dict>
</plist>
