<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{284,671},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{1,671},{81,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_chon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{228,671},{57,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,459}</string>
                <key>spriteSourceSize</key>
                <string>{668,459}</string>
                <key>textureRect</key>
                <string>{{1,1},{668,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,66}</string>
                <key>spriteSourceSize</key>
                <string>{143,66}</string>
                <key>textureRect</key>
                <string>{{83,671},{143,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_ls.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,35}</string>
                <key>spriteSourceSize</key>
                <string>{189,35}</string>
                <key>textureRect</key>
                <string>{{83,739},{189,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txtlshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,35}</string>
                <key>spriteSourceSize</key>
                <string>{154,35}</string>
                <key>textureRect</key>
                <string>{{274,730},{154,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{461,775}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eab12303d574bdfbb84c7d59387b9cd1:c8665c2b2217492b5523ffdb45d1ec43:b9c870dc099f34bca3e3b2447514f602$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
