<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>as-user-chinh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{1631,830},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1562,531},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c-hat-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{1811,606},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{256,899},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ch-t-c-c@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,18}</string>
                <key>spriteSourceSize</key>
                <string>{111,18}</string>
                <key>textureRect</key>
                <string>{{1819,175},{111,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,36}</string>
                <key>spriteSourceSize</key>
                <string>{227,36}</string>
                <key>textureRect</key>
                <string>{{893,847},{227,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cong-dong@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1672,531},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{629,898},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuoc-lai-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,124}</string>
                <key>textureRect</key>
                <string>{{1777,354},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuoc-lai-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,124}</string>
                <key>textureRect</key>
                <string>{{1777,480},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,206}</string>
                <key>spriteSourceSize</key>
                <string>{310,206}</string>
                <key>textureRect</key>
                <string>{{1203,1},{310,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{739,898},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gap-doi-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,124}</string>
                <key>textureRect</key>
                <string>{{377,878},{118,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gap-doi-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,124}</string>
                <key>textureRect</key>
                <string>{{503,878},{118,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ghe@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,374}</string>
                <key>spriteSourceSize</key>
                <string>{253,374}</string>
                <key>textureRect</key>
                <string>{{1,644},{253,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{1515,175},{44,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-bang-cau-nhanh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,172}</string>
                <key>spriteSourceSize</key>
                <string>{329,172}</string>
                <key>textureRect</key>
                <string>{{1515,1},{329,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-bau-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{868,644},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-bau@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{1451,644},{178,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-ca-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,201}</string>
                <key>spriteSourceSize</key>
                <string>{207,201}</string>
                <key>textureRect</key>
                <string>{{659,644},{207,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-ca@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,187}</string>
                <key>spriteSourceSize</key>
                <string>{193,187}</string>
                <key>textureRect</key>
                <string>{{1256,644},{193,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-cua-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{1062,644},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-cua@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{1631,641},{178,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-ga-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,165}</string>
                <key>spriteSourceSize</key>
                <string>{196,165}</string>
                <key>textureRect</key>
                <string>{{1412,209},{196,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung-ga@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,151}</string>
                <key>spriteSourceSize</key>
                <string>{182,151}</string>
                <key>textureRect</key>
                <string>{{1256,833},{182,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-hu-loc@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,43}</string>
                <key>spriteSourceSize</key>
                <string>{175,43}</string>
                <key>textureRect</key>
                <string>{{1203,475},{175,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-hu-tai@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,43}</string>
                <key>spriteSourceSize</key>
                <string>{177,43}</string>
                <key>textureRect</key>
                <string>{{1774,175},{177,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung-nai-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,165}</string>
                <key>spriteSourceSize</key>
                <string>{196,165}</string>
                <key>textureRect</key>
                <string>{{1579,364},{196,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-nai@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,151}</string>
                <key>spriteSourceSize</key>
                <string>{182,151}</string>
                <key>textureRect</key>
                <string>{{1440,833},{182,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-tom-sang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,201}</string>
                <key>spriteSourceSize</key>
                <string>{207,201}</string>
                <key>textureRect</key>
                <string>{{1203,209},{207,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-tom@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,187}</string>
                <key>spriteSourceSize</key>
                <string>{193,187}</string>
                <key>textureRect</key>
                <string>{{1579,175},{193,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-user-chinh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1122,847},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungSoLuong@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,45}</string>
                <key>spriteSourceSize</key>
                <string>{64,45}</string>
                <key>textureRect</key>
                <string>{{1819,288},{64,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo-bau-cua@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,68}</string>
                <key>spriteSourceSize</key>
                <string>{253,68}</string>
                <key>textureRect</key>
                <string>{{1,899},{253,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moi-button@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1792,830},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mui-ten-1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{1069,885},{36,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mui-ten-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{1792,919},{36,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mui-ten@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{1811,681},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{849,898},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,232}</string>
                <key>spriteSourceSize</key>
                <string>{280,232}</string>
                <key>textureRect</key>
                <string>{{377,644},{280,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tableBauCua@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,522}</string>
                <key>spriteSourceSize</key>
                <string>{1200,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh-cho-dat-cuoc-2-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,32}</string>
                <key>spriteSourceSize</key>
                <string>{245,32}</string>
                <key>textureRect</key>
                <string>{{1,969},{245,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh-duoi@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1559,117}</string>
                <key>spriteSourceSize</key>
                <string>{1559,117}</string>
                <key>textureRect</key>
                <string>{{1,525},{1559,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{959,885},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vector-smart-object-copy1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,49}</string>
                <key>spriteSourceSize</key>
                <string>{232,49}</string>
                <key>textureRect</key>
                <string>{{1846,1},{232,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vector-smart-object-copy@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,49}</string>
                <key>spriteSourceSize</key>
                <string>{232,49}</string>
                <key>textureRect</key>
                <string>{{659,847},{232,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vector-smart-object1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,61}</string>
                <key>spriteSourceSize</key>
                <string>{188,61}</string>
                <key>textureRect</key>
                <string>{{1203,412},{188,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BCGames.png</string>
            <key>size</key>
            <string>{1896,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d98e634badd0bb36741530176d86bc5:e4833bddf9a8c573cfc9b541208641bf:0df38fb8506a09ef3bc93871ef59ad18$</string>
            <key>textureFileName</key>
            <string>BCGames.png</string>
        </dict>
    </dict>
</plist>
