<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnChecked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{702,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnUnchecked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{702,47},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popupSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{699,435}</string>
                <key>spriteSourceSize</key>
                <string>{699,435}</string>
                <key>textureRect</key>
                <string>{{1,1},{699,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigCityBoySettings.png</string>
            <key>size</key>
            <string>{747,437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:511db60d227d8f172ffbb77b00cccdb8:4e5aca580da5d4e6592cd686f614fc69:943f20bce38f801288026c6b0e547a93$</string>
            <key>textureFileName</key>
            <string>BigCityBoySettings.png</string>
        </dict>
    </dict>
</plist>
